{{#form/auth-base title="Change Your Password" errorMessage=errorMessage}}
  {{#if isRegistered}}
    {{#elem/panel-form
      name="success"
      heading="Success"}}
      Your password has been changed.
    {{/elem/panel-form}}
  {{else}}
    <form {{action 'submitForm' on='submit'}}>
      {{auth-input
        type='password'
        value=oldPassword
        autocomplete="current-password"
        placeholder='Old Password'}}
      {{auth-input
        type='password'
        value=newPassword
        autocomplete="new-password"
        placeholder='New Password'}}
      {{suggest-link
        suggest-text="Can't remember your password?"
        link-name="reset-request"
        link-pretty="Reset"}}
      {{elem/button-submit loading=isProcessing}}
    </form>
  {{/if}}
{{/form/auth-base}}