{{#form/auth-base title="Reset Your Password" errorMessage=errorMessage}}
  {{#if isRegistered}}
    {{#elem-panel
      name="success"
      heading="Success"}}
      Your password has been changed. Please log in.
    {{/elem-panel}}
  {{else}}
    <form {{action 'submitForm' on='submit'}}>
      {{auth-input
        type='password'
        value=newPassword
        placeholder='New Password'}}
      {{suggest-link
        suggest-text="Need an account?"
        link-name="signup"
        link-pretty="Sign Up"}}
      {{submit-button loading=isProcessing}}
    </form>
  {{/if}}
{{/form/auth-base}}