{{#form/auth-base title="Reset Your Password" errorMessage=this.errorMessage}}
  {{#if this.isRegistered}}
    {{#elem/panel-form
      name="success"
      heading="Success"}}
      A password reset request has been submitted. You will receive an email shortly if the email address exists.
    {{/elem/panel-form}}
  {{else}}
    <form {{action 'submitForm' on='submit'}}>
      {{auth-input
        type='text'
        value=this.email
        placeholder='Email Address'}}
      {{#if this.session.isAuthenticated}}
        {{suggest-link
          suggest-text="Remember Your Password?"
          link-name="change-password"
          link-pretty="Change"}}
      {{else}}
        {{suggest-link
          suggest-text="Need an account?"
          link-name="signup"
          link-pretty="Sign Up"}}
      {{/if}}
      {{elem/button-submit loading=this.isProcessing}}
    </form>
  {{/if}}
{{/form/auth-base}}
