{{#form/auth-base title="Sign Up" errorMessage=this.errorMessage}}
  {{#if this.isRegistered}}
    {{#elem/panel-form
      name="success"
      heading="Success"}}
      {{this.successMessage}}
    {{/elem/panel-form}}
  {{else}}
    <form {{action 'submitForm' on='submit'}}>
      {{auth-input
        type='text'
        value=this.email
        autocomplete="email"
        placeholder='Your Email Address'}}
      {{auth-input
        type='password'
        value=this.password
        autocomplete="new-password"
        placeholder='Enter a New Password'}}
      {{auth-input
        type='text'
        value=this.name
        placeholder='Enter your name'}}
      {{auth-input
        type='text'
        value=this.institution
        placeholder='Enter the name of your institution'}}
      {{!-- auth-input
        type='text'
        value=project
        placeholder='Enter your project code, if applicable' --}}

      {{suggest-link
        suggest-text="Already have an account?"
        link-name="login"
        link-pretty="Log In"}}
      {{elem/button-submit loading=this.isProcessing}}
    </form>
  {{/if}}
{{/form/auth-base}}
