{{#form/auth-base title="Sign Up" errorMessage=errorMessage}}
  {{#if isRegistered}}
    {{#elem/panel-form
      name="success"
      heading="Success"}}
      {{successMessage}}
    {{/elem/panel-form}}
  {{else}}
    <form {{action 'submitForm' on='submit'}}>
      {{auth-input
        type='text'
        value=email
        autocomplete="email"
        placeholder='Your Email Address'}}
      {{auth-input
        type='password'
        value=password
        autocomplete="new-password"
        placeholder='Enter a New Password'}}
      {{auth-input
        type='text'
        value=name
        placeholder='Enter your name'}}
      {{auth-input
        type='text'
        value=institution
        placeholder='Enter the name of your institution'}}
      {{auth-input
        type='text'
        value=project
        placeholder='Enter your GRDC project code, if applicable'}}

      {{suggest-link
        suggest-text="Already a member?"
        link-name="login"
        link-pretty="Log In"}}
      {{elem/button-submit loading=isProcessing}}
    </form>
  {{/if}}
{{/form/auth-base}}
