
{{#ember-modal-dialog
  containerClassNames="dataset-graph"
  onClose=@close
  translucentOverlay=true
  clickOutsideToClose=false
  onClickOverlay=(action this.userMessage "Use X to close dialog")
  title="Dataset force graph"
  header-icon='search'
}}

  <div class="dataset-graph">

    <canvas id="dataset-graph-canvas" ></canvas>
    <svg id="dataset-graph-svg" ></svg>

    <div>
    {{this.datasetEmbeddings.length}}

    <BsButton @type="info" class="margin-top" @onClick={{this.initialise}}>Init</BsButton>
    <BsButton @type="info" class="margin-top" @onClick={{this.step}}>Step</BsButton>

    <BsButton @type="info" class="margin-top" @onClick={{@close}}>Close</BsButton>

    {{input type="search" value=naturalQuery
      enter=(action this.naturalQueryChanged)
      placeholder="Natural language search" }}

      <span id='popoverTargetDg'>{{this.datasetIdSelected}}</span>

    </div>

    {{yield}}

  </div>


{{/ember-modal-dialog}}
