<ul id="formFeatureEdit" style="list-style-type: none">
  <li>
    Name : {{feature.name}}
  </li>
  <li>
    Trait : {{trait}}
  </li>
  <li>
    Ontology :
    <Input @value={{this.editOntology}} />
    <button onclick={{action this.showBrowseTree}} class="btn btn-xs"><i class="glyphicon glyphicon-tree-conifer"></i></button>
  </li>
</ul>

<button onclick={{action this.setFeatureOntology}}>OK</button>
<button onclick={{action this.cancel}}>Cancel</button>

<div>{{this.errorMessage}}</div>

{{yield}}

{{#if this.browseTreeEnable}}
  {{#if this.ontologyTree.isFulfilled}}
    {{#ember-modal-dialog modal-id="browse-tree-modal" title="Browse Ontology Tree" header-icon='edit'}}
      {{record/browse-ontology-tree
        values=this.ontologyTree levelMeta=this.levelMeta
        controlOptions=this.controlOptions
        selectExpander=(action this.selectExpander)
        }}
    {{/ember-modal-dialog}}
  {{/if}}
{{/if}}