<ul id="formFeatureEdit" style="list-style-type: none">
  <li>
    Name : {{feature.name}}
  </li>
  <li>
    Trait : {{trait}}
  </li>
  <li>
    Ontology : <Input @value={{this.editOntology}} />
  </li>
</ul>

<button onclick={{action this.setFeatureOntology}}>OK</button>
<button onclick={{action this.cancel}}>Cancel</button>

<div>{{this.errorMessage}}</div>

{{yield}}