{{!-- (queue (mut selectedValue) (action @selectedGroupChanged)) --}}
  <select multiple
     onchange={{action this.selectedGroupChangedId preventDefault=false}}>
    {{#each @values as |optionValue|}}
      {{!-- selected seems to be not used for multiple --}}
      <option value={{optionValue.id}} selected={{call (fn this.selected @selectedValue optionValue) }} >{{optionValue.name}}</option>
    {{/each}}
  </select>

{{yield}}