{{#unless @tableRow}}
  <span>EmberMulti2Select</span>
{{else}}
  <EmberMulti2Table
    @userSettings={{@userSettings}}
    @dataset={{@dataset}}
    @samples={{@samples}}
    {{!-- @rows={{@rows}}     same as @samples --}}
    @selectSampleArray={{@selectSampleArray}}
    @sampleNamePassportValues={{@sampleNamePassportValues}}
    />
{{/unless}}


{{yield}}
