
{{#if this.args.dataset.isVCF}}
  <div class="margin-top">
    <button type="button" onclick={{this.getVcfStatus}} class="btn btn-info btn-xs margin-1em">Get VCF Status</button>

    <button type="button" onclick={{this.getDatasetFeaturesCounts}} class="btn btn-info btn-xs margin-1em">Prepare Dataset Histograms</button>

    <div class="margin-top status-icon">
      {{!-- #data-table data=this.rowsCombined as |t| }}

        {{#t.column propertyName='Name' name='Chr' defaultHeader=true as |col|}}
          <span class={{call (fn this.chrNotInDataset col.row.Name ) }}>{{col.row.Name}}</span>
        {{/t.column}}

        {{#each this.vcfStatus.columnNames as |columnName| }}
        {{#if this.showDetail}}
          {{#t.column propertyName=columnName name=columnName as |col| }}
            {{#if col.header}}
              <span class={{call (fn this.suffixNotInPipeline columnName ) }}>{{columnName}}</span>
            {{/if}}
            {{#if col.body}}
              {{get col.row columnName}}
            {{/if}}
          {{/t.column}}

        {{else}}
          {{#t.column propertyName=columnName name=columnName as |col|}}
            {{#if col.header}}
              <span class={{call (fn this.suffixNotInPipeline columnName ) }}>{{columnName}}</span>
            {{/if}}
            {{#if col.body}}
              {{elem/icon-base name=(call (fn this.cellIcon col.row columnName) ) }}
            {{/if}}
          {{/t.column}}
        {{/if}}
        {{/each}}

        {{#t.column reRenderSignal=this.histogramStatusChangeCount propertyName='histogramStatus' name='Histogram' defaultHeader=true as |col|}}
          <span class={{call (fn this.chrStatusClass col.row.Name ) }}>
            {{#if this.showDetail}}
              {{call (fn this.chrStatus col.row.Name ) }}
            {{/if}}
          </span>
        {{/t.column}}

      {{/data-table --}}
    </div>

    <span class="filter-group-col">
      <input type="checkbox" checked={{this.showDetail}}
        oninput={{action (mut this.showDetail) value="target.checked"}} 
      >
      <EmberTooltip side="right" delay=500>
        <span>Show size and time-stamp of VCF files</span>
      </EmberTooltip>
    </span>
    <label>Show detail</label>

    
  </div>
{{/if}}

{{yield}}