{{log this 'dual-list' @availableItems @selectedItems }}

{{!-- selection --}}
<select multiple {{on "change" this.handleSelection}}>
  {{#each @availableItems as |item|}}
    <option value={{item}} >{{item}}</option>
  {{/each}}
</select>

{{!-- --------------------------------------------------------------------- --}}
{{!-- ordered list, enabling user to re-order using drag and drop. --}}

{{!-- SortableGroup can be used either in a component form, as is shown here, or
as a modifier, as is shown in the <ol> below.  Currently the component form is
getting this error, so it is not used :
 Attempted to resolve `sortable-group`, which was expected to be a component, but nothing was found.

<SortableGroup @onChange={{this.reorder}} as |group|>
  {{#each this.selectedItems as |item|}}
    <SortableItem @model={{item}}>{{item}}</SortableItem>
  {{/each}}
</SortableGroup>
--}}


<ol {{sortable-group onChange=this.reorder }} >
  {{#each this.selectedItems as |item|}}
    <li {{sortable-item model=item}}>{{item}}</li>
  {{/each}}
</ol>

<EmberTooltip  @delay=500>
  <span>On the left, select Passport data fields, to add to the names displayed in the Genotype Table column headings. On the right, use drag/drop to change their display order and sort priority.</span>
</EmberTooltip>


{{!-- --------------------------------------------------------------------- --}}

