<div>
  <label>List of samples from VCF</label>
  {{#if @the.vcfGenotypeSamplesCount}}
    <span class="sample-count">(
      {{#if @userSettings.filterSamplesByHaplotype }} Filtered {{else}} Total {{/if}} :
      {{@the.vcfGenotypeSamplesCount}} )</span>
  {{else if @userSettings.filterSamplesByHaplotype}}
    <span class="margin-left-1em">Filtered - No matching samples found.</span>
  {{else}}
    <button type="button" onclick={{this.vcfGenotypeSamples}} class="btn btn-info btn-xs">Get samples list</button>
  {{/if}}

  {{#if @the.vcfGenotypeSamplesCount}}
    <button type="button" class="btn btn-info btn-xs padding-thin" style="margin-left:0.8em" {{on 'click' (action this.copyFilteredSamplesToClipboard) }}>
      <i class="glyphicon glyphicon-copy"></i>
      {{#ember-tooltip side="left" delay=500}}
        Copy filtered samples to clipboard
      {{/ember-tooltip}}
    </button>
  {{/if}}

  <div>
   
    <span>
    <input type="checkbox"
      checked={{@userSettings.filterSamplesByHaplotype}}
      disabled={{not @the.featureFiltersCountOfDatasetInBrushedDomain.length}}
      oninput={{pipe (action (mut @userSettings.filterSamplesByHaplotype) value="target.checked")
        @the.ensureSamples }}  >
    <label class={{if (not @the.featureFiltersCountOfDatasetInBrushedDomain.length) "disabled"}}>
      Filter by defined Haplotype
    </label>
    {{#if @the.featureFiltersCountOfDatasetInBrushedDomain.length}}
      {{#ember-tooltip side="bottom-start" delay=500}}
        Show samples selected by SNP filters
      {{/ember-tooltip}}
      {{else}}
      <a target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Genotype-tab/#selecting-a-haplotype-and-ordering-the-genotype-matrix"><i class="glyphicon glyphicon-question-sign" o></i></a>
      {{#ember-tooltip side="bottom-start" delay=500}}
        No SNPs selected, please select some SNPs first.
      {{/ember-tooltip}}
    {{/if}}
    </span>
 {{#if @the.featureFiltersCountOfDatasetInBrushedDomain.length}}
      <span class="sample-count"> (
        {{@the.featureFiltersCountOfDatasetInBrushedDomain.length}}
        {{#unless (eq @the.featureFiltersCountOfDatasetInBrushedDomain.length @the.featureFiltersCount) }} 
          in scope, out of {{@the.featureFiltersCount}}
        {{/unless}}
      SNPs ) </span>

      <span>
        <input type="checkbox"
          checked={{this.matchExactAlleles}}
          oninput={{action (mut this.matchExactAlleles) value="target.checked" }}  >
        <label>Match exact alleles</label>
        {{#ember-tooltip side="bottom-end" delay=1500}}
          Match only for samples which have a homozygous genotype value at a selected SNP.
        {{/ember-tooltip}}
      </span>

    {{/if}}
  </div>

  {{#if this.urlOptions.new}}
  {{#if @the.sampleFiltersCountSelected}}
  <div>
    <span>
    <input type="checkbox"
      checked={{@userSettings.showHaplotypes}}
      oninput={{action (mut @userSettings.showHaplotypes) value="target.checked" }}  >
    <label>Show GT pattern</label>
    {{#ember-tooltip side="bottom-start" delay=1500}}
      Show unique genotype patterns (i.e. Multi-Locus Genotypes) for the selected SNPs, and samples which have each value.
    {{/ember-tooltip}}
    </span>

    {{#if @userSettings.showHaplotypes}}

      <span class="margin-left-1em">
      <input type="checkbox"
        checked={{@userSettings.showHaplotypesSamples}}
        oninput={{action (mut @userSettings.showHaplotypesSamples) value="target.checked" }}  >
      <label>Show Samples</label>
      {{#ember-tooltip side="bottom-start" delay=1500}}
        For each genotype pattern, show samples which have that value.
      {{/ember-tooltip}}
      </span>

      <span class="margin-left-1em">
        <input type="checkbox"
          checked={{@userSettings.sortByHaplotypeValue}}
          oninput={{action (mut @userSettings.sortByHaplotypeValue) value="target.checked" }}  >
        <label>Sort by GT</label>
        {{#ember-tooltip side="bottom" delay=1500}}
          Sort the genotype patterns by their value, otherwise by their sample count.
        {{/ember-tooltip}}
      </span>

      <span class="margin-left-1em">
        <input type="checkbox"
          checked={{@userSettings.includeHetMissingHaplotypes}}
          oninput={{action (mut @userSettings.includeHetMissingHaplotypes) value="target.checked" }}  >
        <label>Show Het & missing</label>
        {{#ember-tooltip side="bottom-end" delay=1500}}
          Include genotype patterns with heterozygous and missing data.
        {{/ember-tooltip}}
      </span>

    {{/if}}
  </div>
  {{/if}}
  {{/if}}   {{!-- .urlOptions.new --}}    

  {{#if @userSettings.showHaplotypes}}
    {{#let (load @the.haplotypesSamples) as |result|}}
      {{#if result.isResolved}}
        {{!-- i.e. panel/haplotypes-samples --}}
        <Panel::HaplotypesSamples @the={{@the}} @userSettings={{@userSettings}}
        @data={{result.value}} @selectHaplotype={{@the.selectHaplotype}}
        >
        </Panel::HaplotypesSamples>
      {{/if}}
    {{/let}}
  {{/if}}

  <div style="height:3ex; overflow : auto; max-width : 35em">{{@the.samplesRequestDescription}}</div>


  <div class="genotypeSampleFilter_textInput">
    <div>
    <label class="" style="margin-right: 1em;">
      <i class="glyphicon glyphicon-filter"></i>
      Filter by Name
    </label>
    <input id="sampleNameFilter" type="search" value={{@the.sampleNameFilter}}
      oninput={{this.nameFilterChanged}}
      style="min-width: 16em;"
      placeholder="Filter available samples by name" />
      {{!-- maybe autocomplete="sample-name", but samples names are mostly numeric so it may be more of an impediment than a benefit for the user --}}

      {{#if @the.namesFilters.nameFilterArray.length}}
        <span class="margin-left-help">( {{@the.filteredSamples.length}} )</span>
      {{/if}}
    </div>


    {{#if this.urlOptions.advanced}}

    {{#if @showIntersectionCheckbox}}
    <span>
      <input type="checkbox"
        style="margin-left: 3em;"
        checked={{@userSettings.samplesIntersection}}
        oninput={{pipe
          (action (mut @userSettings.samplesIntersection) value="target.checked")
            @the.ensureSamples
           }}  >
      <label>Common</label>
      {{#ember-tooltip side="right" delay=500}}
        Select from samples which are common to the viewed VCF datasets
      {{/ember-tooltip}}
    </span>
    {{/if}}

    {{/if}}	{{!-- this.urlOptions.advanced --}}

    <div>
      {{@the.filterErrorText}}
    </div>

  </div>

  {{#if @enablePassportData}}
  {{#if (or this.urlOptions.tableRow this.urlOptions.multiSelect)}}
  {{log 'genotype-samples' this this.args.userSettings @userSettings}}
  <div class="passport-table"
    {{did-insert (action (mut this.scrolledDiv)) }}
  >
    <span>
      <button type="button" class="btn btn-info" onclick={{pipe
        (action (mut @userSettings.passportTable.showSelectPassportFields) true)
        }}>
        Select Passport fields
      </button>
      {{#ember-tooltip side="bottom-start" delay=1500}}
        Select which Passport fields will be shown as columns for filtering samples / accessions.
      {{/ember-tooltip}}
    </span>

    {{#if @userSettings.passportTable.showSelectPassportFields}}
      {{!-- i.e. panel/select-passport-fields --}}
      <Panel::SelectPassportFields @userSettings={{@userSettings.passportTable}}
        @selectedFieldsChanged={{@the.selectedFieldsChanged}}
        @genotypeTable={{@the}}
        >
      </Panel::SelectPassportFields>
    {{/if}}


    <PassportTable
      @one={{1}}     {!-- not used.  first arg is not passed successfully --}}
      {{!-- for datasetGetPassportData(), may narrow param to just this action --}}
      @mg={{@the}}
      @userSettings={{@userSettings}}
      @dataset={{this.activeDataset}}
      @samples={{@the.samples}}
      {{!-- @rows={{@the.samples --}}
      @selectSampleArray={{this.selectSampleArray}}
      @tableRow={{this.urlOptions.tableRow}}
      @sampleNamePassportValues={{this.sampleNamePassportValues}}
      @scrolledDiv={{this.scrolledDiv}}
      />

  </div>
  {{/if}}       {{!-- passport-table for selecting samples tableRow or multiSelect --}}
  {{/if}}

  {{#unless this.urlOptions.tableRow}}
  <div class="genotype-controls">

    <select style="height:100px" class="form-control" multiple onchange={{action @the.selectSample}}>
      {{#each @the.filteredSamples as |sampleChoice|}}
      <option value={{sampleChoice}} selected={{include @the.selectedSamples sampleChoice}}>{{sampleChoice}}</option>
      {{/each}}
    </select>

    <EmberTooltip @side="bottom" @delay=500>
      <span>Select samples to be requested in VCF Lookup.</span>
    </EmberTooltip>

  </div>
  {{/unless}}

</div>

<div>
  <label>Selected samples to be requested in VCF Lookup</label>
  {{#if @the.selectedCount}}
    <span class="sample-count">( {{@the.selectedCount}} )</span>
  {{/if}}       {{!-- @the.selectedCount --}}

  <div>
    <EmberTooltip @side="top" @delay=500>
      <span>Edit / copy / paste the list of Selected samples to be requested in VCF Lookup.</span>
    </EmberTooltip>
    <Textarea
      class="selectedSamplesInput"
      @value={{@the.selectedSamplesText}}
      {{ on 'input' (action @the.sampleNameListInputKey value="target.value" ) }}
      {{!-- now that input is re-connected, these 3 are probably not required --}}
      @enter={{@the.sampleNameListInput}}
      @insert-newline={{@the.sampleNameListInput}}
      @escape-press={{@the.sampleNameListInput}}
      placeholder="Sample Names"
      >
    </Textarea>
  </div>

  <button type="button" class="btn btn-info"  {{on 'click' (action this.clearSelectedSamples) }}>
      Clear
      {{#ember-tooltip side="top-start" delay=500}}
        Clear the list of selected samples
      {{/ember-tooltip}}
  </button>

  <span> {{!-- wrapped in span so the tooltip can still display when the button is disabled --}} 
    <a target='_blank' href={{this.genolinkSearchURL}}
      class={{concat "btn btn-info" (if (and @the.selectedCount this.genolinkSearchURL) "" " disabled") }} >
      Passport data via Genolink <i class="glyphicon glyphicon-new-window"></i>
    </a>
    {{#if (and @the.selectedCount this.genolinkSearchURL)}}
      <EmberTooltip @side="bottom-start" @delay=500>
        {{this.searchIdsTruncatedMessage}}
        Open AGG Genolink, showing the passport data of the selected samples.
      </EmberTooltip>
    {{else}}
      <EmberTooltip @side="bottom-start" @delay=500>
        {{this.searchIdsTruncatedMessage}}
        No samples selected, please select some samples first.
      </EmberTooltip>
    {{/if}}
  </span>
  
  {{#if this.urlOptions.passportExport}}
  <button type="button" class="btn btn-info btn-xs padding-thin" style="margin-left:0.8em" {{on 'click' (action this.selectedSamplesGetPassport) }}>
    Passport
    {{#ember-tooltip side="top-start" delay=500}}
      Get the passport data of selected samples from AGG GenoLink.
    {{/ember-tooltip}}
  </button>
  {{/if}}	{{!-- this.urlOptions.passportExport --}}

</div>

{{yield}}
