<div>
  <label>List of samples from VCF</label>
  {{#if @the.vcfGenotypeSamplesText}}
    <span class="sample-count">( {{@the.vcfGenotypeSamplesCount}} )</span>
  {{else}}
    <button type="button" onclick={{this.vcfGenotypeSamples}} class="btn btn-info btn-xs">Get samples list</button>
  {{/if}}

  <div class="genotypeSampleFilter_textInput">
    <label class="" style="margin-right: 1em;">
      <i class="glyphicon glyphicon-filter"></i>
      Search / Filter
    </label>
    <input id="sampleNameFilter" type="search" value={{@the.sampleNameFilter}}
      oninput={{this.nameFilterChanged}}
      placeholder="Filter available samples by name" />
      {{!-- maybe autocomplete="sample-name", but samples names are mostly numeric so it may be more of an impediment than a benefit for the user --}}

    <span>
      <input type="checkbox"
        style="margin-left: 3em;"
        checked={{@userSettings.samplesIntersection}}
        oninput={{pipe
          (action (mut @userSettings.samplesIntersection) value="target.checked")
            @the.ensureSamples
           }}  >
      <label>Common</label>
      {{#ember-tooltip side="right" delay=500}}
        Select from samples which are common to the viewed VCF datasets
      {{/ember-tooltip}}
    </span>
    <div>
      {{@the.filterErrorText}}
    </div>

  </div>

  <div class="genotype-controls">

    <select style="height:100px" class="form-control" multiple onchange={{action @the.selectSample}}>
      {{#each @the.filteredSamples as |sampleChoice|}}
      <option value={{sampleChoice}} selected={{include @the.selectedSamples sampleChoice}}>{{sampleChoice}}</option>
      {{/each}}
    </select>

  </div>
</div>

<div>
  <label>Selected samples to be requested in VCF Lookup</label>
  {{#if @the.selectedCount}}
    <span class="sample-count">( {{@the.selectedCount}} )</span>
  {{/if}}

  <div>
    <Textarea
      class="selectedSamplesInput"
      @value={{@the.selectedSamplesText}}
      @input={{action @the.sampleNameListInputKey value="target.value" }}
      @enter={{@the.sampleNameListInput}}
      @insert-newline={{@the.sampleNameListInput}}
      @escape-press={{@the.sampleNameListInput}}
      placeholder="Sample Names"
      >
    </Textarea>
  </div>

</div>

{{yield}}
