{{this.selectedSampleEffect}}
{{this.sampleFiltersCopyEffect}}
{{!-- this.gtBlockViewEffect --}}
{{will-destroy this.onWillDestroy}}

{{#if this.showInputDialog}}

  {{#ember-modal-dialog
    containerClassNames="genotype"
    onClose=(action (mut this.showInputDialog) false)
    targetAttachment="center"
    translucentOverlay=true
    clickOutsideToClose=true

    title="Genotype Table Controls, Datasets, Samples, Filters, VCF Lookup Inputs"
    header-icon='search'
  }}

    {{!-- ----------------------------------------------------------------- --}}

    <BsButton @type="info" @onClick={{action (mut this.showInputDialog) false}} style="float:right; margin-top:0em;">X</BsButton>

    {{!-- ----------------------------------------------------------------- --}}


    {{!-- Genotypes --}}

    {{!-- ----------------------------------------------------------------- --}}
    {{!-- tabTypeName is the text displayed on the tab for user identification of the contents, aka tabName.  --}}

    <BsTab @customTabs={{true}} @fade={{false}} @onChange={{action this.onChangeTab}} @activeId={{this.activeId}} as |tab|>
      <BsNav @type="tabs" as |nav|>
        <ul class="nav nav-tabs li-active-extra counts">

          {{#let 'Datasets' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id 'Datasets')) as |tabId|}}
              <nav.item class="active-detail"
                @active={{and (eq this.activeDatasetId tabTypeName) (bs-eq tab.activeId tabId) }}>
                <a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>{{this.selectedCount}}</div>
              </nav.item>
            {{/let}}
          {{/let}}

          {{#let 'Lookup' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}
              <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>{{this.brushedDomainLength}}</div>
              </nav.item>
            {{/let}}
          {{/let}}

          {{#let 'Result' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}
              <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>
                  {{this.vcfGenotypeTextSizeDescription}}
                  , {{this.vcfGenotypeLookupCount}} current requests.
                  {{this.vcfGenotypeText.length}}
                </div>
              </nav.item>
            {{/let}}
          {{/let}}

          {{#let 'Controls' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}
              <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>{{!-- this.blocksHaplotypeFilters.mapBy('filters').flat() --}}</div>
              </nav.item>
            {{/let}}
          {{/let}}

        </ul>
      </BsNav>

      {{!-- --------------------------------------------------------------- --}}

      <div class="tab-content">

        {{#let 'Datasets' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}

              {{!-- --------------------------------------------------------- --}}

              <BsTab @customTabs={{true}} @fade={{false}} @onChange={{action this.selectDataset}} @activeId={{this.activeIdDatasets}} as |tab|>
                <BsNav @type="tabs" as |nav|>
                  <ul class="nav nav-tabs li-active-extra counts">

                    {{#each this.gtDatasetTabs as |tabTypeName|}}
                      {{#let (compute (action this.tabName2IdDatasets tabTypeName)) as |tabId|}}
                        <nav.item class="active-detail"
                          @active={{bs-eq this.activeDatasetId tabTypeName }}>
                          <a href={{concat "#" tabId}} role="tab" onclick={{action (pipe (action tab.select tabId) (action this.selectDataset tabTypeName) ) }}>{{tabTypeName}}</a>
                          <div>{{this.selectedCount}}</div>
                        </nav.item>
                      {{/let}}
                    {{/each}}

                  </ul>
                </BsNav>

                <div class="tab-content">

                  <h4 class="margin-left-help">Select Samples for Dataset</h4>

                  {{!-- --------------------------------------------------------- --}}

                  {{log 'axisBrush' this.axisBrush}}

                  {{#if this.urlOptions.dataSources}}
                  Server : 
                  {{this.apiServerSelectedOrPrimary.name}}
                  {{/if}}

                  <div class="genotype">

                    {{#if this.urlOptions.advanced}}
                    <div class="axis-brushes">

                      <table>
                        <tr>
                          <th>Dataset Name</th>
                          <th>Scope</th>
                          <th>Interval</th>
                          <!-- ----------------------------- -->
                          <th class="devel-visible">BlockId</th>
                          <th class="devel-visible">zoomCounter</th>
                        </tr>

                      {{#each this.axisBrushService.brushedAxes as |axisBrush| }}
                      {{#let axisBrush.block as |block| }}
                        <tr>
                          <td>{{block.axis.referenceBlock.datasetId.id}}</td>
                          <td>{{block.scope}}</td>
                          {{!-- block.brushedDomain is equivalent --}}
                          <td>{{domainRounded axisBrush.brushedDomain 0}}</td>
                          <!-- ----------------------------- -->
                          <td class="devel-visible">{{blockId}}</td>
                          <td class="devel-visible">{{axisBrush.zoomCounter}}</td>
                          <td style="display:none;"> {{block.features.length}} <!-- for features request. --></td>
                        </tr>
                      {{/let}}

                      {{/each}}

                      </table>

                    </div>

                    <div>{{this.referenceDatasetName}}</div>

                    {{/if}}     {{!-- this.urlOptions.advanced --}}

                    {{#if this.urlOptions.advanced}}
                    <div>
                      <label style="display:inline">Request Samples :
                        {{#ember-tooltip side="right" delay=500}}
                        Which samples / individuals to request genotype of
                        {{/ember-tooltip}}
                      </label>

                      <span>
                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{this.requestSamplesSelected}}
                          oninput={{pipe
                            (action (mut this.requestSamplesSelected) value="target.checked")
                            this.ensureSamples }}  >
                        <label>Selected Samples</label>
                        {{#ember-tooltip side="right" delay=500}}
                          Request genotype of All samples or select samples in list
                        {{/ember-tooltip}}
                      </span>

                      <span>
                        {{#if this.snpsInBrushedDomain}}
                          <span class="badge">{{this.snpsInBrushedDomain.length}}</span>
                        {{/if}}
                        {{#ember-tooltip side="left" delay=500}}
                          {{#each this.snpsInBrushedDomain as |feature|}}
                            <div>{{feature.value_0}} &nbsp; : &nbsp; {{feature.matchRefNumeric}}</div>
                          {{/each}}
                          of {{this.featureFiltersCount}}
                        {{/ember-tooltip}}
                      </span>


                      {{#if @userSettings.showSampleFilters}}
                      <span>
                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.requestSamplesFiltered}}
                          oninput={{pipe (action (mut @userSettings.requestSamplesFiltered) value="target.checked")
                            this.ensureSamples }}  >
                        <label>Use Filtered Samples</label>
                        {{#ember-tooltip side="right" delay=500}}
                          Request genotype of samples selected by LD Block / tSNP filters in loaded data
                        {{/ember-tooltip}}
                      </span>
                      {{/if}}

                    </div>
                    {{/if}}     {{!-- this.urlOptions.advanced --}}

                    {{!-- i.e. panel/genotype-samples --}}
                    <Panel::GenotypeSamples @the={{this}} @userSettings={{@userSettings}}
                      @showIntersectionCheckbox={{this.brushedOrViewedVCFBlocks.length}} >
                      {{this.ensureSamplesForDatasetTabEffect}}
                    </Panel::GenotypeSamples>

                  {{!-- --------------------------------------------------------------------- --}}
                  </div>
                  {{!-- --------------------------------------------------------------------- --}}


                </div>      {{!-- end of class="tab-content" --}}

              </BsTab>
              {{!-- --------------------------------------------------------------------- --}}

            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}

        {{#let 'Lookup' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}

              <div class="genotype">

                <div class="genotype-controls">
                  <div>
                    <ul class="view-controls"
                      style="min-width: fit-content; list-style-type: none; padding-left: 0px;">
                      {{!-- possibly : class="list-group" --}}

                      <li> {{!-- possibly :  class="list-group-item" --}}
                        <label style="display:inline">Format :
                        {{#ember-tooltip side="right" delay=500}}
                          Format for request and display
                        {{/ember-tooltip}}
                        </label>
                        {{radio-button value='CATG' groupValue=this.requestFormat
                          changed=(action this.requestFormatChanged preventDefault=false)
                        }}
                        ACGT &nbsp;&nbsp;
                        <span>
                        {{radio-button value='Numerical' groupValue=this.requestFormat
                          changed=(action this.requestFormatChanged preventDefault=false)
                        }}
                        012 &nbsp;&nbsp;
                        {{#ember-tooltip side="right" delay=500}}
                          Dosage / # allele copies of Alt
                        {{/ember-tooltip}}
                        </span>

                      </li>

                      <li>

                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.autoLookup}}
                          oninput={{action (mut @userSettings.autoLookup) value="target.checked"}}  >
                        <label>Auto lookup - all datasets
                        <EmberTooltip side="right" delay=500>
                          <span>
                            Request data for all VCFs in table when user clicks VCF Lookup.
                            Otherwise, request VCF data from the dataset whose tab is selected in Datasets.
                          </span>
                        </EmberTooltip>
                        </label>

                      </li>

                      {{#if this.urlOptions.advanced}}
                      <li>
                        <EmberTooltip side="right" delay=500>
                          <span>Enable VCF Lookup to clear existing data with the received genotype results.</span>
                        </EmberTooltip>
                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.replaceResults}}
                          oninput={{action (mut @userSettings.replaceResults) value="target.checked"}}  >
                        <label>Replace previous results.</label>
                      </li>
                      {{/if}}	{{!-- this.urlOptions.advanced --}}

                      <li class="list-group-item horiz-2">
                        {{#if this.urlOptions.gtIntervalLimit}}
                        <div>
                          <label>Interval limit</label>
                          <span class="sub-label">{{ this.intervalLimit }} Mb</span>
                          <input type="range"
                           value=0
                           oninput={{action this.intervalLimitInput}}
                           min="1" max="100"
                          />
                        </div>
                        {{/if}}

                        <div>
                          <label>Rows</label>
                          {{#ember-tooltip side="right" delay=500}}
                            Limit of rows in result, and rows displayed per dataset.
                          {{/ember-tooltip}}
                          <span class="sub-label">{{ this.rowLimit }}</span>
                          <input type="range"
                           value=100
                           oninput={{action this.rowLimitInput}}
                           min="1" max="1000"
                          />
                        </div>

                        <div class="samplesLimit border-none-lgi">
                          <Elem::InputRangeText
                            @labelText="Samples Limit : "
                            @allowZero=true
                            @valueInitial={{this.args.userSettings.samplesLimit}}
                            @valueMin=1
                            @valueMax=1000
                            @valueChanged={{action (fn this.samplesLimitChanged)}}
                            @disabled={{not @userSettings.samplesLimitEnable}} >

                            <input type="checkbox"
                              checked={{@userSettings.samplesLimitEnable}}
                              oninput={{pipe (action (mut @userSettings.samplesLimitEnable) value="target.checked")
                                this.ensureSamples }}  >

                          </Elem::InputRangeText>
                          <EmberTooltip side="right" delay=500>
                            <span>Limit of number of samples requested in VCF Lookup.</span>
                          </EmberTooltip>
                        </div>



                      </li>

                    </ul>

                  </div>

                </div>

                {{#if this.vcfGenotypeLookupDomain}}
                <div class="lookup-line">

                  <div class="interval-group">
                    <label>VCF Genotype for brushed interval</label>
                    <div>
                      {{!-- evaluating vcfGenotypeLookupDomain here enables following object-at to work. --}}
                      <div style="display:none">vcfGenotypeLookupDomain{{this.vcfGenotypeLookupDomain}}</div>
                      <div>{{object-at 0 this.vcfGenotypeLookupDomain}}</div>
                      <div>{{object-at 1 this.vcfGenotypeLookupDomain}}</div>
                    </div>
                  </div>
                </div>
                <div style="margin-left: 5em;"><label style="margin-top:0px; margin-right:1.5em">Brushed Features</label><span>{{this.brushedVCFFeaturesCount}}</span></div>

                {{/if}}

              </div>

              {{!-- --------------------------------------------------------------- --}}

              {{#if this.lookupMessage}}
                {{elem/panel-message warningMessage=this.lookupMessage}}
              {{/if}}

              {{!-- --------------------------------------------------------------- --}}

              <div class="genotype">
                <EmberTooltip side="right" delay=500>
                  <span>Download the displayed data in a file, either .vcf or .vcf.gz</span>
                </EmberTooltip>

              </div>


            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}

        {{#let 'Result' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}

              {{#if this.headerText}}
                <textarea class="vcfGenotypeText" >{{this.headerText}}</textarea>
              {{/if}}
              <div>
                {{!-- style={{compute (action this.vcfGenotypeTextWidthStyle) --}}
                <textarea class="vcfGenotypeText" >{{this.vcfGenotypeText}}</textarea>
              </div>

              {{#if this.vcfExportText.length}}
                <button type="button" class="btn btn-info btn-xs"
                  onclick={{action this.vcfExportTextToFile}} >
                  VCF Download
                </button>

                <input type="checkbox"
                  style="margin-left: 3em;"
                  checked={{@userSettings.compressVCF}}
                  oninput={{action (mut @userSettings.compressVCF) value="target.checked"}}  >
                <label>Compressed</label>

              {{/if}}

              <div style="margin-bottom:2em"></div>

            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}

        {{#let 'Controls' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}
              <div class="genotype">

                <span style="margin:1em; width: 20%;">
                  {{#elem/icon-toggle state=@userSettings.showSampleFilters iconTrue='collapse-down' iconFalse='expand' }}
                    {{#ember-tooltip side="right" delay=500}}
                      Toggle display of Sample filtering by Features / SNPs and LD Blocks.
                    {{/ember-tooltip}}
                  {{/elem/icon-toggle}}
                </span>

                <label style="margin-left: 1em; margin-top: 1em" >Sample Filters</label>
                {{#if @userSettings.showSampleFilters}}

                {{!-- ----------------------------------------------------- --}}

                {{!-- check : selectSampleFilter activeSampleFilter tabName2IdDatasets selectedCount activeIdDatasets --}}
                {{#elem/tab-names
                  idPrefix='tab-view-SampleFilter-'
                  names=this.sampleFilterTabNames
                  activeName=this.args.userSettings.sampleFilterTypeName
                  setSelected=this.setSelectedSampleFilter
                  as |tn|}}

                  <BsTab @customTabs={{true}} @fade={{false}} @onChange={{action tn.onChangeTab}} @activeId={{tn.activeId}} as |tab|>
                    <BsNav @type="tabs" as |nav|>
                      <ul class="nav nav-tabs li-active-extra counts">

                        {{#each this.sampleFilterTypesArray as |tabType|}}
                          {{#let (compute (action tn.tabName2Id tabType.name)) as |tabId|}}
                          {{log 'activeTabId' tab.activeId tabId (bs-eq tab.activeId tabId) }}
                          {{!-- tab.activeId === tn.activeId --}}
                            <nav.item class="active-detail"
                              @active={{bs-eq tab.activeId tabId }}>
                              <a href={{concat "#" tabId}} role="tab"
                                onclick={{action (pipe (action tab.select tabId)
                                (action tn.selectTabName tabType.name tab) ) }}>{{tabType.text}}</a>
                              <div>{{this.selectedCount}}</div>
                            </nav.item>
                          {{/let}}
                        {{/each}}

                      </ul>
                    </BsNav>

                    <div class="tab-content">


                      {{#if this.urlOptions.advanced}}

                      {{!-- ----------------------------------------------- --}}
                      {{#let 'haplotype' as |tabTypeName|}}
                        {{#let (compute (action tn.tabName2Id tabTypeName)) as |tabId|}}

                          {{!-- pane title is not apparent in the generated DOM.
                            It appears in ember-bootstrap/addon/components/base/bs-tab/pane.js
                          --}}
                          {{#tab.pane id=tabId title=tabTypeName}}

                            <div style="margin-left: 1em; margin-top: 1em">
                              <span>{{this.haplotypeFiltersCount}}</span>
                              <label style="margin-left: 1em;" >LD Blocks</label>
                            </div>
                            <ul class="list-group borderless haplotypeFilters">
                              {{#each this.blocksHaplotypeFilters as |blockHF|}}
                                <li class="list-group-item">
                                  <div>{{blockHF.block.datasetId.id}}</div>
                                  <ul class="list-group">
                                    {{#each blockHF.sampleFilters.haplotype as |haplotype|}}
                                      <li class="list-group-item">
                                        <div>
                                          {{!-- 2 nbsp creates a square block --}}
                                          <span style="background-color : {{compute this.haplotypeColour haplotype }}">
                                            &nbsp; &nbsp;
                                          </span>
                                          {{haplotype}}
                                        </div>
                                      </li>
                                    {{/each}}
                                  </ul>

                                </li>
                              {{/each}}
                            </ul>

                          {{/tab.pane}}
                        {{/let}}
                      {{/let}}
                      {{!-- ----------------------------------------------- --}}
                      {{#let 'variantInterval' as |tabTypeName|}}
                        {{#let (compute (action tn.tabName2Id tabTypeName)) as |tabId|}}

                          {{#tab.pane id=tabId title=tabTypeName}}

                            <div style="margin-left: 1em; margin-top: 1em">
                              <span>{{this.variantIntervalFiltersCount}}</span>
                              <label style="margin-left: 1em;" >Variant Intervals</label>
                            </div>
                            <ul class="list-group borderless haplotypeFilters">
                              {{#each this.blocksVariantInterval as |blockVi|}}
                                <li class="list-group-item">
                                  {{blockVi.datasetId.id}}
                                </li>
                              {{/each}}
                            </ul>
                            <ul class="list-group borderless haplotypeFilters">
                              {{#each this.blocksVariantIntervalFilters as |blockViF|}}
                                <li class="list-group-item">
                                  <div>{{blockViF.block.datasetId.id}}</div>
                                  <ul class="list-group">
                                    {{#each blockViF.sampleFilters.variantInterval as |variantInterval|}}
                                      <li class="list-group-item">
                                        <div>
                                          {{!-- 2 nbsp creates a square block --}}
                                          <span style="background-color : {{compute this.variantIntervalColour variantInterval }}">
                                            &nbsp; &nbsp;
                                          </span>
                                          {{object-at 0 variantInterval.value}} - {{object-at 1 variantInterval.value}}
                                        </div>
                                      </li>
                                    {{/each}}
                                  </ul>

                                </li>
                              {{/each}}
                            </ul>

                          {{/tab.pane}}
                        {{/let}}
                      {{/let}}

                      {{/if}}	{{!-- this.urlOptions.advanced --}}

                      {{!-- ----------------------------------------------- --}}
                      {{#let 'feature' as |tabTypeName|}}
                        {{#let (compute (action tn.tabName2Id tabTypeName)) as |tabId|}}

                          {{#tab.pane id=tabId title=tabTypeName}}

                            <div style="margin-left: 1em; margin-top: 1em">
                              <span>{{this.featureFiltersCount}}</span>
                              <label style="margin-left: 1em;">Feature / SNP</label>
                            </div>
                            <ul class="list-group borderless featureFilters">
                              {{#each this.blocksFeatureFilters as |blockFF|}}
                                <li class="list-group-item">
                                  <div>{{blockFF.block.datasetId.id}}</div>
                                  <ul class="list-group">
                                    {{#each blockFF.sampleFilters.feature as |feature|}}
                                      <li class="list-group-item">
                                        <div>
                                          {{feature.value_0}}
                                          &nbsp; {{feature.values.ref}}/{{feature.values.alt}}
                                          &nbsp; : &nbsp; {{feature.matchRefNumeric}}
                                        </div>
                                      </li>
                                    {{/each}}
                                  </ul>

                                </li>
                              {{/each}}
                            </ul>

                          {{/tab.pane}}
                        {{/let}}
                      {{/let}}
                      {{!-- ----------------------------------------------- --}}


        {{!-- ------------------------------------------------------------- --}}





                    </div>      {{!-- end of class="tab-content" --}}

                  </BsTab>
                {{/elem/tab-names}}

                {{!-- ----------------------------------------------------- --}}



                <ul class="list-group borderless view-controls">

                  <li>
                    <button type="button" class="btn btn-info btn-xs"
                      onclick={{action (pipe this.sampleFiltersClear this.haplotypeFiltersApply) }} >
                      Clear
                      <EmberTooltip side="right" delay=500>
                        <span>Clear the selected SNPs or LD Block from the sample filter.</span>
                      </EmberTooltip>
                    </button>

                    <input type="checkbox"
                      style="margin-left: 2em;"
                      checked={{@userSettings.haplotypeFilterRef}}
                      oninput={{action (pipe 
                      (action (mut @userSettings.haplotypeFilterRef) value="target.checked")
                      this.haplotypeFiltersApply) }}  >
                    <label>Match Ref
                      <EmberTooltip side="right" delay=500>
                        <span>Match against the SNP Ref value, in the sample filter based on SNP or LD Block.  Otherwise Alt.</span>
                      </EmberTooltip>
                    </label>

                    <input type="checkbox"
                      style="margin-left: 2em;"
                      checked={{@userSettings.haplotypeFiltersEnable}}
                      oninput={{action (pipe 
                      (action (mut @userSettings.haplotypeFiltersEnable) value="target.checked")
                      this.haplotypeFiltersApply) }}  >
                    <label>Filter
                      <EmberTooltip side="right" delay=500>
                        <span>Show only columns which match the sample filter based on SNP or LD Block. Otherwise, sort by closeness of match.</span>
                      </EmberTooltip>
                    </label>

                  </li>


                </ul>

                <hr>

                {{/if}} {{!-- end of if showSampleFilters }}

                {{!---------------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">

                  <li>
                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.filterBySelectedSamples}}
                      oninput={{action (mut @userSettings.filterBySelectedSamples) value="target.checked"}}  >
                    <label>Selected samples
                      <EmberTooltip side="right" delay=500>
                        <span>Show only columns of sample which are selected.</span>
                      </EmberTooltip>
                    </label>

                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{this.urlOptions.gtMergeRows}}
                      oninput={{action (mut this.urlOptions.gtMergeRows) value="target.checked"}}  >
                    <label>Merge Rows
                      <EmberTooltip side="right" delay=500>
                        <span>Combine SNPs with the same Position from different datasets on the same row of the table.</span>
                      </EmberTooltip>
                    </label>

                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.showNonVCFFeatureNames}}
                      oninput={{action (mut @userSettings.showNonVCFFeatureNames) value="target.checked"}}  >
                    <label>Feature Names
                      <EmberTooltip side="right" delay=500>
                        <span>Show Feature names of non-VCF datasets in the cell, otherwise in hover text.</span>
                      </EmberTooltip>
                    </label>

                  </li>
                </ul>

                {{!-------------------------------------------------------------}}

                {{#if this.args.userSettings.selectedColumnNames.length}}
                  <ul class="list-group borderless view-controls">
                    {{#each this.args.userSettings.selectedColumnNames as |selectedColumnName|}}
                    <li>
                      {{selectedColumnName}}
                    </li>
                    {{/each}}
                  </ul>
                {{/if}}

                {{!---------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">
                  <li class="list-group-item horiz-2">

                    <div>
                      <label>Cell size factor</label>
                      {{#ember-tooltip side="right" delay=500}}
                        Adjust table cell size.
                      {{/ember-tooltip}}
                      <span class="sub-label">{{ this.args.userSettings.cellSizeFactor }}</span>
                      <input type="range"
                       value={{ this.args.userSettings.cellSizeFactorInt }}
                       oninput={{action this.cellSizeFactorInput}}
                       min="1" max="200"
                      />
                    </div>

                  </li>
                </ul>

                {{!---------------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">

                  <li>
                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.snpPolymorphismFilter}}
                      oninput={{action (mut @userSettings.snpPolymorphismFilter) value="target.checked"}}  >
                    <label>SNP Polymorphism Filter
                      <EmberTooltip side="right" delay=500>
                        <span>Filter out monomorphic SNPs.</span>
                      </EmberTooltip>
                    </label>

                  </li>
                </ul>

                {{!---------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls threshold-sliders">
                  <li>

                    <div style="display : inline-block;">
                      <EmberTooltip side="right" delay=500>
                        <span>Filter SNPs by this MAF Threshold.
The toggle enables filtering out SNPs with MAF above or below this threshold.</span>
                      </EmberTooltip>
                      <Elem::InputRangeText
                        @labelText="SNP MAF Threshold : "
                        @allowZero=true
                        @valueInitial={{this.args.userSettings.mafThreshold}}
                        @valueMin={{this.mafThresholdMin}}
                        @valueMax={{this.mafThresholdMax}}
                        @valueChanged={{action (fn this.mafThresholdChanged)}} >

                      <span class="filter-group-col">
                        <input type="checkbox" id="gtInputMafUpper" name="mafUpper" checked={{@userSettings.mafUpper}}
                          oninput={{action (mut @userSettings.mafUpper) value="target.checked"}} 
                        >
                        <EmberTooltip side="right" delay=500>
                          <span>Use threshold as an upper / lower limit.</span>
                        </EmberTooltip>
                      </span>

                      {{this.mafThresholdText}}
                      </Elem::InputRangeText>

                    </div>

                    <div style="display : inline-block;">
                      <EmberTooltip side="right" delay=500>
                        <span>Filter Samples by Call Rate.</span>
                      </EmberTooltip>
                      <Elem::InputRangeText
                        @labelText="Sample Call Rate : "
                        @allowZero=true
                        @valueInitial={{this.args.userSettings.callRateThreshold}}
                        @valueMin=0.001
                        @valueMax=1
                        @valueChanged={{action (fn this.callRateThresholdChanged)}} >
                      </Elem::InputRangeText>
                    </div>


                    <div style="display : inline-block;">
                      <EmberTooltip side="right" delay=500>
                        <span>Filter SNPs by Call Rate.</span>
                      </EmberTooltip>
                      <Elem::InputRangeText
                        @labelText="SNP Call Rate : "
                        @allowZero=true
                        @valueInitial={{this.args.userSettings.featureCallRateThreshold}}
                        @valueMin=0.001
                        @valueMax=1
                        @valueChanged={{action (fn this.featureCallRateThresholdChanged)}} >
                      </Elem::InputRangeText>
                    </div>


                  </li>

                  <li>
                    <div style="display : inline-block;">
                      <label class="inline-margin">Alleles</label>
                      <label class="inline-margin">Min</label>
                      {{input
                        type="text"
                        class="small-number"
                        value=this.args.userSettings.minAlleles
                      }}
                      <label class="inline-margin">Max</label>
                      {{input
                        type="text"
                        class="small-number"
                        value=this.args.userSettings.maxAlleles
                      }}
                      <EmberTooltip side="right" delay=500>
                        <span>Filter SNPs by number of alleles. For bi-allelic SNPs, set Min and Max to 2.
(--min-alleles and --max-alleles)</span>
                      </EmberTooltip>
                    </div>

                    <span class="filter-group-col">
                      <label class="inline-margin">Type : SNP</label>
                      <input type="checkbox" name="typeSNP" checked={{@userSettings.typeSNP}}
                        oninput={{action (mut @userSettings.typeSNP) value="target.checked"}} 
                      >
                      <EmberTooltip side="right" delay=500>
                        <span>Select sites with Alt which is of type SNP. (-v snps)</span>
                      </EmberTooltip>
                    </span>

                  </li>


                </ul>

                {{!---------------------------------------------------------------------}}

                <div class="gtDatasetIdsToFilter">
                  <EmberTooltip side="right" delay=500>
                    <span>Select the Datasets to which the above SNP and Samples MAF and Call Rate filters are applied.</span>
                  </EmberTooltip>

                  <label>Datasets to filter</label>

                  {{!-- based on similar <select> for selectedFeaturesValuesFieldsForDataset /
                    forSelectFeaturesValuesFields; this could be factored to a component,
                    but plan to use e.g. ember-power-select after next frontend version updates.
                  --}}

                  <select class="form-control" multiple onchange={{action this.selectDatasetId}}>
                    {{#each this.gtDatasetIds as |fieldName|}}
                      <option value={{fieldName}} selected={{include this.gtDatasetIdsToFilter fieldName}}>{{fieldName}}</option>
                    {{/each}}
                  </select>
                </div>

                {{!-----------------------------------------------------------}}


                <ul class="list-group borderless view-controls">
                  {{#if this.urlOptions.advanced}}
                  <li>
                    <EmberTooltip side="right" delay=500>
                      <span>Show LD Blocks colour on the SNP rectangles shown in Axis Tracks, for datasets which define the tagged SNP set value tSNP</span>
                    </EmberTooltip>
                    <input type="checkbox"
                      checked={{@userSettings.showAxisLDBlocks}}
                      oninput={{action (mut @userSettings.showAxisLDBlocks) value="target.checked"}}  >
                    <label>LD Blocks colour in Axis Tracks</label>
                  </li>

                  <li>
                    <EmberTooltip side="right" delay=500>
                      <span>Show alignment paths between the Genotype Table and the adjacent axis.
While scrolling through the Genotype Table this updates to show where the currently viewed page is within the axis.</span>
                    </EmberTooltip>
                    <input type="checkbox"
                      checked={{@userSettings.showTablePositionAlignment}}
                      oninput={{action (mut @userSettings.showTablePositionAlignment) value="target.checked"}}  >
                    <label>Show table position alignment to axis</label>
                  </li>
                  {{/if}}	{{!-- this.urlOptions.advanced --}}

                  <li>
                    <EmberTooltip side="right" delay=500>
                      <span>Copy the displayed contents of the Genotype Table to the clipboard, enabling it to be pasted into a spreadsheet.</span>
                    </EmberTooltip>
                    <BsButton @type="info" @onClick={{this.copyTableToClipboard}} class="margin-top">Copy table to clipboard</BsButton>
                  </li>

                </ul>
                {{!---------------------------------------------------------------------}}
              </div>


            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}


      </div>      {{!-- end of class="tab-content" --}}

    </BsTab>


    {{!-- ----------------------------------------------------------------- --}}

    <div>
      <EmberTooltip side="right" delay=500>
        <span>Request the Genotypes as configured by Selected Samples and the brushed axis region</span>
      </EmberTooltip>
      <button type="button" onclick={{action this.vcfGenotypeLookup}}
        disabled={{or
          (not this.vcfGenotypeLookupDomain)
          this.vcfGenotypeLookupButtonDisabled}}
        class="btn btn-info">VCF Lookup</button>
    {{#unless this.vcfGenotypeLookupDomain}}
      {{#if this.urlOptions.gtIntervalLimit}}
        <span>VCF Lookup Region limit is {{this.intervalLimit}}Mb</span>
      {{/if}}
    {{/unless}}
    </div>

    {{!-----------------------------------------------------------------------}}


  {{/ember-modal-dialog}}
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.featureColumnDialogDataset}}

  {{!-- tried modal-id param - no affect --}}
  {{#ember-modal-dialog
    onClose=(action (mut this.featureColumnDialogDataset) null)
    targetAttachment="center"
    translucentOverlay=true
    clickOutsideToClose=false
    onClickOverlay=(action this.userMessage "Use X to close dialog")
    title="Select additional columns"
    header-icon='search'
  }}

  <div class="genotype">
    <label>Select additional columns</label>

    <select class="form-control" multiple onchange={{action this.selectFieldName}}>
      {{#each this.selectedFeaturesValuesFieldsForDataset as |fieldName|}}
        <option value={{fieldName}} selected={{include this.selectedFeaturesValuesFieldsForDataset fieldName}}>{{fieldName}}</option>
      {{/each}}
      {{#each this.forSelectFeaturesValuesFields as |fieldName|}}
        <option value={{fieldName}}>{{fieldName}}</option>
      {{/each}}
    </select>

    <BsButton class="margin-top" @type="info" @onClick={{action (mut this.featureColumnDialogDataset) null}}>OK</BsButton>
  </div>

  {{/ember-modal-dialog}}
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.intersectionDialogDataset}}

  {{#ember-modal-dialog
    onClose=(action (mut this.intersectionDialogDataset) null)
    target="#observational-table"
    translucentOverlay=true
    clickOutsideToClose=false
    onClickOverlay=(action this.userMessage "Use X to close dialog")
    title="Change Dataset intersection state"
    header-icon='search'
  }}

  <Panel::DatasetIntersectionDialog
    @dataset={{this.intersectionDialogDataset}}
    @close={{action (mut this.intersectionDialogDataset) null}}
    @positionFilterChanged={{this.positionFilterChanged}}
    @gtDatasetsLength={{this.gtDatasets.length}}
    />

  {{/ember-modal-dialog}}
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.tableApi.topLeftDialog}}
  {{log 'topLeftDialog' this.tableApi.topLeftDialog}}
  {{!-- #ember-wormhole destinationElement=this.tableApi.topLeftDialog --}}

  {{#ember-tether
    tetherTarget=this.tableApi.topLeftDialog
  }}

    <div id="topLeftDialog">

      {{!-- these are copied from main dialog --}}
      {{#if this.urlOptions.advanced}}
      <div>
        {{this.dataScope}}
        {{log 'dataScope' this.dataScope}}
      </div>
      {{/if}}	{{!-- this.urlOptions.advanced --}}

      {{#if this.dataRowsLength}}
      <div>
        <EmberTooltip side="right" delay=500>
          <span>Request the Genotypes as configured by Selected Samples and the brushed axis region</span>
        </EmberTooltip>
        <button type="button" onclick={{action this.vcfGenotypeLookup}}
          disabled={{or
            (not this.vcfGenotypeLookupDomain)
            (and (not @userSettings.requestSamplesAll) (not this.vcfGenotypeSamplesSelected.length))
            (and @userSettings.requestSamplesAll @userSettings.samplesIntersection (not this.samples.length))
          }}
          class="btn btn-info">VCF Lookup</button>
      </div>
      {{/if}}	{{!-- this.dataRowsLength --}}

      {{#if this.urlOptions.advanced}}
      <div>
        {{#if this.vcfGenotypeLookupCount}}
          {{this.vcfGenotypeLookupCount}}
        {{/if}}
        &nbsp;
        {{#ember-tooltip side="right" delay=500}}
          {{this.vcfGenotypeLookupCount}} Current Requests.
          {{this.vcfGenotypeTextSizeDescription}}
          {{this.vcfGenotypeText.length}}
        {{/ember-tooltip}}

      </div>
      {{/if}}	{{!-- this.urlOptions.advanced --}}

      {{!---------------------------------------------------------------------}}

      <div class="gtMiddle">
        {{#unless this.dataRowsLength}}
          <!-- vertical space to place following content below the table dummy header -->
          <div style="height: 40vh;"></div>
          <Form::BrushedBlockInfo />
          <div style="height: 8ex;"></div>
          <label>Select a smaller region or zoom in closer to summarise.</label>
        {{/unless}}

      </div>

      {{!---------------------------------------------------------------------}}
      

    </div>      <!-- topLeftDialog -->

  {{/ember-tether}}

  {{!-- /ember-wormhole --}}
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

<div class="clear-both"></div>

<style>
  {{#each this.datasetsClasses as |datasetsClass|}}
    {{concat ".col-Dataset-" datasetsClass.id}}
    {
      border-left : 5px solid {{datasetsClass.colour}};
    }
  {{/each}}
</style>

{{matrix-view
  model=this.args.model
  userSettings=this.args.userSettings
  dataScope=this.dataScope
  displayData=this.displayData
  displayDataRows=this.displayDataRows
  columnNamesParam=this.columnNames
  gtDatasets=this.gtDatasets
  gtDatasetColumns=this.gtDatasetColumns
  datasetColumns=this.datasetColumns
  extraDatasetColumns=this.extraDatasetColumns
  selectBlock=(action @selectBlock)
  changeDatasetPositionFilter=this.changeDatasetPositionFilter
  datasetPositionFilterChangeCount=this.datasetPositionFilterChangeCount
  featureColumnDialogDataset=(action (mut this.featureColumnDialogDataset))
  intersectionDialogDataset=(action (mut this.intersectionDialogDatasetId))
  selectedBlock=@selectedBlock
  blockSamples=true
  displayForm=this.requestFormat
  haplotypeToggle=this.haplotypeToggle
  featureToggle=this.featureToggle
  variantIntervalToggle=this.variantIntervalToggle
  filterSamples=this.filterSamples
  tablePositionChanged=this.tablePositionChanged
  tableApi=this.tableApi
}}

{{!---------------------------------------------------------------------------}}

{{yield}}
