{{this.initialDisplayEffect}}
{{this.selectedSampleEffect}}

<div class="col-md-7" style="display: inline-block;">

  {{#elem/button-base
    icon="search"
    classColour="info"
    onClick=(action (mut this.showInputDialog) true)
    }}
    <span>Lookup ...</span>

     {{#ember-tooltip side="right" delay=500}}
       Show/hide the VCF Lookup dialog.
     {{/ember-tooltip}}

  {{/elem/button-base}}

</div>


{{#if this.showInputDialog}}

{{#ember-modal-dialog
  onClose=(action (mut this.showInputDialog) false)
  targetAttachment="center"
  translucentOverlay=true

  modal-id="split-container-dialog-modal"
  title="VCF Lookup Inputs"
  header-icon='search'
}}

Genotypes

{{log 'flowsService.axisBrush' flowsService.axisBrush}}

{{this.apiServerSelectedOrPrimary.name}}

<div class="genotype">
<div class="axis-brushes">

<table>
  <tr>
    <th>Dataset Name</th>
    <th>Scope</th>
    <th>Interval</th>
    <!-- ----------------------------- -->
    <th class="devel-visible">BlockId</th>
    <th class="devel-visible">zoomCounter</th>
  </tr>

{{#each flowsService.axisBrush.brushedAxes as |block| }}

  <tr>
    <td>
      {{!-- datasetName --}}
      <div>{{block.axis.referenceBlock.datasetId.id}}</div>
      <div>{{block.axis.axis1d.referenceBlock.datasetId.id}}</div>
    </td>
    <td>{{block.block.scope}}</td>
    <td>{{brushedDomainRounded}}</td>
    <!-- ----------------------------- -->
    <td class="devel-visible">{{blockId}}</td>
    <td class="devel-visible">{{zoomCounter}}</td>
    <td style="display:none;"> {{features.length}} <!-- for features request. --></td>
  </tr>

{{/each}}

</table>

</div>

<div>{{referenceDatasetName}}</div>

<div>
  <select onchange={{action (mut this.axisBrushBlockIndex) value="target.value"}}>
    {{#each this.brushedVCFBlocks as |abbChoice abbIndex|}}
      <option value={{abbIndex}} selected={{eq this.axisBrushBlockIndex abbIndex}}>{{abbIndex}} : {{abbChoice.1.datasetId.id}} : {{abbChoice.1.scope}}</option>
    {{/each}}
  </select>
</div>

<div>
  <label>List of samples from VCF</label>
  <button type="button" onclick={{action this.vcfGenotypeSamples}} class="btn btn-info btn-xs">Get samples list</button>

  <div>
    <div>{{this.vcfGenotypeSamplesText.length}}</div>
    <textarea class="vcfGenotypeSamplesText">{{this.vcfGenotypeSamplesText}}</textarea>
  </div>
</div>

<div>
  <label>Selected samples to be requested in VCF Lookup</label>
  {{content-editable
    value=this.vcfGenotypeSamplesSelected
    placeholder="Samples to be requested in VCF Lookup"
    escape-press="putContent"
    class="vcfGenotypeSamplesSelected"
    type="text"}}
</div>


<div>
  <div>
    <label>VCF Genotype for brushed interval</label>
    <span>
      <span>{{object-at 0 this.sequenceLookupDomain}}</span>
      <span>{{object-at 1 this.sequenceLookupDomain}}</span>
    </span>
  </div>

  <div style="display: flex">
    <div>
      <ul class="view-controls"
        style="min-width: fit-content; list-style-type: none; padding-left: 0px;">
        {{!-- possibly : class="list-group" --}}

        <li> {{!-- possibly :  class="list-group-item" --}}
          <label style="display:inline">Format to request :</label>
          {{radio-button value='CATG' groupValue=requestFormat
            changed=(action requestFormatChanged preventDefault=false)
          }}
          CATG &nbsp;&nbsp;
          {{radio-button value='Numerical' groupValue=requestFormat
            changed=(action requestFormatChanged preventDefault=false)
          }}
          Dosage / # allele copies of Alt &nbsp;&nbsp;

        </li>

      <li>
        <input type="checkbox"
          style="margin-left: 3em;"
          checked={{@userSettings.replaceResults}}
          oninput={{action (mut @userSettings.replaceResults) value="target.checked"}}  >
        <label>Replace previous results.</label>
      </li>

      <li class="list-group-item horiz-2">
        <div>
          <label>Interval limit</label>
          <span class="sub-label">{{ this.intervalLimit }}</span>
          <input type="range"
           value=0
           oninput={{action this.intervalLimitInput}}
           min="1" max="100"
          />
        </div>

        <div>
          <label>Result rows</label>
          <span class="sub-label">{{ this.rowLimit }}</span>
          <input type="range"
           value=100
           oninput={{action this.rowLimitInput}}
           min="1" max="1000"
          />
        </div>
      </li>

      </ul>

    </div>

  </div>
</div>

  {{#if this.vcfGenotypeLookupDomain}}
    <button type="button" onclick={{action this.vcfGenotypeLookup}} class="btn btn-info btn-xs">VCF Lookup</button>
  {{else}}
    <span>VCF Lookup Region limit is {{this.intervalLimit}}Mb</span>
  {{/if}}


{{!-- --------------------------------------------------------------------- --}}

  <div style="margin-top:2ex">

    {{#elem/panel-container state="primary" showComponent=showResultText as |panelContainer|}}

      {{#elem/panel-heading icon="transfer" panelContainer=panelContainer}}
        Result text
      {{/elem/panel-heading}}

      {{#if panelContainer.showComponent}}

      <div>
        <textarea class="vcfGenotypeText"
          style={{compute (action this.vcfGenotypeTextWidthStyle)}} >
          {{this.vcfGenotypeText}}</textarea>
      </div>

      {{else}}
        {{this.vcfGenotypeTextSizeDescription}}
      {{/if}} {{!-- showComponent --}}
    {{/elem/panel-container}}


  </div>


{{!-- --------------------------------------------------------------------- --}}

</div>

{{/ember-modal-dialog}}
{{/if}}


{{!-- --------------------------------------------------------------------- --}}
<div class="clear-both"></div>

{{matrix-view
  displayData=displayData
  selectBlock=(action @selectBlock)
  selectedBlock=@selectedBlock
  blockSamples=true
}}


{{yield}}