Genotypes

{{log 'flowsService.axisBrush' flowsService.axisBrush}}

{{this.apiServerSelectedOrPrimary.name}}

<div class="genotype">
<div class="axis-brushes">

<table>
  <tr>
    <th>Dataset Name</th>
    <th>Scope</th>
    <th>Interval</th>
    <!-- ----------------------------- -->
    <th class="devel-visible">BlockId</th>
    <th class="devel-visible">zoomCounter</th>
  </tr>

{{#each flowsService.axisBrush.brushedAxes as |block| }}

  <tr>
    <td>
      {{!-- datasetName --}}
      <div>{{block.axis.referenceBlock.datasetId.id}}</div>
      <div>{{block.axis.axis1d.referenceBlock.datasetId.id}}</div>
    </td>
    <td>{{block.block.scope}}</td>
    <td>{{brushedDomainRounded}}</td>
    <!-- ----------------------------- -->
    <td class="devel-visible">{{blockId}}</td>
    <td class="devel-visible">{{zoomCounter}}</td>
    <td style="display:none;"> {{features.length}} <!-- for features request. --></td>
  </tr>

{{/each}}

</table>

</div>

<div>{{referenceDataset.id}}</div>
<div>{{datasetName}}</div>


<div>
  <label>List of samples from VCF</label>
  <button type="button" onclick={{action this.vcfGenotypeSamples}} class="btn btn-info btn-xs">Get samples list</button>

  <div>
    <div>{{this.vcfGenotypeSamplesText.length}}</div>
    <textarea class="vcfGenotypeSamplesText">{{this.vcfGenotypeSamplesText}}</textarea>
  </div>
</div>

<div>
  <label>Selected samples to be requested in VCF Lookup</label>
  {{content-editable
    value=this.vcfGenotypeSamplesSelected
    placeholder="Samples to be requested in VCF Lookup"
    escape-press="putContent"
    class="vcfGenotypeSamplesSelected"
    type="text"}}
</div>


  <label>VCF Genotype for brushed interval</label>
  <span>
    <span>{{object-at 0 this.sequenceLookupDomain}}</span>
    <span>{{object-at 1 this.sequenceLookupDomain}}</span>
  </span>

  {{#if this.vcfGenotypeLookupDomain}}
    <button type="button" onclick={{action this.vcfGenotypeLookup}} class="btn btn-info btn-xs">VCF Lookup</button>
  {{else}}
    <span>VCF Lookup Region limit is 1Mb</span>
  {{/if}}


</div>

{{matrix-view
  displayData=displayData
  selectedBlock=selectedBlock
  blockSamples=true
}}

<div>
  {{this.vcfGenotypeText.length}}
  <textarea class="vcfGenotypeText">{{this.vcfGenotypeText}}</textarea>
</div>

{{yield}}