{{this.selectedSampleEffect}}


{{#if this.showInputDialog}}

  {{#ember-modal-dialog
    containerClassNames="genotype"
    onClose=(action (mut this.showInputDialog) false)
    targetAttachment="center"
    translucentOverlay=true
    clickOutsideToClose=false
    onClickOverlay=(action this.userMessage "Use X to close dialog")

    title="Genotype Table Controls, Datasets, Samples, Filters, VCF Lookup Inputs"
    header-icon='search'
  }}


    {{!-- Genotypes --}}

    {{!-- ----------------------------------------------------------------- --}}
    {{!-- tabTypeName is the text displayed on the tab for user identification of the contents, aka tabName.  --}}

    <BsTab @customTabs={{true}} @onChange={{action this.onChangeTab}} @activeId={{this.activeId}} as |tab|>
      <BsNav @type="tabs" as |nav|>
        <ul class="nav nav-tabs li-active-extra counts">

          {{#let 'Datasets' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id 'Datasets')) as |tabId|}}
              <nav.item class="active-detail"
                @active={{and (eq this.activeDatasetId tabTypeName) (bs-eq tab.activeId tabId) }}>
                <a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>{{this.selectedCount}}</div>
              </nav.item>
            {{/let}}
          {{/let}}

          {{#let 'Lookup' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}
              <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>{{this.brushedDomainLength}}</div>
              </nav.item>
            {{/let}}
          {{/let}}

          {{#let 'Result' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}
              <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>
                  {{this.vcfGenotypeTextSizeDescription}}
                  , {{this.vcfGenotypeLookupCount}} current requests.
                  {{this.vcfGenotypeText.length}}
                </div>
              </nav.item>
            {{/let}}
          {{/let}}

          {{#let 'Controls' as |tabTypeName|}}
            {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}
              <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
                <div>{{!-- this.blocksHaplotypeFilters.mapBy('haplotypeFilters').flat() --}}</div>
              </nav.item>
            {{/let}}
          {{/let}}

        </ul>
      </BsNav>

      {{!-- --------------------------------------------------------------- --}}

      <div class="tab-content">

        {{#let 'Datasets' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}

              {{!-- --------------------------------------------------------- --}}

              <BsTab @customTabs={{true}} @onChange={{action this.selectDataset}} @activeId={{this.activeIdDatasets}} as |tab|>
                <BsNav @type="tabs" as |nav|>
                  <ul class="nav nav-tabs li-active-extra counts">

                    {{#each this.gtDatasetTabs as |tabTypeName|}}
                      {{#let (compute (action this.tabName2IdDatasets tabTypeName)) as |tabId|}}
                        <nav.item class="active-detail"
                          @active={{bs-eq this.activeDatasetId tabTypeName }}>
                          <a href={{concat "#" tabId}} role="tab" onclick={{action (pipe (action tab.select tabId) (action this.selectDataset tabTypeName) ) }}>{{tabTypeName}}</a>
                          <div>{{this.selectedCount}}</div>
                        </nav.item>
                      {{/let}}
                    {{/each}}

                  </ul>
                </BsNav>

                <div class="tab-content">


                  {{!-- --------------------------------------------------------- --}}

                  {{log 'flowsService.axisBrush' flowsService.axisBrush}}

                  Server : 
                  {{this.apiServerSelectedOrPrimary.name}}

                  <div class="genotype">
                    <div class="axis-brushes">

                      <table>
                        <tr>
                          <th>Dataset Name</th>
                          <th>Scope</th>
                          <th>Interval</th>
                          <!-- ----------------------------- -->
                          <th class="devel-visible">BlockId</th>
                          <th class="devel-visible">zoomCounter</th>
                        </tr>

                      {{#each flowsService.axisBrush.brushedAxes as |block| }}

                        <tr>
                          <td>
                            {{!-- datasetName --}}
                            <div>{{block.axis.referenceBlock.datasetId.id}}</div>
                            <div>{{block.axis.axis1d.referenceBlock.datasetId.id}}</div>
                          </td>
                          <td>{{block.block.scope}}</td>
                          <td>{{brushedDomainRounded}}</td>
                          <!-- ----------------------------- -->
                          <td class="devel-visible">{{blockId}}</td>
                          <td class="devel-visible">{{zoomCounter}}</td>
                          <td style="display:none;"> {{features.length}} <!-- for features request. --></td>
                        </tr>

                      {{/each}}

                      </table>

                    </div>

                    <div>{{referenceDatasetName}}</div>

                    <div>
                      <label style="display:inline">Request Samples :
                        {{#ember-tooltip side="right" delay=500}}
                        Which samples / individuals to request genotype of
                        {{/ember-tooltip}}
                      </label>

                      <span>
                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.requestSamplesAll}}
                          oninput={{action (pipe (action (mut @userSettings.requestSamplesAll) value="target.checked")
                            this.ensureSamples ) }}  >
                        <label>All</label>
                        {{#ember-tooltip side="right" delay=500}}
                          Request genotype of All samples or select samples in list
                        {{/ember-tooltip}}
                      </span>

                      <span>
                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.requestSamplesFiltered}}
                          oninput={{action (pipe (action (mut @userSettings.requestSamplesFiltered) value="target.checked")
                            this.ensureSamples ) }}  >
                        <label>Filtered</label>
                        {{#ember-tooltip side="right" delay=500}}
                          Request genotype of samples selected by LD Block / tSNP filters
                        {{/ember-tooltip}}
                      </span>

                    </div>

                    <div>
                      <label>List of samples from VCF</label>
                      {{#if this.vcfGenotypeSamplesCount}}
                        <span class="sample-count">( {{this.vcfGenotypeSamplesCount}} )</span>
                      {{else}}
                        <button type="button" onclick={{action this.vcfGenotypeSamples}} class="btn btn-info btn-xs">Get samples list</button>
                      {{/if}}

                      <div class="genotypeSampleFilter_textInput">
                        <label class="" style="margin-right: 1em;">
                          <i class="glyphicon glyphicon-filter"></i>
                          Search / Filter
                        </label>
                        {{input id="sampleNameFilter" type="search" value=sampleNameFilter
                          input=(action this.nameFilterChanged value="target.value")
                          placeholder="Filter available samples by name" }}
                          {{!-- maybe autocomplete="sample-name", but samples names are mostly numeric so it may be more of an impediment than a benefit for the user --}}
                      </div>

                      <div class="genotype-controls">

                        <select style="height:100px" class="form-control" multiple onchange={{action this.selectSample}}>
                          {{#each this.filteredSamples as |sampleChoice|}}
                          <option value={{sampleChoice}} selected={{include this.selectedSamples sampleChoice}}>{{sampleChoice}}</option>
                          {{/each}}
                        </select>

                      </div>
                    </div>

                    <div>
                      <label>Selected samples to be requested in VCF Lookup</label>
                      {{#if this.selectedCount}}
                        <span class="sample-count">( {{selectedCount}} )</span>
                      {{/if}}

                      <div>
                        <Textarea
                          class="selectedSamplesInput"
                          @value={{this.selectedSamplesText}}
                          @input={{action (mut this.activeInput) true}}
                          @enter={{this.sampleNameListInput}}
                          @insert-newline={{this.sampleNameListInput}}
                          @escape-press={{this.sampleNameListInput}}
                          placeholder="Sample Names"
                          >
                        </Textarea>
                      </div>

                    </div>

                  {{!-- --------------------------------------------------------------------- --}}
                  </div>
                  {{!-- --------------------------------------------------------------------- --}}


                </div>      {{!-- end of class="tab-content" --}}

              </BsTab>
              {{!-- --------------------------------------------------------------------- --}}

            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}

        {{#let 'Lookup' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}

              <div class="genotype">

                <div class="genotype-controls">
                  <div>
                    <ul class="view-controls"
                      style="min-width: fit-content; list-style-type: none; padding-left: 0px;">
                      {{!-- possibly : class="list-group" --}}

                      <li> {{!-- possibly :  class="list-group-item" --}}
                        <label style="display:inline">Format :
                        {{#ember-tooltip side="right" delay=500}}
                          Format for request and display
                        {{/ember-tooltip}}
                        </label>
                        {{radio-button value='CATG' groupValue=requestFormat
                          changed=(action requestFormatChanged preventDefault=false)
                        }}
                        ACGT &nbsp;&nbsp;
                        <span>
                        {{radio-button value='Numerical' groupValue=requestFormat
                          changed=(action requestFormatChanged preventDefault=false)
                        }}
                        012 &nbsp;&nbsp;
                        {{#ember-tooltip side="right" delay=500}}
                          Dosage / # allele copies of Alt
                        {{/ember-tooltip}}
                        </span>

                      </li>

                      <li>

                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.autoLookup}}
                          oninput={{action (mut @userSettings.autoLookup) value="target.checked"}}  >
                        <label>Auto lookup - all datasets</label>

                      </li>

                      <li>
                        <input type="checkbox"
                          style="margin-left: 3em;"
                          checked={{@userSettings.replaceResults}}
                          oninput={{action (mut @userSettings.replaceResults) value="target.checked"}}  >
                        <label>Replace previous results.</label>
                      </li>

                      <li class="list-group-item horiz-2">
                        {{#if this.urlOptions.gtIntervalLimit}}
                        <div>
                          <label>Interval limit</label>
                          <span class="sub-label">{{ this.intervalLimit }} Mb</span>
                          <input type="range"
                           value=0
                           oninput={{action this.intervalLimitInput}}
                           min="1" max="100"
                          />
                        </div>
                        {{/if}}

                        <div>
                          <label>Rows</label>
                          {{#ember-tooltip side="right" delay=500}}
                            Limit of rows in result, and rows displayed per dataset.
                          {{/ember-tooltip}}
                          <span class="sub-label">{{ this.rowLimit }}</span>
                          <input type="range"
                           value=100
                           oninput={{action this.rowLimitInput}}
                           min="1" max="1000"
                          />
                        </div>

                        <div class="samplesLimit border-none-lgi">
                          <Elem::InputRangeText
                            @labelText="Samples Limit : "
                            @allowZero=true
                            @valueInitial={{this.args.userSettings.samplesLimit}}
                            @valueMin=1
                            @valueMax=1000
                            @valueChanged={{action (fn this.samplesLimitChanged)}}
                            @disabled={{not @userSettings.samplesLimitEnable}} >

                            <input type="checkbox"
                              checked={{@userSettings.samplesLimitEnable}}
                              oninput={{action (mut @userSettings.samplesLimitEnable) value="target.checked"}}  >

                          </Elem::InputRangeText>
                        </div>



                      </li>

                    </ul>

                  </div>

                </div>

                <div class="lookup-line">

                  <div class="interval-group">
                    <label>VCF Genotype for brushed interval</label>
                    <div>
                      {{!-- evaluating vcfGenotypeLookupDomain here enables following object-at to work. --}}
                      <div style="display:none">vcfGenotypeLookupDomain{{this.vcfGenotypeLookupDomain}}</div>
                      <div>{{object-at 0 this.vcfGenotypeLookupDomain}}</div>
                      <div>{{object-at 1 this.vcfGenotypeLookupDomain}}</div>
                    </div>
                  </div>

                </div>

              </div>

              {{!-- --------------------------------------------------------------- --}}

              {{#if lookupMessage}}
                {{elem/panel-message warningMessage=lookupMessage}}
              {{/if}}

              {{!-- --------------------------------------------------------------- --}}

              <div class="genotype">
                {{#if this.vcfExportText.length}}
                  <button type="button" class="btn btn-info btn-xs">
                    {{#component "ember-csv@file-anchor" data=this.vcfExportText fileName=this.vcfExportFileName}} VCF Download{{/component}}
                  </button>
                {{/if}}
              </div>

            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}

        {{#let 'Result' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}

              {{#if this.headerText}}
                <textarea class="vcfGenotypeText" >{{this.headerText}}</textarea>
              {{/if}}
              <div>
                {{!-- style={{compute (action this.vcfGenotypeTextWidthStyle) --}}
                <textarea class="vcfGenotypeText" >
                  {{this.vcfGenotypeText}}</textarea>
              </div>

            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}

        {{#let 'Controls' as |tabTypeName|}}
          {{#let (compute (action this.tabName2Id tabTypeName)) as |tabId|}}

            {{#tab.pane id=tabId title=tabTypeName}}
              <div class="genotype">

                <label style="margin-left: 1em; margin-top: 1em" >LD Block Sample Filters</label>
                <ul class="list-group borderless haplotypeFilters">
                  {{#each this.blocksHaplotypeFilters as |blockHF|}}
                    <li class="list-group-item">
                      <label>{{blockHF.block.datasetId.id}}</label>
                      <ul class="list-group">
                        {{#each blockHF.haplotypeFilters as |haplotype|}}
                          <li class="list-group-item">
                            <div>
                              {{!-- 2 nbsp creates a square block --}}
                              <span style="background-color : {{compute this.haplotypeColour haplotype }}">
                                &nbsp; &nbsp;
                              </span>
                              {{haplotype}}
                            </div>
                          </li>
                        {{/each}}
                      </ul>

                    </li>
                  {{/each}}
                </ul>

                <ul class="list-group borderless view-controls">

                  <li>
                    <button type="button" class="btn btn-info btn-xs"
                      style="margin-left: 2.5em;"
                      onclick={{action (pipe this.haplotypeFiltersClear this.haplotypeFiltersApply) }} >
                      Clear
                    </button>

                    <input type="checkbox"
                      style="margin-left: 2em;"
                      checked={{@userSettings.haplotypeFilterRef}}
                      oninput={{action (pipe 
                      (action (mut @userSettings.haplotypeFilterRef) value="target.checked")
                      this.haplotypeFiltersApply) }}  >
                    <label>Match Ref</label>

                    <input type="checkbox"
                      style="margin-left: 2em;"
                      checked={{@userSettings.haplotypeFiltersEnable}}
                      oninput={{action (pipe 
                      (action (mut @userSettings.haplotypeFiltersEnable) value="target.checked")
                      this.haplotypeFiltersApply) }}  >
                    <label>Filter</label>

                  </li>


                </ul>

                <hr>

                {{!---------------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">

                  <li>
                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.filterBySelectedSamples}}
                      oninput={{action (mut @userSettings.filterBySelectedSamples) value="target.checked"}}  >
                    <label>Selected samples</label>

                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{this.urlOptions.gtMergeRows}}
                      oninput={{action (mut this.urlOptions.gtMergeRows) value="target.checked"}}  >
                    <label>Merge Rows</label>

                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.showNonVCFFeatureNames}}
                      oninput={{action (mut @userSettings.showNonVCFFeatureNames) value="target.checked"}}  >
                    <label>Feature Names</label>

                  </li>
                </ul>

                {{!---------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">
                  <li class="list-group-item horiz-2">

                    <div>
                      <label>Cell size factor</label>
                      {{#ember-tooltip side="right" delay=500}}
                        Adjust table cell size.
                      {{/ember-tooltip}}
                      <span class="sub-label">{{ this.args.userSettings.cellSizeFactor }}</span>
                      <input type="range"
                       value={{ this.args.userSettings.cellSizeFactorInt }}
                       oninput={{action this.cellSizeFactorInput}}
                       min="1" max="200"
                      />
                    </div>

                  </li>
                </ul>

                {{!---------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">
                  <li>

                    <div style="display : inline-block;">
                      <Elem::InputRangeText
                        @labelText="SNP MAF Threshold : "
                        @allowZero=true
                        @valueInitial={{this.args.userSettings.mafThreshold}}
                        @valueMin={{this.mafThresholdMin}}
                        @valueMax={{this.mafThresholdMax}}
                        @valueChanged={{action (fn this.mafThresholdChanged)}} >

                      <span class="filter-group-col">
                        <input type="checkbox" id="gtInputMafUpper" name="mafUpper" checked={{@userSettings.mafUpper}}
                          oninput={{action (mut @userSettings.mafUpper) value="target.checked"}} 
                        >
                        <EmberTooltip side="right" delay=500>
                          <span>Use threshold as an upper / lower limit.</span>
                        </EmberTooltip>
                      </span>

                      {{this.mafThresholdText}}
                      </Elem::InputRangeText>

                    </div>

                    <div style="display : inline-block;">
                      <Elem::InputRangeText
                        @labelText="Sample Call Rate : "
                        @allowZero=true
                        @valueInitial={{this.args.userSettings.callRateThreshold}}
                        @valueMin=0.001
                        @valueMax=1
                        @valueChanged={{action (fn this.callRateThresholdChanged)}} >
                      </Elem::InputRangeText>
                    </div>


                  </li>


                </ul>

                {{!---------------------------------------------------------------------}}

                <ul class="list-group borderless view-controls">
                  <li>
                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.showAxisLDBlocks}}
                      oninput={{action (mut @userSettings.showAxisLDBlocks) value="target.checked"}}  >
                    <label>LD Blocks colour in Axis Tracks</label>
                  </li>

                  <li>
                    <input type="checkbox"
                      style="margin-left: 3em;"
                      checked={{@userSettings.showTablePositionAlignment}}
                      oninput={{action (mut @userSettings.showTablePositionAlignment) value="target.checked"}}  >
                    <label>Show table position alignment to axis</label>
                  </li>
                </ul>
                {{!---------------------------------------------------------------------}}
              </div>


            {{/tab.pane}}
          {{/let}}
        {{/let}}

        {{!-- ------------------------------------------------------------- --}}


      </div>      {{!-- end of class="tab-content" --}}

    </BsTab>


    {{!-- ----------------------------------------------------------------- --}}

    {{#if this.vcfGenotypeLookupDomain}}
      <button type="button" onclick={{action this.vcfGenotypeLookup}}
        disabled={{and (not @userSettings.requestSamplesAll) (not this.vcfGenotypeSamplesSelected.length)  }}
        class="btn btn-info">VCF Lookup</button>
    {{else}}
      {{#if this.urlOptions.gtIntervalLimit}}
        <span>VCF Lookup Region limit is {{this.intervalLimit}}Mb</span>
      {{/if}}
    {{/if}}

    {{!-----------------------------------------------------------------------}}

    <BsButton @type="info" @onClick={{action (mut this.showInputDialog) false}}>Close</BsButton>


    {{!-- ----------------------------------------------------------------- --}}


  {{/ember-modal-dialog}}
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.featureColumnDialogDataset}}

  {{!-- tried modal-id param - no affect --}}
  {{#ember-modal-dialog
    onClose=(action (mut this.featureColumnDialogDataset) null)
    targetAttachment="center"
    translucentOverlay=true
    clickOutsideToClose=false
    onClickOverlay=(action this.userMessage "Use X to close dialog")
    title="Select additional columns"
    header-icon='search'
  }}

  <div class="genotype">
    <label>Select additional columns</label>

    <select style="height:100px" class="form-control" multiple onchange={{action this.selectFieldName}}>
      {{#each this.selectedFeaturesValuesFieldsForDataset as |fieldName|}}
        <option value={{fieldName}} selected={{include this.selectedFeaturesValuesFieldsForDataset fieldName}}>{{fieldName}}</option>
      {{/each}}
      {{#each this.forSelectFeaturesValuesFields as |fieldName|}}
        <option value={{fieldName}}>{{fieldName}}</option>
      {{/each}}
    </select>

    <BsButton @type="info" @onClick={{action (mut this.featureColumnDialogDataset) null}}>OK</BsButton>
  </div>

  {{/ember-modal-dialog}}
{{/if}}

{{!-- --------------------------------------------------------------------- --}}
<div class="clear-both"></div>

<style>
  {{#each datasetsClasses as |datasetsClass|}}
    {{concat ".col-Dataset-" datasetsClass.id}}
    {
      border-left : 5px solid {{datasetsClass.colour}};
    }
  {{/each}}
</style>

{{matrix-view
  model=this.args.model
  userSettings=this.args.userSettings
  dataScope=this.dataScope
  displayData=this.displayData
  displayDataRows=this.displayDataRows
  columnNamesParam=this.columnNames
  gtDatasets=this.gtDatasets
  gtDatasetColumns=this.gtDatasetColumns
  datasetColumns=this.datasetColumns
  extraDatasetColumns=this.extraDatasetColumns
  selectBlock=(action @selectBlock)
  changeDatasetPositionFilter=this.changeDatasetPositionFilter
  featureColumnDialogDataset=(action (mut this.featureColumnDialogDataset))
  selectedBlock=@selectedBlock
  blockSamples=true
  displayForm=this.requestFormat
  haplotypeToggle=this.haplotypeToggle
  haplotypeFilterSamples=this.haplotypeFilterSamples
  tablePositionChanged=this.tablePositionChanged
}}

{{!---------------------------------------------------------------------------}}

{{yield}}
