{{#let this.model as |group|}}
 <div style="display:flex; gap:1em">

   <button type="button" class="btn btn-info" {{on 'click' (action this.addClient) }}>Add</button>

   <input
     oninput={{action (action (mut this.newClientName) value="target.value") }}
     placeholder="User name (email)"   >
 </div>

 {{this.addClientMsg}}

  <hr>

  <label>Datasets of group {{group.name}}</label>
  {{#if this.groupDatasets.length}}
      <div class="margin-1em group-dataset">
        <label>Dataset</label>
        <label>Owner</label>
        <label>Group</label>
        <label>public</label>
        <label>createdAt</label>
      </div>
    {{#each this.groupDatasets as |dataset|}}
      <div class="margin-1em group-dataset">
       <span>{{dataset.id}}</span>
       <span>{{dataset.clientId.email}}</span>
       <span>{{dataset.groupId.name}}</span>
       <span>{{dataset.public}}</span>
       <span>{{dataset.createdAt}}</span>
      </div>
    {{/each}}
  {{/if}}

  {{group/group-members group=group selectMember=(action this.selectMember group)}}
  {{#if this.selectedClientGroupId}}
    {{this.selectedClientGroupId}}
    <button type="button" {{on 'click' (action this.removeGroupMember) }}>Remove member</button>
  {{/if}}

{{/let}}




{{outlet}}