<div class="row">
  {{entry.name}}
  {{#if entry.owner}}
    {{#if entry.public}}
    {{else}}
      {{elem/icon-base name='lock'}}
    {{/if}}
    {{#if entry.readOnly}}
    {{else}}
      {{elem/icon-base name='pencil'}}
    {{/if}}
  {{/if}}

  <span class="pull-right">
    <div class="btn-group btn-group-xs">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{elem/icon-base name='option-horizontal'}}
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        {{#if entry.public}}
          <li><a href="#" {{action 'flipPublic' entry}}>Make Private</a></li>
        {{else}}
          <li><a href="#" {{action 'flipPublic' entry}}>Make Public</a></li>
        {{/if}}
        {{#if entry.readOnly}}
          <li><a href="#" {{action 'flipReadOnly' entry}}>Make Editable</a></li>
        {{else}}
          <li><a href="#" {{action 'flipReadOnly' entry}}>Make Read-Only</a></li>
        {{/if}}
        <li role="separator" class="divider"></li>
        <li><a href="#" {{action 'deleteRecord' entry}}>{{elem/icon-base name='remove'}} Delete</a></li>
      </ul>
    </div>
  </span>

  
</div>
<div class="row">
  {{yield}}
</div>
