<div>axesP : {{axesP.length}}</div>
{{#each axesP as |axis axisIndex|}}
  <div>axis : {{axisIndex}}, {{axis.view}} {{axis.view.axisName}}, {{axis.extended}}</div>
  {{#draw/axis-1d drawMap=drawMap axis=axis axes2d=axes2d as |axis1d|}}
    {{draw/axis-ticks-selected axis1d=axis1d axisId=axis.id
      drawMap=drawMap
      featuresInBlocks=featuresInBlocks
    }}
  {{/draw/axis-1d}}
{{/each}}
