<div>axesP : {{this.axesP.length}}</div>
{{this.block.axis1dReferenceBlocks}}
{{this.axis1dArray}}
{{#each this.axesP as |axis axisIndex|}}
  {{!-- axis is the primary / reference block of the axis --}}
  {{#draw/axis-1d
    drawMap=this.drawMap
    axis=axis
    axes2d=this.axes2d
    stacksView=this.stacksView
    axis1dExists=(action this.axis1dExists)
    as |axis1d|
  }}
    <div>axis : {{axis1d.axis.id}}, {{axis1d.extended}}</div>
    {{#if axis1d.is2d}}
      {{axis-2d
        model=this.model
        drawMap=this.drawMap
        data=this.drawMap.oa
        axis1d=axis1d
        axisID=axis1d.axis.id
        axisObj=(hash axisID=axis1d.axis.id extended=axis1d.extended)
      }}
    {{/if}}

    {{draw/axis-ticks-selected
      axis1d=axis1d
      axisId=axis.id
      drawMap=this.drawMap
      featuresInBlocks=this.featuresInBlocks
      clickedFeaturesByAxis=this.selected.clickedFeaturesByAxis
      shiftClickedFeaturesByAxis=this.selected.shiftClickedFeaturesByAxis
      labelledFeaturesByAxis=this.selected.labelledFeaturesByAxis
    }}
  {{/draw/axis-1d}}
{{/each}}

{{#if this.menuAxis}}
  {{draw/axis-menu
    blockS=this.menuAxis
    axisApi=this.drawMap.oa.axisApi
    xOffsetsChangeCount=this.drawMap.xOffsetsChangeCount
  }}
{{/if}}