{{!-- block.block.datasetNameAndScope or datasetId.name or .id --}} 

  <tr>
    <td>{{datasetName}}</td>
    <td>{{block.block.scope}}</td>
    <td>{{brushedDomainRounded}}</td>
    <!-- ----------------------------- -->
    <td class="devel-visible">{{blockId}}</td>
    <td class="devel-visible">{{zoomCounter}}</td>
    <td style="display:none;"> {{features.length}} <!-- for features request. --></td>
  </tr>


{{#each brushedBlocks as |brushedBlock| }}
  <div>
    {{brushedBlock.featuresLengthPO.content}} /
    {{brushedBlock.featuresCount}}
    {{brushedBlock.block.datasetId.shortNameOrName}}
  </div>
{{/each}}