
<EmberPopover
  @tooltipClass="axis-menu" @innerClass="axis-menu-inner"
  @popperContainer="body" @targetId={{concat 't' axisName}}
  @isShown={{true}} @event='none'
  @onHide={{action 'onHide'}}
  as |popover| >

  <button class="close" onClick={{action "hide" target=popover}} type="button">╳</button>

  <div class="menu-icons">
      <button onClick={{action "deleteMap"}}>╳</button>
      <button onClick={{action "flipAxis"}}>⇅</button>
      <button onClick={{action "extendMap"}}>⇲</button>
  </div>


  <div class="name">
    <button
      style="margin-right: 1em;"
      onClick={{action (pipe (toggle "editingShortName" this) (action this.editedShortName) )  }}>
      <i class="glyphicon glyphicon-pencil"></i>
    </button>
    {{block.datasetId.name}} : {{block.name}}
  </div>

  {{#if editingShortName}}
  <div>
    {{input value=this.block.datasetId._meta.shortName
     }}
  </div>
  {{/if}}

  <ul class="list-unstyled dataBlocks">
    {{#each dataBlocks as |dBlockS|}}
    <li style={{compute (action this.dataBlockColourStyle dBlockS)}}>
      <button onClick={{action this.blockUnview dBlockS}}>
       {{!--  "&#x2573;", glyphicon-sound-7-1, glyphicon-remove-sign --}}
       ╳
      </button>
      <button onClick={{action this.blockVisible dBlockS}}>
        {{!-- "&#x1F441;", Unicode Character 'EYE', glyphicon-eye-close --}}
        {{#if dBlockS.block.visible}}
          <span class="glyphicon glyphicon-eye-open"></span>
        {{else}}
          <span class="glyphicon glyphicon-eye-close"></span>
        {{/if}}
      </button>

      {{!-- result is text title --}}
      <div class="name">{{compute (action this.dataBlockText dBlockS)}}</div>

      <div class="featureCounts">{{compute (action this.dataBlockFeatureCountsText dBlockS)}}</div>
    </li>
    {{/each}}
  </ul>


</EmberPopover>