{{!-- logo, id0, (concat 'all' axis) .   event='click'  @hideOn='click'  --}}
<EmberPopover
  @tooltipClass="axis-menu" @innerClass="axis-menu-inner"
  @popperContainer="body" @targetId={{concat 't' axis}}
  @isShown={{true}} @event='none'
  @onHide={{action 'onHide'}}
  as |popover| >


<div>
PBI-14-1406-s005  : 1B
</div>




<ul>
  <li>
    IWGSC_MIPSv2.2_HC : 1B
  </li>
   <li>
    IWGSC_genes_HCv1.1 : 1B
  </li>
   <li>
    IWGSC_DArT : 1B
  </li>
</ul>

    <div class="menu-icons">
	<button onClick={{action "deleteMap"}}>╳</button>
	<button onClick={{action "flipAxis"}}>⇅</button>
	<button onClick={{action "extendMap"}}>⇲</button>
    </div>
  <button onClick={{action "hide" target=popover}} type="button">Close</button>

</EmberPopover>