{{!-- block.block.datasetNameAndScope or datasetId.name or .id --}} 

  <tr>
    <td>{{block.block.scope}}</td>
    <td>{{brushedDomainRounded}}</td>
    <td>{{blockId}}</td>
    <td>{{zoomCounter}}</td>
    <td style="display:none;"> {{features.length}} <!-- for features request. --></td>
  </tr>


