{{this.xOffsetsEffect}}

<EmberPopover
  @tooltipClass="axis-menu" @innerClass="axis-menu-inner"
  @popperContainer="body" @targetId={{concat 't' this.axisName}}
  @isShown={{true}} @event='none'
  @onHide={{action 'onHide'}}
  as |popover| >

  <button class="close" onClick={{action "hide" target=popover}} type="button">╳</button>

  <div class="menu-icons">
       {{!-- Unicode values of icons are noted in comment appended to axis-menu.js --}}
      <button onClick={{action "deleteMap"}}>╳</button>

      <button onClick={{action "flipAxis"}}>⇅</button>

      {{#if this.urlOptions.dotPlot}}
        <button onClick={{action "perpendicularAxis"}}>↷</button>
      {{/if}}
      <button onClick={{action "extendMap"}}>⇲</button>
      <a class="help-icon" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Axis-Title-menu-layout/"><i class="glyphicon glyphicon-question-sign"></i></a>
  </div>


  <div class="name">
    <button
      style="margin-right: 1em;"
      onClick={{action (pipe (toggle "editingShortName" this) (action this.editedShortName) )  }}>
      <i class="glyphicon glyphicon-pencil"></i>
    </button>

    {{this.block.datasetId.name}} : {{this.block.name}}
  </div>

  {{#if this.editingShortName}}
  <div>
    {{input value=this.block.datasetId._meta.shortName
     }}
  </div>
  {{/if}}

  <ul class="list-unstyled dataBlocks">
    {{#each this.dataBlocks as |dBlockS|}}
    <li style={{compute (action this.dataBlockColourStyle dBlockS)}}>
      {{#if this.multipleServers}}
        {{!-- circle character is unicode : (U+2B24) : Black Large Circle --}}
        <div class="apiServer" style={{compute (action this.dataBlockServerColourStyle dBlockS)}}>⬤</div>
      {{/if}}

      <button onClick={{action this.blockUnview dBlockS}}>
       {{!--  "&#x2573;", glyphicon-sound-7-1, glyphicon-remove-sign --}}
       ╳
      </button>
      <button onClick={{action this.blockVisible dBlockS}}>
        {{!-- "&#x1F441;", Unicode Character 'EYE', glyphicon-eye-close --}}
        {{#if dBlockS.block.visible}}
          <span class="glyphicon glyphicon-eye-open"></span>
        {{else}}
          <span class="glyphicon glyphicon-eye-close"></span>
        {{/if}}
      </button>

      {{!-- result is text title --}}
      <div class="name">{{compute (action this.dataBlockText dBlockS)}}</div>

      <div class="featureCounts">{{compute (action this.dataBlockFeatureCountsText dBlockS)}}</div>
    </li>
    {{/each}}
  </ul>


</EmberPopover>