{{!-- block.block.datasetNameAndScope or datasetId.name or .id --}} 


  <tr>
    <td>{{this.datasetName}}</td>
    <td>{{this.block.block.scope}}</td>
    <td>{{this.brushedDomainRounded}}</td>
    <!-- ----------------------------- -->
    <td class="devel-visible">{{this.blockId}}</td>
    <td class="devel-visible">{{this.zoomCounter}}</td>
    <td style="display:none;"> {{this.features.length}} <!-- for features request. --></td>
  </tr>

<div>
  <label>DNA sequence for brushed interval</label>
  <span>
    <span>{{object-at 0 this.sequenceLookupDomain}}</span>
    <span>{{object-at 1 this.sequenceLookupDomain}}</span>
  </span>
  {{#unless this.datasetOkForSequenceLookup}}
    <span style="margin-left: 4em;">Dataset does not have BlastDb set up and enabled.</span>    
  {{else if this.sequenceLookupDomain}}
    <button onclick={{action this.dnaSequenceLookup}} class="btn btn-xs">Lookup</button>
  {{else}}
    <span>Lookup Region limit is 100kb</span>
  {{/unless}}

</div>
<div>
  <textarea>{{this.sequenceText}}</textarea>
</div>



<table>
  <tr>
    <th colspan="2">Estimated Features in</th>
    <th></th>
  </tr>
  <tr>
    <th class="devel-visible">Loaded in Brush</th>
    <th>Brush</th>
    <th>Zoom</th>
    <th class="devel-visible">BlockId</th>
    <th>Dataset</th>
  </tr>

  {{#each this.brushedBlocks as |brushedBlock| }}
    <tr>
      <td class="devel-visible">{{get this.featuresReceived brushedBlock.block.id}}</td>
      <td>{{brushedBlock.featureCountInBrush}}</td>
      <td>{{brushedBlock.featuresCount}}</td>
      <td class="devel-visible">{{brushedBlock.block.id}}</td>
      <td>{{brushedBlock.block.datasetId.shortNameOrName}}</td>
    </tr>
  {{/each}}

</table>