
<EmberPopover
  @tooltipClass="axis-menu" @innerClass="axis-menu-inner"
  @popperContainer="body" @targetId={{concat 't' axisName}}
  @isShown={{true}} @event='none'
  @onHide={{action 'onHide'}}
  as |popover| >


<div>
{{block.datasetId.name}} : {{block.name}}
</div>




<ul class="list-unstyled">
  {{#each dataBlockTexts as |text|}}
  <li>
    {{text}}
  </li>
  {{/each}}
</ul>

    <div class="menu-icons">
	<button onClick={{action "deleteMap"}}>╳</button>
	<button onClick={{action "flipAxis"}}>⇅</button>
	<button onClick={{action "extendMap"}}>⇲</button>
    </div>
  <button onClick={{action "hide" target=popover}} type="button">Close</button>

</EmberPopover>