<div>block-adj : {{object-at 0 blockAdjId}}, {{object-at 1 blockAdjId}}, {{pathsResultLength}} {{pathsAliasesResultLength}}, {{blockAdj.zoomCounter}} {{blockAdj.pathsRequestLength.direct}} {{blockAdj.pathsRequestLength.alias}}, {{heightChanged}} {{axisStackChangedCount}}, {{updatePathsPositionDebounce}}</div>
