<div>block-adj : {{object-at 0 this.blockAdjId}}, {{object-at 1 this.blockAdjId}}, {{this.pathsResultLength}} {{this.pathsAliasesResultLength}}, {{this.blockAdj.zoomCounter}} {{this.blockAdj.pathsRequestLength.direct}} {{this.blockAdj.pathsRequestLength.alias}},
  {{this.pathsRequest}},
  {{#if this.parsedOptions.pathTransform}} {{this.zoomedDomainsEffect}}, {{/if}}
  {{this.heightChanged}} {{this.axisStackChangedCount}}, {{this.updatePathsPositionDebounce}}</div>
