{{!-- --------------------------------------------------------------------- --}}


    <button
     onclick={{action (mut this.show) false}}
     style="float: right; position: relative; top: -12px;" class="close"
     type="button">x
    </button>

    {{spectrum-color-picker color=elementColour preferredFormat="rgb"}}

    <div>
    <label>Click to :</label>
    <span>
      {{radio-button value='select' groupValue=selectOrApply
        changed=(action changedClick this preventDefault=false)
      }}
      Select &nbsp;&nbsp;
      {{radio-button value='apply' groupValue=selectOrApply
        changed=(action changedClick this preventDefault=false)
      }}
      Apply
    </span>

    </div>

    {{elem/x-toggle
      value=showAdvanced
      }}

    {{#if showAdvanced}}

    <div>
      <label>Set :</label>
      <span>
        {{input type="checkbox"
          checked=enableSetFill
          name=enableSetFill }}
        <label>Fill</label>
      </span>
      <span>
        {{input type="checkbox"
          checked=enableSetStroke
          name=enableSetStroke }}
        <label>Stroke</label>
      </span>
    </div>

    <div>
      {{ selectedElementsLength}} selected
      <button
       onclick={{action clearSelectedElements}}
       type="button">Clear
      </button>

    </div>

    {{/if}}
