<div class="ui container segment">
  <div class="ui vertical stripe segment">

<p>

  {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<p>
  <strong>Firstname:</strong>
  <span>{{model.firstName}}</span>
</p>

<p>
  <strong>Lastname:</strong>
  <span>{{model.lastName}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

<p>
  <strong>Apikey:</strong>
  <span>{{model.apiKey}}</span>
</p>

<p>
  <strong>Age:</strong>
  <span>{{model.age}}</span>
</p>

<p>
  <strong>Subscribed:</strong>
  <span>{{model.subscribed}}</span>
</p>

<p>
  <strong>Verified:</strong>
  <span>{{model.verified}}</span>
</p>
</div>
</div>
