
  <select onchange={{action (mut this.root) value="target.value"}}>
    {{#each this.roots as |rootChoice|}}
      <option value={{rootChoice.id}} selected={{eq this.root rootChoice.id}}>{{rootChoice.id}} : {{rootChoice.name}}</option>
    {{/each}}
  </select>

<div style="margin-top:1em; margin-bottom:1em;">{{this.rootOntologyNameId.content}}</div>

{{#if this.ontologyTree.isFulfilled}}

<ul class="list-group borderless browse-ontology-tree">
  {{record/entry-values
    values=this.ontologyTree
    levelMeta=this.levelMeta
    controlOptions=this.controlOptions
    loadBlock=this.noAction
    selectExpander=this.selectExpander
    selectBlock=this.noAction
    selectedBlock=this.noAction
    selectDataset=this.noAction}}
</ul>
{{/if}}


<button onclick={{action @cancel}}>Cancel</button>
