{{!-- log 'entry-dataset' entry.name entry  --}}
<li class="list-group-item list-group-item-info {{if (compare this.entry.id '===' this.selectedDataset.id) 'list-group-item-warning'}}" {{action "selectDataset" this.entry on="click"}} style="display:flex">
  {{#if this.editing }}
    <div class="input-group">
      {{input
        enter=(action "saveEdit" this.entry)
        escape-press=(action "cancelEdit" this.entry)
        type="text"
        value=this.entry.displayName
        class="form-control"
        placeholder="Placeholder"}}
      <span class="input-group-btn">
        {{elem/button-base
          icon="ok"
          classColour="success"
          onClick=(action "saveEdit" this.entry)
        }}
        {{elem/button-base
          icon="remove"
          classColour="danger"
          onClick=(action "cancelEdit" this.entry)
        }}
      </span>
    </div>
  {{else}}
    {{elem/button-base
      classSize='xs'
      classColour='default'
      icon=this.expandIcon
      onClick=(action "switchDataset" this.entry)}}
    <span title={{this.entry.displayName}} class="truncate" style="flex: 1;">
      {{this.entry.displayName}}
    </span>
    {{elem/icon-acl record=this.entry}}
    {{#if this.entry.owner }}
      {{#elem/dropdown-container
        right=true}}
        {{#elem/dropdown-row
          icon="lock"
          onClick=(action 'flipPublic' this.entry)}}
          {{#if this.entry.public}}
          Make Private
          {{else}}
          Make Public
          {{/if}}
        {{/elem/dropdown-row}}
        {{#elem/dropdown-row
          icon="pencil"
          onClick=(action 'flipReadOnly' this.entry)}}
          {{#if this.entry.readOnly}}
          Make Editable
          {{else}}
          Make Read-Only
          {{/if}}
        {{/elem/dropdown-row}}
        {{elem/dropdown-separator}}
        {{#elem/dropdown-row
          icon="remove"
          onClick=(action "deleteRecord" this.entry)}}
          Delete
        {{/elem/dropdown-row}}
      {{/elem/dropdown-container}}
    {{else}}
      {{#if this.noAuth}}
        {{#elem/dropdown-container
          right=true}}
          {{#elem/dropdown-row
            icon="remove"
            onClick=(action "deleteRecord" this.entry)}}
            Delete
          {{/elem/dropdown-row}}
        {{/elem/dropdown-container}}
      {{/if}}
    {{/if}}
  {{/if}}
</li>
{{#if this.entryLayout.active}}
  {{#each this.data as |block|}}
    <li 
      class="list-group-item {{if (compare block.id '===' this.selectedBlock.id) 'list-group-item-warning'}}{{nameClass block}}"
      {{action "selectBlock" block on="click"}}>
      {{record/entry-block
        onDelete="onDelete"
        loadBlock="loadBlock"
        title=block.fcStatus
        entry=block}}
    </li>
  {{/each}}
{{/if}}
