
{{#if this.showToggle}}
  {{elem/icon-toggle state=this.active iconTrue='minus' iconFalse='plus' }}
{{/if}}

{{#if this.checkbox}}
 <span>
    <input type="checkbox"
      checked={{this.checked}}
      oninput={{action this.checkbox.changed value="target.checked" }}  >
    <!-- label></label -->
  </span>
 {{/if}}

{{#if @selectExpander}}
<span title={{this.hoverText}} class="truncate btn wide-border" style="flex: 1;"
  {{on 'click' (fn @selectExpander this.nodeName this.values) }}
  style={{safe-style border-color=this.valuesColour}} >
  {{this.nodeName}}
</span>
{{else}}
<span title={{this.hoverText}} class="truncate" style="flex: 1;" >
  {{this.nodeName}}
</span>
{{/if}}

{{#if this.combinedActive}}
  {{yield}}
{{/if}}

