<li class="list-group-item list-group-item-info {{if (compare entry.id '===' selectedDataset.id) 'list-group-item-warning'}}" {{action "selectDataset" entry on="click"}} style="display:flex">
  {{#if editing }}
    <div class="input-group">
      {{input
        enter=(action "saveEdit" entry)
        escape-press=(action "cancelEdit" entry)
        type="text"
        value=entry.name
        class="form-control"
        placeholder="Placeholder"}}
      <span class="input-group-btn">
        {{elem/button-base
          icon="ok"
          classColour="success"
          onClick=(action "saveEdit" entry)
        }}
        {{elem/button-base
          icon="remove"
          classColour="danger"
          onClick=(action "cancelEdit" entry)
        }}
      </span>
    </div>
  {{else}}
    {{elem/button-base
      classSize='xs'
      classColour='default'
      icon=expandIcon
      onClick=(action "switchDataset" entry)}}
    <span title={{entry.name}} class="truncate" style="flex: 1;">
      {{entry.name}}
    </span>
    {{elem/icon-acl record=entry}}
    {{#if entry.owner }}
      {{#elem/dropdown-container
        right=true}}
        {{#elem/dropdown-row
          icon="lock"
          onClick=(action 'flipPublic' entry)}}
          {{#if entry.public}}
          Make Private
          {{else}}
          Make Public
          {{/if}}
        {{/elem/dropdown-row}}
        {{#elem/dropdown-row
          icon="pencil"
          onClick=(action 'flipReadOnly' entry)}}
          {{#if entry.readOnly}}
          Make Editable
          {{else}}
          Make Read-Only
          {{/if}}
        {{/elem/dropdown-row}}
        {{elem/dropdown-separator}}
        {{#elem/dropdown-row
          icon="remove"
          onClick=(action "deleteRecord" entry)}}
          Delete
        {{/elem/dropdown-row}}
      {{/elem/dropdown-container}}
    {{else}}
      {{#if noAuth}}
        {{#elem/dropdown-container
          right=true}}
          {{#elem/dropdown-row
            icon="remove"
            onClick=(action "deleteRecord" entry)}}
            Delete
          {{/elem/dropdown-row}}
        {{/elem/dropdown-container}}
      {{/if}}
    {{/if}}
  {{/if}}
</li>
{{#if layout.active}}
  {{#each data as |block|}}
    <li 
      class="list-group-item {{if (compare block.id '===' selectedBlock.id) 'list-group-item-warning'}}"
      {{action "selectBlock" block on="click"}}>
      {{record/entry-block
        onDelete="onDelete"
        loadBlock="loadBlock"
        entry=block}}
    </li>
  {{/each}}
{{/if}}
