{{#if this.editing }}
  <div class="input-group">
    {{input
      enter=(action "saveEdit" this.entry)
      escape-press=(action "cancelEdit" this.entry)
      type="text"
      value=this.entry.name
      class="form-control"
      placeholder="Placeholder"}}
    <span class="input-group-btn">
      {{elem/button-base
        icon="ok"
        classColour="success"
        onClick=(action "saveEdit" this.entry)
      }}
      {{elem/button-base
        icon="remove"
        classColour="danger"
        onClick=(action "cancelEdit" this.entry)
      }}
    </span>
  </div>
{{else}}
  {{!-- log 'entry.isViewed' entry.id entry.isViewed --}}
  {{#if this.entry.isViewed}}
  {{else}}
    {{elem/button-base
      classSize='xs'
      classColour=this.classColour
      icon='plus'
      onClick=(action "loadBlock" this.entry)}}
  {{/if}}
  {{this.entry.name}}
  {{#if this.entry.datasetId.editable }}
    {{#elem/dropdown-container
      right=true}}
      {{#elem/dropdown-row
        icon="pencil"
        onClick=(action 'enableEdit' this.entry)}}
        Edit
      {{/elem/dropdown-row}}
      {{#if this.entry.datasetId.owner }}
        {{elem/dropdown-separator}}
        {{#elem/dropdown-row
          icon="remove"
          onClick=(action "deleteRecord" this.entry)}}
          Delete
        {{/elem/dropdown-row}}
      {{/if}}
    {{/elem/dropdown-container}}
  {{/if}}
{{/if}}
