

{{elem/icon-toggle state=active iconTrue='minus' iconFalse='plus' }}

{{#if checkbox}}
 <span>
    <input type="checkbox"
      checked={{this.checked}}
      oninput={{action checkbox.changed value="target.checked" }}  >
    <!-- label></label -->
  </span>
 {{/if}}

{{#if @selectExpander}}
<span title={{hoverText}} class="truncate btn" style="flex: 1;"
  {{on 'click' (fn @selectExpander nodeName values) }}
  style={{safe-style valuesColour}} >
  {{nodeName}}
</span>
{{else}}
<span title={{hoverText}} class="truncate" style="flex: 1;" >
  {{nodeName}}
</span>
{{/if}}

{{#if combinedActive}}
  {{yield}}
{{/if}}

