{{#if entry.isViewed}}
{{else}}
  {{elem/button-base
    classSize='xs'
    classColour='success'
    icon='plus'
    onClick=(action "loadBlock" entry)}}
{{/if}}
{{entry.datasetId.content.name}}
{{entry.name}}
{{if (compare entry.name '!==' entry.scope) entry.scope }}
{{!-- namespace is often too long; maybe fold it;  omit for now. --}}
{{!-- entry.namespace --}}
<span>
  <span class="badge" style="background-color: #999;">
    {{entry.count}}
  </span>

  {{#ember-popover }}
  <ul class='feature-found'>
    {{#each features as |feature|}}
    <li>
      {{feature.name}}
    </li>
    {{/each}}
  </ul>
  {{/ember-popover }}

</span>

<!-- {{entry.id}}  -->
