{{#if this.editing }}
  <div class="input-group">
    <Input
      @enter={{action this.actions.saveEdit this.entry}}
      @escape-press={{action this.actions.cancelEdit this.entry}}
      @type="text"
      @value={{this.entry.name}}
      class="form-control"
      placeholder="Placeholder">
    </Input>  
    <span class="input-group-btn">
      {{elem/button-base
        icon="ok"
        classColour="success"
        onClick=(action "saveEdit" this.entry)
      }}
      {{elem/button-base
        icon="remove"
        classColour="danger"
        onClick=(action "cancelEdit" this.entry)
      }}
    </span>
  </div>
{{else}}
  {{!-- log 'entry.isViewed' entry.id entry.isViewed --}}
    {{elem/button-base
      classSize='xs'
      classColour=this.classColour
      icon=this.entry.viewToggleIcon
      onClick=(action "loadBlock" this.entry)}}
  {{this.entry.name}}
  {{#if this.entry.datasetId.editable }}
    {{#elem/dropdown-container
      right=true}}
      {{#elem/dropdown-row
        icon="pencil"
        onClick=(action 'enableEdit' this.entry)}}
        Edit
      {{/elem/dropdown-row}}
      {{#if this.entry.datasetId.owner }}
        {{elem/dropdown-separator}}
        {{#elem/dropdown-row
          icon="remove"
          onClick=(action "deleteRecord" this.entry)}}
          Delete
        {{/elem/dropdown-row}}
      {{/if}}
    {{/elem/dropdown-container}}
  {{/if}}
{{/if}}
