{{log 'entry-parent' name values}}
<li class="list-group-item list-group-item-info" >
  {{elem/button-base
  classSize='xs'
  classColour='default'
  icon=expandIcon
  onClick=(action "switch")
  }}
  <span title={{name}} class="truncate" style="flex: 1;">
  {{name}}
</span>

  {{#if layout.active}}
    <ul>
      {{record/entry-values values=values levelMeta=levelMeta
        loadBlock="loadBlock"
        selectBlock="selectBlock"
        selectedBlock=selectedBlock
        selectDataset="selectDataset"}}
    </ul>
  {{/if}}
</li>
