{{dataMatrixEffect}}
{{resultEffect}}
{{activeEffect}}

{{!-- --------------------------------------------------------------------- --}}

{{!-- x-toggle uses flex, so wrap it. --}}
<div style="padding : 1em">
  <div style="float:left; margin-right:1em">
    {{#x-toggle
      theme='light'
      value=showSearch
      onToggle=(action (mut showSearch))
      as |toggle|
      }}
      {{toggle.switch}}
    {{/x-toggle}}
  </div>
  Show Search Inputs

  <div style="clear:both"></div>

  {{#if showSearch}}
    <div>Parent : {{search.parent}}</div>
    <div style="contain: content;overflow: auto;">FASTA Sequence Search :
      <div style="display: inline-block">{{search.seq}}</div>
    </div>
  {{/if}}
</div>

{{!-- --------------------------------------------------------------------- --}}

{{#if isProcessing}}
  {{#elem/panel-form
    name="info"
    heading="Processing..." }}
      {{progressMsg}}
  {{/elem/panel-form}}
{{/if}}

<div id={{search.tableId}} class="actual-row">
</div>
