{{dataMatrixEffect}}
{{resultEffect}}
{{activeEffect}}

{{!-- --------------------------------------------------------------------- --}}


<div>
  {{#elem/x-toggle value=tableVisible }}
    {{#ember-tooltip side="right" delay=500}}
      Show/hide the table.
    {{/ember-tooltip}}
  {{/elem/x-toggle}}
  {{#unless tableVisible}}
    Show Table
  {{/unless}}

  {{#if this.active}}

  {{#if tableVisible}}

    {{#if this.tableModal}}
      {{#ember-modal-dialog  title="Blast Results" header-icon='list'}}
        <button
         onclick={{action (mut this.tableModal)  false}}
         style="float: right; position: relative; top: -12px;" class="close"
         type="button">x
        </button>

      <div id={{search.tableId}} class="actual-row"  style="overflow-x:hidden; width:70vw"></div>
      {{/ember-modal-dialog}}
    {{else}}
      <span style="float:right;">
        {{#elem/button-base
        classSize='xs'
        classColour='default'
        click=(action (mut this.tableModal)  true )
        icon='new-window'}}

          {{#ember-tooltip side="left" delay=500}}
            Show the table in a modal dialog.
          {{/ember-tooltip}}

        {{/elem/button-base}}
      </span>

      <div style="clear:both"></div>
      <div id={{search.tableId}} class="actual-row"></div>
    {{/if}}
    <div style="clear:both"></div>


  {{/if}}
  {{/if}}

</div>




<hr>
{{!-- --------------------------------------------------------------------- --}}

<div>
    {{elem/x-toggle
      value=showSearch
      }}
  Show Search Inputs

  <div style="clear:both"></div>

  {{#if showSearch}}
    <div>Parent : {{search.parent}}</div>
    <div style="contain: content;overflow: auto;">FASTA Sequence Search :
      <div style="display: inline-block">{{search.seq}}</div>
    </div>
  {{/if}}
</div>

<hr>
{{!-- --------------------------------------------------------------------- --}}
{{!-- from data-csv --}}

{{elem/panel-message
  successMessage=successMessage
  warningMessage=warningMessage
  errorMessage=errorMessage}}
{{#if nameWarning}}
{{elem/panel-message
  warningMessage=nameWarning}}
{{/if}}

{{#if isProcessing}}
  {{#elem/panel-form
    name="info"
    heading="Processing..." }}
      {{progressMsg}}
  {{/elem/panel-form}}
{{/if}}

<label>Dataset: </label>
<select 
  id="dataset" 
  onchange={{action (mut selectedDataset) value="target.value"}} 
  disabled={{isProcessing}}
>
  <option selected>new</option>
  {{#each datasets key="name" as |ds|}}
    <option value={{ds.name}}>{{ds.name}}</option>
  {{/each}}
</select>
<br>
{{#if (eq selectedDataset 'new')}}
  <div id="new_dataset_options">
  {{input 
    type="text" 
    value=newDatasetName 
    class="form-control" 
    placeholder="New dataset name..." 
    disabled=isProcessing
  }}

  <br>
  <label>Parent: </label>
  {{selectedParent}}
  {{!--
  <select 
    id="parent" 
    onchange={{action (mut selectedParent) value="target.value"}} 
    disabled={{isProcessing}}
  >
    <option value='' selected>None</option>
    {{#each datasets key="name" as |ds|}}
      <option value={{ds.name}}>{{ds.name}}</option>
    {{/each}}
  </select>
  --}}

  <br>
  <label>Type: </label>
  <select 
    id="type" 
    onchange={{action (mut dataType) value="target.value"}} 
    disabled={{isProcessing}}
  >
    <option>linear</option>
    <option>observational</option>
  </select>
  <br>
  <label>Namespace: </label>
  {{input type="text" value=namespace disabled=isProcessing }}
  </div>
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

<span class="filter-group-col">
  {{input type="checkbox" name="viewDatasetFlag" checked=viewDatasetFlag }}
  <label>View</label>
</span>


<hr>

<input
  type="submit"
  value="Add Dataset"
  class="btn btn-primary {{if isProcessing 'disabled'}}"
  onclick={{action 'submitFile'}}>

<hr>

{{!-- --------------------------------------------------------------------- --}}

