{{this.dataForTableEffect}}
{{this.activeEffect}}
{{this.viewFeaturesEffect}}
{{this.narrowAxesToViewedEffect}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.statusMessage}}
  <div>{{this.statusMessage}}</div>
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

<div id={{this.search.tableId}} class="actual-row"  style={{this.containerStyle}}></div>

{{!-- --------------------------------------------------------------------- --}}

{{#if 0}}
<div>
  <input
    type="checkbox"
    name="viewAllResultAxesFlag"
    checked={{this.viewAllResultAxesFlag}}
    oninput={{action this.viewAllResultAxesChange}}
  />
  <label>View all axes with results</label>
</div>
{{/if}}

<div>
  <input
    type="checkbox"
    name="viewFeaturesFlag"
    checked={{this.viewFeaturesFlag}}
    oninput={{action this.viewFeaturesChange}}
  />
  <label>Select / Deselect all</label>
</div>

{{!-- --------------------------------------------------------------------- --}}
<hr>

    {{elem/panel-message
      successMessage=this.successMessage
      warningMessage=this.warningMessage
      errorMessage=this.errorMessage}}

{{!-- --------------------------------------------------------------------- --}}
