{{dataForTableEffect}}
{{activeEffect}}
{{viewFeaturesEffect}}
{{parentIsViewedEffect}}

{{!-- --------------------------------------------------------------------- --}}

{{#if statusMessage}}
  <div>{{statusMessage}}</div>
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

<div id={{search.tableId}} class="actual-row"  style={{this.containerStyle}}></div>

{{!-- --------------------------------------------------------------------- --}}

<div>
  {{input type="checkbox" name="viewAllResultAxesFlag" checked=viewAllResultAxesFlag
  input=(action viewAllResultAxesChange)
 }}
  <label>View all axes with results</label>
</div>

<div>
  {{input type="checkbox" name="viewFeaturesFlag" checked=viewFeaturesFlag }}
  <label>Show / Hide all Features (triangles)</label>
</div>

{{!-- --------------------------------------------------------------------- --}}
<hr>

    {{elem/panel-message
      successMessage=successMessage
      warningMessage=warningMessage
      errorMessage=errorMessage}}

{{!-- --------------------------------------------------------------------- --}}
