{{this.activeEffect}}

{{elem/panel-message
  successMessage=this.successMessage
  warningMessage=this.warningMessage
  errorMessage=this.errorMessage}}
{{#if this.nameWarning}}
{{elem/panel-message
  warningMessage=this.nameWarning}}
{{/if}}

{{#if this.isProcessing}}
  {{#elem/panel-form
    name="info"
    heading="Processing..." }}
      {{this.progressMsg}}
  {{/elem/panel-form}}
{{/if}}

<label>Dataset: </label>
<select 
  id="dataset" 
  onchange={{action (mut this.selectedDataset) value="target.value"}} 
  disabled={{this.isProcessing}}
>
  <option selected>new</option>
  {{#each this.datasets key="name" as |ds|}}
    <option value={{ds.name}}>{{ds.name}}</option>
  {{/each}}
</select>
<br>
{{#if (eq this.selectedDataset 'new')}}
  <div id="new_dataset_options">
  {{input 
    type="text" 
    value=this.newDatasetName 
    class="form-control" 
    placeholder="New dataset name..." 
    disabled=this.isProcessing
  }}
  <br>
  <label>Parent: </label>
  <select 
    id="parent" 
    onchange={{action (mut this.selectedParent) value="target.value"}} 
    disabled={{this.isProcessing}}
  >
    <option value='' selected>None</option>
    {{#each this.datasets key="name" as |ds|}}
      <option value={{ds.name}}>{{ds.name}}</option>
    {{/each}}
  </select>
  <br>
  <label>Type: </label>
  <select 
    id="type" 
    onchange={{action (mut this.dataType) value="target.value"}} 
    disabled={{this.isProcessing}}
  >
    <option>linear</option>
    <option>observational</option>
  </select>
  <br>
  <label>Namespace: </label>
  {{input type="text" value=this.namespace disabled=this.isProcessing }}
  </div>
{{/if}}
<br><label>Load from file: </label>
<input 
  type="file" 
  accept=".csv" 
  id="tableFile" 
  onchange={{action 'setFile'}} 
  disabled={{this.isProcessing}}
>
<div id="hotable" class="actual-row">
</div>

<span class="filter-group-col">
  {{input type="checkbox" name="viewDatasetFlag" checked=this.viewDatasetFlag }}
  <label>View</label>
</span>


<input
  type="submit"
  class="btn btn-primary {{if this.isProcessing 'disabled'}}"
  onclick={{action 'submitFile'}}>
<button
  class="btn"
  onclick={{action 'clearTable'}}>Clear</button>