{{elem/panel-message
  successMessage=successMessage
  warningMessage=warningMessage
  errorMessage=errorMessage}}

{{#if isProcessing}}
  {{#elem/panel-form
    name="info"
    heading="Processing..." }}
      {{progressMsg}}
  {{/elem/panel-form}}
{{/if}}

  <h5>Upload Datasets (JSON / gzip, xlsx, ods)</h5>
  <form {{action 'submitFile' on='submit'}}>
    <input
      type='file'
      accept=".json,.gz,.xlsx,.xls,.ods"
      onchange={{action 'setFile'}}>
    <br>
    <input
      type="submit"
      class="btn btn-primary {{if isProcessing 'disabled'}}">
  </form>
