  <ul class="list-group upload-configuration">

    <li class="list-group-item">
      <span class="filter-group-col">
        {{input type="checkbox" name="replaceDataset" checked=this.replaceDataset }}
        <label>Replace Dataset with upload</label>
      </span>
    </li>

  </ul>



{{!--
<FileUpload ... @accept= values are from :
https://developers.google.com/drive/api/v3/mime-types
...
application/vnd.google-apps.spreadsheet 	Google Sheets

https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
...
.gz 	GZip Compressed Archive 	application/gzip

.json 	JSON format 	application/json

.ods 	OpenDocument spreadsheet document 	application/vnd.oasis.opendocument.spreadsheet

.xls 	Microsoft Excel 	application/vnd.ms-excel
.xlsx 	Microsoft Excel (OpenXML) 	application/vnd.openxmlformats-officedocument.spreadsheetml.sheet

.zip 	ZIP archive 	application/zip

.gff,.gff3,.gtf    General Feature Format  text/gff3

--}}

{{#let (file-queue name="datasets" onFileAdded=(action this.uploadSpreadsheet)) as |queue|}}
{{!--
 refn : node_modules/ember-file-upload/dist/components/file-dropzone.js :
 getEventSource() sets file-drop-zone .dataTransferWrapper.source = 'web' when
 evt.dataTransfer.types[] is empty, and isAllowed() returns false for 'web' if
 allowUploadsFromWebsites is not set, so source==='web' is something of a proxy
 for empty .files[] / .types[].
 isAllowed() enables setting .dropEffect and action calls e.g. onDragEnter, onDragLeave.
   @allowUploadsFromWebsites={{true}}

 These actions are not required but can be passed to <FileDropzone > for trace: @onDragEnter, @onDragLeave, @onDrop.
 --}}
<FileDropzone
 @queue={{queue}}
 @filter={{action this.validateFile}}
 @onDragEnter={{action this.onDragEnter}}
 @onDragLeave={{action this.onDragLeave}}
 @onDrop={{action this.onDrop}}
 class="border border-primary" style="min-height: 15ex;"
 as |dropzone|>
  {{#if dropzone.active}}
    {{this.typesText}}
  {{else if queue.files.length}}
    Uploading {{queue.files.length}} files. ({{queue.progress}}%)
  {{else}}
    <h4>Upload Spreadsheets</h4>
    <p>
      {{#if dropzone.supported}}
        Drag and drop Spreadsheets and JSON files onto this area to upload them or
      {{else}}
        Dropzone not supported.
      {{/if}}
      <!-- FileUpload
        @name="files"
        @for="upload-file"
        @multiple={{true}}>
        <a tabindex=0></a>
      </FileUpload -->

      <input
        type="file"
        {{queue.selectFile filter=(action this.validateFile)}}
        >
      <label>Add a Spreadsheet.</label>
    </p>
  {{/if}}
</FileDropzone>
{{/let}}


<div class="panel panel-primary"></div>
{{elem/panel-message
  successMessage=this.successMessage
  warningMessage=this.warningMessage
  errorMessage=this.errorMessage}}

<div>
  {{#each this.errors as |error|}}
    <div>{{error}}</div>
  {{/each}}
  {{#each this.warnings as |warning|}}
    <div>{{warning}}</div>
  {{/each}}
</div>

{{#if this.isProcessing}}
  {{#elem/panel-form
    name="info"
    heading="Processing..." }}
      {{this.progressMsg}}
  {{/elem/panel-form}}
{{/if}}
