<label>Owned / added groups</label>
{{#each this.model.groupsOwn as |group|}}
  <div class="margin-1em">
    {{!-- model=group --}}
    {{#link-to 'group.edit' group  classNames='btn btn-info btn-xs' tagName='button'}}
      <i class="glyphicon glyphicon-pencil"></i>
    {{/link-to}}

    {{#link-to 'group.delete' group  classNames='btn btn-info btn-xs' tagName='button'}}
      <i class="glyphicon glyphicon-remove"></i>
    {{/link-to}}

   {{group.id}}
   {{group.clientId.name}}
   {{group.name}}
  </div>
{{/each}}


{{#link-to 'groups.add' classNames='btn btn-info' tagName='button'}}
Add Group
{{/link-to}}

<hr>

<label>Joined groups</label>
{{#each this.model.groupsIn as |clientGroup|}}
  <div class="margin-1em">
   {{clientGroup.id}}
   {{clientGroup.groupId.clientId.email}}
   {{clientGroup.groupId.name}}
  </div>
{{/each}}



{{outlet}}