<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {{#each availableMaps as |mymap|}}
  {{#if mymap.isSelected}}
  <li class="disabled">
    {{#link-to "mapview" (query-params mapsToView=mymap.mapLink) disabled=true}}
      {{mymap.name}}
    {{/link-to}}
  </li>
  {{else}}
  <li class="enabled">
    {{#link-to "mapview" (query-params mapsToView=mymap.mapLink)}}
      {{mymap.name}}
    {{/link-to}}
  </li>
  {{/if}}
  {{/each}}
  </ul>
</div>

<br/>
<br/>

Maps to align:

<ul>
{{#each selectedMaps as |map|}}
  <li>{{map.id}} {{#link-to "mapview" (query-params mapsToView=map.mapDeleteLink)}}Delete{{/link-to}}</li>
{{/each}}
</ul>

{{#if hasData}}
  {{draw-map data=model}}
{{/if}}


{{outlet}}
