{{!-- app/controllers/mapview.js --}}
<div class="" style="display: flex">
  {{!-- <div class="{{if selectedMarkers 'col-md-8' 'col-md-12'}}"> --}}

  {{#if layout.left.visible}}
    <div class="" style="width: 400px">
      <ul class="nav nav-tabs">
        <li role="presentation" class="{{if layout.left.tab 'view' 'active'}}">
          <a href="#" {{action "setTab" "left" "view" on='click'}}>View</a>
        </li>
        <li role="presentation" class="{{if layout.left.tab 'upload' 'active'}}">
          <a href="#" {{action "setTab" "left" "upload" on='click'}}>Upload</a>
        </li>
        <li role="presentation" class="pull-right">
          <a href="#" {{action "setVisibility" "left" on='click'}}>arrow</a>
        </li>
      </ul>
      <div style="height: 800px; overflow-y: auto; overflow-x: hidden;">
        <div style="">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Add map
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            {{#each availableMaps as |mymap|}}
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">{{mymap.name}}</a>
              <ul class="dropdown-menu">
              {{#each mymap.chromosomes as |chr|}}
                {{#if chr.isSelected}}
                  <li class="disabled">
                    {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
                      {{chr.name}}
                    {{/link-to}}
                  </li>
                {{else}}
                <li class="enabled">
                  {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
                    {{chr.name}}
                  {{/link-to}}
                </li>
                {{/if}}
              {{/each}}
              </ul>
            </li>
            {{/each}}
            </ul>
          </div>

          <div class="bordered border-top-none control-panel" style="display: inline-block;">

            <div class="pull-left maps-aligned">
              Maps aligned :
              <ul>
          {{#each selectedMaps as |chr|}}
            <li>{{chr.map.name}} {{chr.name}}</li>
          {{/each}}
              </ul>
            </div>

            <div class="pull-left vspace1">
              <div>
          {{numMarkers}} selected markers
              </div>

              <div class="drawing-controls vspace1">
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Display Toggles
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="sub-menu">
                {{input type="checkbox" checked=isShowUnique class="toggle"}}
                <label {{action "toggleShowUnique" on="doubleClick"}}>toggleShowUnique</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=pathColourScale class="toggle"}}
                <label {{action "togglePathColourScale" on="doubleClick"}}>togglePathColourScale</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=showScaffoldMarkers class="toggle"}}
                <label>toggleShowScaffoldMarkers</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=showAsymmetricAliases class="toggle"}}
                <label>toggleShowAsymmetricAliases</label>
              </li>
            </ul>
          </div>

          <div class="flowButtons"></div>
              </div>
            </div>

          </div>

          {{selected-markers
            data=selectedMarkers
            scaffolds=scaffolds
            scaffoldMarkers=scaffoldMarkers
            showScaffoldMarkers=showScaffoldMarkers}}

        </div>
      </div>
    </div>
  {{/if}}
  
  <div class="" style="flex-grow: 1">
    {{#if hasData}}
      {{draw-map
        updatedSelectedMarkers='updateSelectedMarkers'
        data=model
        dataReceived=dataReceived
        mapsToViewDelete='mapsToViewDelete'
        isShowUnique=isShowUnique
        pathColourScale=pathColourScale
        scaffolds=scaffolds
        scaffoldMarkers=scaffoldMarkers
        showScaffoldMarkers=showScaffoldMarkers
        showAsymmetricAliases=showAsymmetricAliases}}
    {{/if}}
  </div>

  {{#if layout.right.visible}}
    <div class="" style="width: 400px">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#">Selection <span class="badge">{{selectedMarkers.length}}</span></a>
          </li>
        <li role="presentation"><a href="#">Detail</a></li>
        <li role="presentation" class="pull-right">
          <a href="#" {{action "setVisibility" "right" on='click'}}>arrow</a>
        </li>
      </ul>

      <div style="height: 800px; overflow-y: auto; overflow-x: hidden;">
        <div style="">
          {{marker-detail
            data=selectedMarkers}}
        </div>
      </div>
    </div>
  {{else}}
    <a href="#" {{action "setVisibility" "right" on='click'}}>arrow</a>
  {{/if}}
</div>

{{outlet}}
