{{!-- app/controllers/mapview.js --}}
<div class="" style="height:100%; display:flex">
  
  {{panel/left-panel
    displayData=block.viewed
    loadBlock="loadBlock"
    removeBlock="removeBlock"
    selectBlock="selectBlock"
    selectDataset="selectDataset"
    selectedDataset=selectedDataset

    model=model
    selectedBlock=selectedBlock
    controls=controls
    isShowUnique=isShowUnique
    pathColourScale=pathColourScale
    scaffolds=scaffolds
    scaffoldMarkers=scaffoldMarkers
    showScaffoldMarkers=showScaffoldMarkers
    showAsymmetricAliases=showAsymmetricAliases
    selectedFeatures=selectedFeatures
    updateFeaturesInBlocks="updateFeaturesInBlocks"
  }}
  
  <div class="resizable" style="flex-grow:20; resize:both">
    <div class="resizer">
      <span class="glyphicon glyphicon-resize-horizontal"></span>
    </div>

    <p class="devel-visible">
      hasData {{hasData}},
      mapsToView {{model.params.mapsToView}},
      datasets task value {{model.availableMapsTask.value.length}},
      availableMaps {{ dataset.values.length }}
      available blockValues {{block.blockValues.length}},
      selected blocks {{block.selected.length}},
      viewed blocks {{block.viewed.length}},
      queryParamsValue {{ queryParamsValue }},
      viewedIds {{ block.viewedIds.length }},
    </p>
    {{!-- {{#if hasData}} --}}
      {{draw-map
        data=block.viewed
        drawActions=this
	layout=layout
        controls=controls
        isShowUnique=isShowUnique
        pathColourScale=pathColourScale
        scaffolds=scaffolds
        scaffoldMarkers=scaffoldMarkers
        showScaffoldMarkers=showScaffoldMarkers
        showAsymmetricAliases=showAsymmetricAliases
        highlightFeature=model.params.highlightFeature
        params=model.params
        selectedBlock=selectedBlock
        addMap='addMap'
        mapsToViewDelete='removeMap'
        updatedSelectedFeatures='updateSelectedFeatures'
        featuresInBlocks=featuresInBlocks
        selectChromById='selectBlockById'}}
    {{!-- {{/if}} --}}
  </div>

  {{#if layout.right.visible}}
    <div class="" style="flex-basis:400px; flex-grow:1; display:flex; flex-direction:column">
      <ul class="nav nav-tabs">
        {{#elem/button-tab
          side="right"
          key="selection"
          state=layout.right.tab onClick="setTab"}}
          {{elem/icon-base name="asterisk"}}&nbsp; Features <span class="badge">{{selectedFeatures.length}}</span>
        {{/elem/button-tab}}
        {{#elem/button-tab
          side="right"
          key="block"
          state=layout.right.tab onClick="setTab"}}
          {{elem/icon-base name="globe"}}&nbsp; Block
        {{/elem/button-tab}}
        {{#elem/button-tab
          side="right"
          key="dataset"
          state=layout.right.tab onClick="setTab"}}
          {{elem/icon-base name="globe"}}&nbsp; Dataset
        {{/elem/button-tab}}
        {{#elem/button-tab
          side="right"
          key="settings"
          state=layout.right.tab onClick="setTab"}}
          {{elem/icon-base name="cog"}}&nbsp; Adv.
        {{/elem/button-tab}}
        {{#elem/button-tab
          class="pull-right"
          side="right"
          onClick="setVisibility"}}
          {{elem/icon-base name="remove"}}
        {{/elem/button-tab}}
      </ul>
      <div style="overflow-y: auto">
        {{#if (compare layout.right.tab '===' 'selection')}}
          {{panel/manage-features
            selectedFeatures=selectedFeatures
            selectedBlock=selectedBlock}}
        {{else if (compare layout.right.tab '===' 'block')}}
          {{panel/manage-block
            selectedFeatures=selectedFeatures
            loadBlock="loadBlock"
            block=selectedBlock}}
        {{else if (compare layout.right.tab '===' 'dataset')}}
          {{panel/manage-dataset
            dataset=selectedDataset}}
        {{else if (compare layout.right.tab '===' 'settings')}}
          {{panel/manage-settings
            selectedFeatures=selectedFeatures
            selectedBlock=selectedBlock}}

          {{selected-markers
            data=selectedFeatures
            scaffolds=scaffolds
            scaffoldMarkers=scaffoldMarkers
            showScaffoldMarkers=showScaffoldMarkers}}

        {{/if}}
      </div>
    </div>
  {{else}}
    <button type="button" class="btn btn-default" {{action "setVisibility" "right" on='click'}}>
      <a href="#" >{{elem/icon-base name="chevron-left"}}</a>
    </button> 
  {{/if}}
</div>

{{outlet}}
