<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
  {{#each availableMaps as |mymap|}}
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">{{mymap.name}}</a>
    <ul class="dropdown-menu">
    {{#each mymap.chromosomes as |chr|}}
      {{#if chr.isSelected}}
      <li class="disabled">
        {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
          {{chr.name}}
        {{/link-to}}
      </li>
      {{else}}
      <li class="enabled">
        {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
          {{chr.name}}
        {{/link-to}}
      </li>
      {{/if}}
    {{/each}}
    </ul>
  </li>
  {{/each}}
  </ul>
</div>

<br/>
<br/>

Maps to align:

<ul>
{{#each selectedMaps as |chr|}}
  <li>{{chr.map.name}} {{chr.name}} {{#link-to "mapview" (query-params mapsToView=chr.chrDeleteLink)}}Delete{{/link-to}}</li>
{{/each}}
</ul>
<div class="drawing-controls">
      {{input type="checkbox" checked=isShowUnique class="toggle"}}
      <label {{action "toggleShowUnique" on="doubleClick"}}>toggleShowUnique</label>
      {{input type="checkbox" checked=pathColourScale class="toggle"}}
      <label {{action "togglePathColourScale" on="doubleClick"}}>togglePathColourScale</label>
</div>

{{#if hasData}}
  {{draw-map updatedSelectedMarkers='updateSelectedMarkers' data=model isShowUnique=isShowUnique pathColourScale=pathColourScale}}


{{numMarkers}} selected markers

{{selected-markers data=selectedMarkers}}

{{/if}}

{{outlet}}
