<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {{#each availableMaps as |mymap|}}
  <li class="dropdown-submenu">
    {{mymap.name}}
    {{#each mymap.chromosomes as |chr|}}
    <ul class="dropdown-menu">
      <li>
        {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
          {{chr.name}}
        {{/link-to}}
      </li>
    </ul>
    {{/each}}
  </li>
  {{/each}}
  </ul>
</div>

<br/>
<br/>

Maps to align:

<ul>
{{#each selectedMaps as |map|}}
  <li>{{map.name}} {{#link-to "mapview" (query-params mapsToView=map.mapDeleteLink)}}Delete{{/link-to}}</li>
{{/each}}
</ul>

{{#if hasData}}
  {{draw-map updatedSelectedMarkers='updateSelectedMarkers' data=model}}


{{numMarkers}} selected markers

{{selected-markers data=selectedMarkers}}

{{/if}}

{{outlet}}
