<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {{#each availableMaps as |mymap|}}
  <li class="{{if mymap.isSelected "disabled" "enabled"}}">
    {{#link-to "mapview" (query-params mapsToView=mymap.mapLink)}}
      {{mymap.name}}
    {{/link-to}}
  </li>
  {{/each}}
  </ul>
</div>

<br/>
<br/>

Maps to align:

<ul>
{{#each mapData as |mapid|}}
  <li>{{mapid}}</li>
{{/each}}
</ul>

{{#if hasData}}
  {{draw-map data=model maps=mapData}}
{{/if}}


{{outlet}}
