{{!-- app/controllers/mapview.js --}}
<div class="" style="display: flex">
  {{!-- <div class="{{if selectedMarkers 'col-md-8' 'col-md-12'}}"> --}}
  {{#if layout.left.visible}}
    <div class="" style="width: 400px">
      <ul class="nav nav-tabs">
        {{#tab-button
          side="left"
          key="view"
          state=layout.left.tab onClick="setTab"}}
          View {{elem-icon name="eye-open"}}
        {{/tab-button}}
        {{#tab-button
          side="left"
          key="upload"
          state=layout.left.tab onClick="setTab"}}
          Upload {{elem-icon name="cloud-upload"}}
        {{/tab-button}}
        {{!-- {{#tab-button
          side="left"
          key="tester"
          state=layout.left.tab onClick="setTab"}}
          {{elem-icon name="cloud-upload"}}
        {{/tab-button}} --}}
        {{#tab-button
          class="pull-right"
          side="left"
          onClick="setVisibility"}}
          {{elem-icon name="remove"}}
        {{/tab-button}}
      </ul>
      <div style="height: 800px; overflow-y: auto; overflow-x: hidden;">
        {{#if (compare layout.left.tab '===' 'view')}}

          {{panel/manage-view
            model=model
            selectedMaps=selectedMaps
            selectedChrom=selectedChrom
            isShowUnique=isShowUnique
            pathColourScale=pathColourScale
            scaffolds=scaffolds
            scaffoldMarkers=scaffoldMarkers
            showScaffoldMarkers=showScaffoldMarkers
            showAsymmetricAliases=showAsymmetricAliases
            selectChrom="selectChrom"}}
          
          {{selected-markers
            data=selectedMarkers
            scaffolds=scaffolds
            scaffoldMarkers=scaffoldMarkers
            showScaffoldMarkers=showScaffoldMarkers}}

        {{else if (compare layout.left.tab '===' 'upload')}}
          {{panel/upload-data}}
        {{else if (compare layout.left.tab '===' 'tester')}}
          TESTER PANEL
        {{/if}}
      </div>
    </div>
  {{else}}
    <button type="button" class="btn btn-default" {{action "setVisibility" "left" on='click'}}>
      <a href="#" >{{elem-icon name="chevron-right"}}</a>
    </button>
  {{/if}}
  
  <div class="resizable" style="flex-grow: 1">
    <div class="resizer">
      <span class="glyphicon glyphicon-resize-horizontal"></span>
    </div>

    <p class="devel_trace" style="display:none;">
     hasData {{hasData}}
     model {{model}}
     mapsToView {{model.mapsToView}}
     availableMaps {{model.mapsDerived.availableMaps.length}}
     availableChrs {{model.mapsDerived.availableChrs.length}}
     selectedMaps {{model.mapsDerived.selectedMaps.length}}
    </p>
    {{#if hasData}}
      {{draw-map
        updatedSelectedMarkers='updateSelectedMarkers'
        data=model.chrPromises
        Model=model
        mapsDerived=model.mapsDerived
        availableMaps=model.mapsDerived.availableMaps
        dataReceived=dataReceived
        mapsToViewDelete='mapsToViewDelete'
        isShowUnique=isShowUnique
        pathColourScale=pathColourScale
        scaffolds=scaffolds
        scaffoldMarkers=scaffoldMarkers
        showScaffoldMarkers=showScaffoldMarkers
        showAsymmetricAliases=showAsymmetricAliases
        selectedChrom=selectedChrom
        selectChromById='selectChromById'}}
      
      {{!-- moved from the view panel to here, may be legacy --}}
      <div class="flowButtons"></div>
    {{/if}}
  </div>

  {{#if layout.right.visible}}
    <div class="" style="width: 400px">
      <ul class="nav nav-tabs">
        {{#tab-button
          side="right"
          key="selection"
          state=layout.right.tab onClick="setTab"}}
          Markers <span class="badge">{{selectedMarkers.length}}</span>
        {{/tab-button}}
        {{#tab-button
          side="right"
          key="chrom"
          state=layout.right.tab onClick="setTab"}}
          Map {{elem-icon name="globe"}}
        {{/tab-button}}
        {{#tab-button
          class="pull-right"
          side="right"
          onClick="setVisibility"}}
          {{elem-icon name="remove"}}
        {{/tab-button}}
      </ul>
      <div style="height: 800px; overflow-y: auto; overflow-x: hidden;">
        {{#if (compare layout.right.tab '===' 'selection')}}
          {{panel/tabbed-table 
            selectedMarkers=selectedMarkers
            selectedChrom=selectedChrom}}
          {{!-- marker-detail
            data=selectedMarkers --}}
        {{else if (compare layout.right.tab '===' 'chrom')}}
          {{panel/selected-chromosome
            chr=selectedChrom}}
        {{/if}}
      </div>
    </div>
  {{else}}
    <button type="button" class="btn btn-default" {{action "setVisibility" "right" on='click'}}>
      <a href="#" >{{elem-icon name="chevron-left"}}</a>
    </button> 
  {{/if}}
</div>

{{outlet}}
