<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {{#each availableMaps as |mymap|}}
  <li class="{{if mymap.isSelected "disabled" "enabled"}}">
    {{#link-to "mapview" (query-params mapsToView=mymap.mapLink)}}
      {{mymap.name}}
    {{/link-to}}
  </li>
  {{/each}}
  </ul>
</div>

<br/>
<br/>

Maps to align:

<ul>
{{#each model as |mapset|}}
<li>{{mapset.name}}, {{mapset.class}}, {{mapset.isPub}}</li>
  <!--<ul>
    {{#each mapset.maps as |m|}}
      <li>{{m.name}}</li>
    {{/each}}
  </ul>-->
{{/each}}
</ul>

{{#if hasData}}
  {{draw-map data=mapData}}
{{/if}}

{{outlet}}
