<ul>
{{#each model.markers as |marker|}}
<li>{{marker.name}}, {{marker.cM}}</li>
{{/each}}
</ul>

Maps to align:

<ul>
{{#each model as |m|}}
<li>{{m.name}}</li>
  <ul>
  {{#each m.markers as |marker|}}
  <li>{{marker.name}}: {{marker.cM}}</li>
  {{/each}}
  </ul>
{{/each}}
</ul>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Add map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {{#each mapviewController.availableMaps as |mymap|}}
  <li>
    {{#link-to "mapview.maps" model.id mymap.id}}
      {{mymap.name}}
    {{/link-to}}
  </li>
  {{/each}}
  </ul>
</div>

{{outlet}}
