<div class="navbar" role="navigation">
  <div class="container-fluid" style="display: block;">
    <div class="navbar" style="display: block;">
      <ul class="nav navbar-left">
        <li>
          <Elem::LogoPretzel @class="app-logo" />
        </li>
        {{#if this.auth}}
          {{#if this.session.isAuthenticated}}
            <li>
              <LinkTo @route="mapview" @classNames="" @tagName="a">
                Map Viewer
              </LinkTo>
            </li>
            <li>
              {{#if this.parsedOptions.individual}}
                <LinkTo @route="matrixview" @classNames="" @tagName="a">
                  Individual Viewer
                </LinkTo>
              {{/if}}
            </li>
            <li>
              <LinkTo @route="change-password" @classNames="" @tagName="a">
                Change Password <Elem::IconBase @name="user" />
              </LinkTo>
            </li> 
            <li>
              <LinkTo @route="groups" @classNames="" @tagName="a">
                Groups <Elem::IconBase @name="tent" />
              </LinkTo>
            </li> 
          {{/if}}
        {{else}}
          <li>
            <LinkTo @route="mapview" @classNames="" @tagName="a">
              Map Viewer
            </LinkTo>
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-right">
        <li>
          <a href='https://github.com/plantinformatics/pretzel/releases' target='_blank'
             style="display: inline flow-root list-item;" >
            v{{this.version }} {{this.buildDateFormatted}}

            {{!-- on development server the commit sha is useful, but
            config.APP.version contains the commit sha only in development
            build. --}}
            {{#ember-tooltip delay=500}}
              {{app-version shaOnly=true}}
            {{/ember-tooltip}}

          </a>
          <a href='https://docs.plantinformatics.io' target='_blank'
             style="display: inline flow-root list-item;" >
            Documentation
          </a>
        </li>
        {{#if this.auth}}
          {{#if this.session.isAuthenticated}}
            <li>
	      {{!-- bootstrap reboot.scss now sets color color: inherit; for an
		   <a> without attributes href or tabindex, so add a dummy
		   tabindex to retain the default <a> colour. --}}
              <a {{action 'logout'}} class="" tabindex>
                Logout <Elem::IconBase @name="log-out" />
              </a>
            </li>
            {{#if this.sessionAccount.account}}
              <p class="navbar-text pull-right">Signed in as {{this.sessionAccount.account.name}}</p>
            {{/if}}
          {{else}}
            <li>
              <LinkTo @route="signup" @classNames="" @tagName="a">
                Sign Up <Elem::IconBase @name="edit" />
              </LinkTo>
            </li>
            <li>
              <LinkTo @route="login" @classNames="" @tagName="a">
                Log In <Elem::IconBase @name="log-in" />
              </LinkTo>
            </li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>
