<div class="navbar" role="navigation">
  <div class="container-fluid" style="display: block;">
    <div class="navbar" style="display: block;">
      <ul class="nav navbar-left">
        <li>
          {{elem/logo-pretzel id="logo"}}
        </li>
        {{#if auth.user}}
          <li>
            {{#link-to 'mapview' classNames='' tagName='a'}}
              Map Viewer
            {{/link-to}}
          </li>
          <li>
            {{#if parsedOptions.individual}}
              {{#link-to 'matrixview' classNames='' tagName='a'}}
                Individual Viewer
              {{/link-to}}
            {{/if}}
          </li> 
        {{else}}
          <li>
            {{#link-to 'mapview' classNames='' tagName='a'}}
              Map Viewer
            {{/link-to}}
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-right">
        <li>
          <a href='https://github.com/plantinformatics/pretzel/' target='_blank'>
            v{{version }} released {{buildDateFormatted}} View on GitHub
          </a>
        </li>
        {{#if auth.user}}
          <li>
        {{!-- bootstrap reboot.scss now sets color color: inherit; for an
       <a> without attributes href or tabindex, so add a dummy
       tabindex to retain the default <a> colour. --}}
            <p class="navbar-text pull-right">Signed in as {{auth.user.name}}</p>
          </li>
          <li>
            <a {{action 'logout'}} class="" tabindex>
              Logout {{elem/icon-base name="log-out"}}
            </a>
          </li>
        {{else}}
          <li>
            <a {{action 'login'}} class="" tabindex>
              Log In {{elem/icon-base name="log-in"}}
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
