<div class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li>
          {{#link-to 'index' tagName='a'}}
            Pretzel
          {{/link-to}}
        </li>
        {{#if auth}}
          {{#if session.isAuthenticated}}
            <li>
              {{#link-to 'mapview' classNames='' tagName='a'}}
                Map Viewer
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'change-password' classNames='' tagName='a'}}
                Change Password {{elem-icon name="user"}}
              {{/link-to}}
            </li> 
          {{/if}}
        {{else}}
          <li>
            {{#link-to 'mapview' classNames='' tagName='a'}}
              Map Viewer
            {{/link-to}}
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href='https://github.com/plantinformatics/pretzel/' target='_blank'>
            View on GitHub
          </a>
        </li>
        {{#if auth}}
          {{#if session.isAuthenticated}}
            <li>
              <a {{action 'logout'}} class="">
                Logout {{elem-icon name="log-out"}}
              </a>
            </li>
            {{#if sessionAccount.account}}
              <p class="navbar-text pull-right">Signed in as {{sessionAccount.account.name}}</p>
            {{/if}}
          {{else}}
            <li>
              {{#link-to 'signup' classNames='' tagName='a'}}
                Sign Up {{elem-icon name="edit"}}
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'login' classNames='' tagName='a'}}
                Log In {{elem-icon name="log-in"}}
              {{/link-to}}
            </li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>