<span id='axis-charts-span'>Axis-Charts</span>
{{#each this.blockViews as |chartBlock|}}
  {{draw/block-view axis=this.axis axisID=this.axisID block=chartBlock blocksData=this.blocksData}}
{{/each}}

{{#if this.blocks}}
  Blocks {{this.blocks.length}} {{this.chartsArray.length}}
  {{#each this.chartsArray as |chart|}}
    {{axis-chart axis=this.axis axisID=this.axisID blocks=this.blocks blocksData=this.blocksData axisCharts=this chart=chart }}
  {{/each}}
  {{ this.resizeEffectHere }}
  {{ this.drawContentEffect }}

{{else}}
<div class="Chart">
  {{content-editable
    value=this.selection
    placeholder="Paste Chart Here"
    class="chart pasteData"
    type="text"}}

</div>
{{/if}}
{{this.toggleChartTypeEffect}}
