{{!-- axis-2d is used within a <foreignObject> within a g.axis, created by axisShowExtend()
     It is rendered into div#axis2D (will add axisID) using ember-wormhole.
     --}}
{{#if this.axis1d.extended}}

{{#if 0}}
{{#ember-wormhole to=this.targetEltId }}
  <div class="resizer inFO" style="float:right;">
    {{!-- Being within <foreignObject>, this alternative is used to create and position the resizer arrow;
    Because content is not displayed when position: relative; set via  .resizer:not(.inFO)::after.
    Setting class inFO skips that ::after content, and instead the content is given here.                
    --}}
    {{!-- 
    ⇹	8697	21F9	 	LEFT RIGHT ARROW WITH VERTICAL STROKE
    ∥	8741	2225	 	PARALLEL TO
    ☰	9776	2630	 	TRIGRAM FOR HEAVEN
    ▦	9638	25A6	 	SQUARE WITH ORTHOGONAL CROSSHATCH FILL
    --}}
    <div class="menuHead">
      &#x21F9;&nbsp;&#x21F9;
    </div>
    {{#if this.urlOptions.splitAxes }}
      <div class="subMenu">
        <button {{action "addTracks"}}>&#x2225;</button>
        <button {{action "addChart"}}>&#x2630;</button>
        <button {{action "addLd"}}>&#x25B6;</button>
        <button {{action "addTable"}}>&#x25A6;</button>
      </div>
    {{/if}}
  </div>

  <div class="accordion-div">
    {{component "axis-accordion" subComponents=this.subComponents data=this.data tableData=this.tableData axis=this}}
  </div>


{{/ember-wormhole}}
{{/if}}

{{/if}}

{{this.positionRightEdgeEffect}}
<div>axis-2d : {{this.axisID}}, {{this.targetEltId}},  {{this.subComponents.length}} :
  <div>subComponents :
    {{#draw/axis-blocks
      axis1d=this.axis1d
      dataBlocks=this.dataBlocks
      childWidths=this.childWidths.centre
      trackWidth=this.trackWidth
      as |axisBlocks|
    }}
      {{axis-charts
        data=this.data
        axis=this
        axisID=this.axisID
        childWidths=this.childWidths.centre
        allocatedWidths=this.allocatedWidths
        blocks=this.viewedChartable
        resizeEffect=this.resizeEffect
        axisBlocks=axisBlocks
        trackWidth=this.trackWidth
      }}
      {{log
        'blockService'
        this.blockService
        'viewedChartable'
        this.blockService.viewedChartable
      }}
      {{axis-tracks
        axis=this
        axisID=this.axisID
        childWidths=this.childWidths
        allocatedWidths=this.allocatedWidths
        trackBlocksR=this.trackBlocks
        resizeEffect=this.resizeEffect
        axisBlocks=axisBlocks
        trackWidth=this.trackWidth
        model=this.model
      }}
    {{/draw/axis-blocks}}
    {{#each this.subComponents as |subComponent|}}
      {{subComponent}}
    {{/each}}
  </div>
</div>
