{{!-- axis-2d is used within a <foreignObject> within a g.axis, created by axisShowExtend()
     It is rendered into div#axis2D (will add axisID) using ember-wormhole.
     --}}
{{#ember-wormhole to=targetEltId }}
  <div class="resizer inFO" style="float:right;">
    {{!-- Being within <foreignObject>, this alternative is used to create and position the resizer arrow;
    Because content is not displayed when position: relative; set via  .resizer:not(.inFO)::after.
    Setting class inFO skips that ::after content, and instead the content is given here.                
    --}}
    {{!-- 
    ⇹	8697	21F9	 	LEFT RIGHT ARROW WITH VERTICAL STROKE
    ∥	8741	2225	 	PARALLEL TO
    ☰	9776	2630	 	TRIGRAM FOR HEAVEN
    ▦	9638	25A6	 	SQUARE WITH ORTHOGONAL CROSSHATCH FILL
    --}}
    <div class="menuHead">
      &#x21F9;&nbsp;&#x21F9;
    </div>
    {{#if urlOptions.splitAxes }}
      <div class="subMenu">
        <button {{action "addTracks"}}>&#x2225;</button>
        <button {{action "addChart"}}>&#x2630;</button>
        <button {{action "addLd"}}>&#x25B6;</button>
        <button {{action "addTable"}}>&#x25A6;</button>
      </div>
    {{/if}}
  </div>

  <div class="accordion-div">
    {{component "axis-accordion" subComponents=subComponents data=data tableData=tableData axis=this}}
  </div>


{{/ember-wormhole}}

<div>axis-2d :{{this}}, {{axisID}}, {{targetEltId}},  {{subComponents.length}} :
  <div>subComponents :
    {{axis-tracks axis=this axisID=axisID trackBlocks=dataBlocks}}
    {{#each subComponents as |subComponent|}}
      {{subComponent}}
    {{/each}}
  </div>
</div>
