{{!-- This is within div.devel-visible --}}
{{this.resizeEffectHere}}
{{this.flippedEffect}}
{{this.slowDependenciesEffect}}
<div class="axis-tracks">
  layoutWidth : {{!-- layoutWidthEffect --}}
  showTrackBlocks : {{this.showTrackBlocks}}
</div>

{{#unless true}} {{!-- this.trackBlocks --}}
<div class="Tracks">
  {{content-editable
    value=this.selection
    placeholder="Paste Tracks Here"
    escape-press="putContent"
    class="tracks pasteData"
    type="text"}}

  {{#data-table
    data=this.data.tracks
    selectionMode='multiple'
    selectionChanged=(action 'selectionChanged')
    classNames=this.tableClassNames
    as |t|
  }}
    {{t.selectionColumn}}
    {{t.column propertyName='start' name='Start'}}
    {{t.column propertyName='end' name='End'}}
    {{t.column propertyName='description' name='Description'}}
  {{/data-table}}

</div>
{{/unless}}
