{{#auth-form title="Change Your Password" errorMessage=errorMessage}}
  {{#if isRegistered}}
    <div class="panel panel-success">
      <div class="panel-heading">Success</div>
      <div class="panel-body">
        Your password has been changed.
      </div>
    </div>
  {{else}}
    <form {{action 'changeWithBasic' on='submit'}}>
      {{auth-input
        type='password'
        value=oldPassword
        placeholder='Old Password'}}
      {{auth-input
        type='password'
        value=newPassword
        placeholder='New Password'}}
      {{suggest-link
        suggest-text="Can't remember your password?"
        link-name="reset-request"
        link-pretty="Reset"}}
      {{submit-button loading=isProcessing}}
    </form>
  {{/if}}
{{/auth-form}}