<div class="resizer" style="float:right;">
</div>

<div id='holder' class="bordered">
  <!--<ul>
       <li>{{selectedMapset.name}}</li>
       </ul> -->


</div>

{{yield}}

<div class="devel-visible">
  {{draw/stacks-view stacks=oa.stacks oa=oa drawMap=this axes2d=axes2d}}
  {{!-- This info will be thinned or removed as axes development progresses. --}}
  <div>splitAxes : {{splitAxes}}</div>
  <div>axes2d : {{axes2d.length}}</div>
  {{#each axes2d as |axisS|}}
    <div>axis : {{axisS}}, {{axisS.axisID}}, {{axisS.extended}}</div>
    {{axis-2d drawMap=this data=oa axisID=axisS.axisID tableData=axisData urlOptions=urlOptions}}
  {{/each}}

  {{!-- wait until targetId="toolTip" will resolve --}}
  {{#if toolTipCreated }}
    {{!-- 2nd line of args passed are through to path-hover --}}
    {{contain-change  targetId="toolTip"    closeToolTip=(action "closeToolTipA") 
      drawMap=this data=oa
    }}
  {{/if}}
  <div>paths : {{paths.length}}</div>
</div>
{{draw/link-path stackEvents=this pathReceiver=this modelParamOptions=params.options}}

{{#if axisFeatureCircleHover}}
  {{path-hover data=oa features=hoverFeatures }} {{!-- targetId=axisFeatureTargetId  "holder" --}}
{{/if}}
{{#if urlOptions.hoverFeatures}}
  <div class="hoverFeatures">
  <span>Hovered Features</span>
  {{#each hoverFeatures as |feature|}}
    <div>
      {{feature-name data=oa feature=feature}}
      {{#each (maps-of-feature oa feature) as |map|}}
        {{ map.name }}
      {{/each}}
    </div>
  {{/each}}
</div>
{{/if}}
