{{this.queryParamsService.urlOptionsEffect}}

{{!-- <div class="resizer" style="float:right;">
</div> The resizer in mapview adjacent this works so this is probably not needed. --}}

<div id='holder' class="bordered">
  <!--<ul>
       <li>{{selectedMapset.name}}</li>
       </ul> -->

       <a class="help-icon" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Zooming-in-and-out-of-datasets/"><i class="glyphicon glyphicon-question-sign"></i></a>
       <a class="help-icon" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Moving-axes/"><i class="glyphicon glyphicon-question-sign"></i></a>


  <div id="headsUp">
    {{#if this.headsUp.tipText}}
        <button type="button" onclick={{action (mut this.headsUp.tipText) null}} >X</button>
      <div>{{this.headsUp.tipText}}</div>
    {{/if}}
  </div>


  <div id="popoverTarget" style="position: absolute;"></div>
</div>

{{yield}}

<div class="devel-visible">
  {{draw/graph-frame
    oa=this.oa
    drawMap=this
    drawMap=this
    controls=this.controls
    componentGeometry=this.componentGeometry
    data=this.data
    panelLayout=this.panelLayout
  }}
  {{draw/stacks-view
    stacksOld=this.oa.stacks
    oa=this.oa
    drawMap=this
    axes2d=this.axes2d
    model=this.model
    featuresInBlocks=this.featuresInBlocks
  }}
  {{!-- This info will be thinned or removed as axes development progresses. --}}

  {{!-- wait until targetId="toolTip" will resolve --}}
  {{#if this.toolTipCreated }}
    {{!-- 2nd line of args passed are through to path-hover --}}
    {{contain-change
      targetId="toolTip"
      closeToolTip=(action "closeToolTipA")
      drawMap=this
      data=this.oa
    }}
  {{/if}}
  <div>paths : {{this.paths.length}}</div>
</div>
{{draw/link-path stackEvents=this pathReceiver=this modelParamOptions=this.params.options}}

<div class="devel-visible">
  <div>brushedAxes : {{this.flowsService.axisBrush.brushedAxes.length}}</div>

  <div>{{this.blockService.viewedIds.length}},  blockAdjs : {{this.flowsService.blockAdjIds.length}}  {{this.flowsService.blockAdjsCP.length}}</div>
  <div>
    {{#each this.flowsService.blockAdjs as |blockAdj| }}
      {{draw/block-adj blockAdj=blockAdj drawMap=this xOffsets=this.xOffsets }}
    {{/each}}
  </div>
</div>

{{#if this.axisFeatureCircleHover}}
  {{path-hover data=this.oa features=this.hoverFeatures }} {{!-- targetId=axisFeatureTargetId  "holder" --}}
{{/if}}
{{#if this.urlOptions.hoverFeatures}}
  <div class="hoverFeatures">
    <span>Hovered Features</span>
    {{#each this.hoverFeatures as |feature|}}
      <div>
        {{feature-name data=this.oa feature=feature}}
        {{#each (maps-of-feature this.oa feature) as |map|}}
          {{ map.name }}
        {{/each}}
      </div>
    {{/each}}
  </div>
{{/if}}


{{!-- --------------------------------------------------------------------- --}}
