<div class="resizer" style="float:right;">
</div>

<div id='holder' class="bordered">
  <!--<ul>
       <li>{{selectedMapset.name}}</li>
       </ul> -->


</div>

{{yield}}

<div class="devel-visible">
  {{!-- This info will be thinned or removed as axes development progresses. --}}
  <div>splitAxes : {{splitAxes}}</div>
  <div>axes : {{axes.length}}</div>
  {{#each axes as |axisS|}}
    <div>axis : {{axisS}}, {{axisS.apID}}, {{axisS.extended}}</div>
    {{axis-2d drawMap=this data=oa apID=axisS.apID tableData=axisData}}
  {{/each}}
  <div>paths : {{paths.length}}</div>
</div>
{{draw/link-path stackEvents=this pathReceiver=this}}

{{!-- wait until targetId="toolTip" will resolve --}}
{{#if toolTipCreated }}
  {{!-- 2nd line of args passed are through to path-hover --}}
  {{contain-change  targetId="toolTip"    closeToolTip=(action "closeToolTipA") 
    drawMap=this data=oa
  }}
{{/if}}
{{#if axisMarkerCircleHover}}
  {{!-- path-hover data=oa markers=hoverMarkers targetId=axisMarkerTargetId  --}} {{!-- "holder" --}}
{{/if}}
