<div class="resizer" style="float:right;">
</div>

<div id='holder' class="bordered">
  <!--<ul>
       <li>{{selectedMapset.name}}</li>
       </ul> -->


</div>

{{yield}}

<div class="devel-visible">
  {{!-- This info will be thinned or removed as axes development progresses. --}}
  <div>splitAxes : {{splitAxes}}</div>
  <div>axes : {{axes.length}}</div>
  {{#each axes as |axisS|}}
    <div>axis : {{axisS}}, {{axisS.axisID}}, {{axisS.extended}}</div>
    {{axis-2d drawMap=this data=oa axisID=axisS.axisID tableData=axisData}}
  {{/each}}

  {{!-- wait until targetId="toolTip" will resolve --}}
  {{#if toolTipCreated }}
    {{!-- 2nd line of args passed are through to path-hover --}}
    {{contain-change  targetId="toolTip"    closeToolTip=(action "closeToolTipA") 
      drawMap=this data=oa
    }}
  {{/if}}
</div>

{{#if axisFeatureCircleHover}}
  {{path-hover data=oa features=hoverFeatures }} {{!-- targetId=axisFeatureTargetId  "holder" --}}
{{/if}}
<div class="hoverFeatures">
  <span>Hovered Features</span>
  {{#each hoverFeatures as |feature|}}
    <div>
    {{feature-name data=oa feature=feature}}
    {{#each (maps-of-feature oa feature) as |map|}}
      {{ map.name }}
    {{/each}}
    </div>
{{/each}}
</div>
