<div style="padding: 1em">

  {{panel/feature-list
    queryParamsState=this.queryParamsState
    getBlocksOfFeatures=(action this.actions.getBlocksOfFeatures)
    selectedFeatures=this.selectedFeatures }}


  {{#if false}}	{{!-- debug trace --}}
    <div>
      <ul class="list-group">
        {{#each this.selectedFeatures key="Feature" as |feature|}}
          <li class="list-group-item">
            {{ feature.Chromosome }}
            {{ feature.Feature }}
            {{ feature.Position }}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}


  {{#if this.matchAliases }}
    {{#with (keys this.featuresAliases.search) as |featureNames|}}
      {{#if featureNames.length }}
        <div>
          <span>Aliases found :</span>
          <ul style="list-style:none">
            {{#each-in this.featuresAliases.search as |aliasedFeature aliases|}}
              <li>{{aliasedFeature}} ( {{aliases}} )</li>
            {{/each-in}}
          </ul>
        </div>
      {{/if}}
    {{/with}}
  {{/if}}

  <span style="display: inline-block;">
    {{input
      type="checkbox"
      name="this.matchAliases"
      checked=this.matchAliases
      input=(action this.matchAliasesChanged preventDefault=false)
      id="checkbox-matchAliases"
    }}
    <label for="checkbox-matchAliases">Match aliases</label>
  </span>


  {{!-- same icon as button-refresh, but override colour.
   Use .list-group to get some margin-bottom; when upgrading bootstrap from 3
   to 4, can use .mb-3

   classNames is not updating when loaded; also tried :
   classNames=(concat "btn btn-info pull-right" (if loading 'disabled'))
   --}}
  {{#elem/button-base
     click=(action "getBlocksOfFeatures")
     classNames=this.refreshClassNames
     icon='refresh'
     classColour="primary"
  }}
    <span>&nbsp; Search</span>
  {{/elem/button-base}}

  {{!-- The above (if loading 'disabled') is not effective, so display
   ⏰  U+023F0  ALARM CLOCK --}}
  {{#if this.loading }}
    <div class="pull-right" style="margin-right:2em;">
      &#x23F0;
    </div>
  {{/if}}

  {{!-- →	&#8594;	&rarr;	RIGHTWARDS ARROW --}}

  <div style="clear:both; margin-top : 4ex;">
    {{#if this.blocksOfFeatures.length}}
      <span class="badge">
        {{this.blocksOfFeatures.length}}
      </span>
    {{/if}}
  </div>
</div>

<ul class="list-group blocks-found">
  {{#each this.blocksOfFeatures key="key.id" as |block|}}
    <li class="list-group-item">
      {{record/entry-block-add
        entry=block.key.record
        features=block.values
        featuresAliases=this.featuresAliases.result
        loadBlock=this.loadBlock
      }}
    </li>
  {{/each}}
</ul>
