{{!--
          feature (gene / marker) / location / interval -> apollo |  map | etc
          --}}

<div id="goto-feature" class="clearfix control-panel bordered"  data-toggle="buttons-checkbox" >
  Type of key values :
  <div>
    <input type="radio" name="optradioLimitType" data-value="Gene" />
    <label>Gene</label>
  </div>
  <div>
    <input type="radio" name="optradioLimitType" data-value="Feature" />
    <label>Feature</label>
  </div>
  <div>
    <input type="radio" name="optradioLimitType" data-value="Location" />
    <label>Location</label>
  </div>
</div>

{{input
    value=feature1
    class="form-control"
    placeholder="Marker/Gene Name / Location" }}

<div>
  <input type="checkbox" 
         id="checkbox-interval" 
         name="toggle-interval" 
         checked="checked"
  />
  <label>Interval</label>
  {{input
      hidden
      value=feature2
      class="form-control"
      placeholder="Marker/Gene Name / Location" }}


</div>
<div>
  <label>Range size kbp</label>
  <input type="range" 
	 id="range-surround" 
	 name="surround" 
	 min="0" max="1000"
	 value="0"
  />
</div>

<button>Map
  {{#ember-popover  }}
    {{goto-map mapList=mapsOfFeature }}
  {{/ember-popover }}
</button>
<div>
  {{#each mapsOfFeature as |map|}}
    {{ map.name }}
  {{/each}}
</div>

{{goto-ensembl featureName=feature1 }}

