<div>
  <Input
    @value={{this.featureName}}
    class="form-control"
    placeholder="Marker/Gene Name" >
  </Input>  

  <span href="#" data-toggle="tooltip"
        style="margin-right: 1em; margin-left: 1em;"
        title=
        "Feature name e.g. GrainGenes : Xgwm382.1-2A;  Ensembl : TRIAE_CS42_3DL_TGACv1_249024_AA0834820">?</span>
</div>

<div style="flex-wrap: wrap;">
  <Input
    @value={{this.baseUrl}}
    class="form-control"
    placeholder="Url to configure website" >
  </Input>  

  <select onchange={{action (mut this.website) value="target.value"}}>
    {{#each this.websites as |websiteChoice|}}
      <option value={{websiteChoice}} selected={{eq this.website websiteChoice}}>{{websiteChoice}}</option>
    {{/each}}
  </select>


  <a target="_blank"
     href={{this.url}} >
    {{this.featureName}}
  </a>

  <a target="_blank"
     href={{this.urlSelected}} >
    {{this.selectedFeatures0Name}}
  </a>
  {{#if this.brushedDomain }}
    <a target="_blank"
       href={{this.urlLocation}} >
      {{this.anchorLocationText}}
    </a>
  {{/if}}


</div>
