{{rendererConfigEffect}}

{{!---------------------------------------------------------------------------}}

<div id=timeMeasure></div>
{{#if selectedColumnName}}
  <div>
    <label>Selected sample column :&nbsp;</label>{{selectedColumnName}}
  </div>
{{/if}}

{{!---------------------------------------------------------------------------}}


    {{#if noData}}
      {{#unless blockSamples}}
        <div class="well">
            <span>Select individuals to display using Dataset Explorer</span>
        </div>
      {{/unless}}
    {{/if}}
    <div id="observational-table"></div>
    <span id="length_checker" style="position:absolute; visibility: hidden"></span>

{{#if this.urlOptions.gtSelectPhase}}
<ul class="list-group view-controls">
  <li class="list-group-item">
    <label style="display:inline">Select phase to display in CATG :</label>
    {{radio-button value='0' groupValue=selectPhase
      changed=(action selectPhaseChanged preventDefault=false)
    }}
    0 &nbsp;&nbsp; /
    {{radio-button value='1' groupValue=selectPhase
      changed=(action selectPhaseChanged preventDefault=false)
    }}
    1 &nbsp;&nbsp;
    {{radio-button value='both' groupValue=selectPhase
      changed=(action selectPhaseChanged preventDefault=false)
    }}
    Both &nbsp;&nbsp;
  </li>

</ul>
{{/if}}
