
<BsModal
  @open={{true}}
  @closeTitle="Cancel"
  @submitTitle="Connect"
  @size=""
  @closeButton={{true}}
  @fade={{true}}
  @backdrop={{true}}
  @backdropClose={{true}}
  @onSubmit={{action "onConfirm"}}
  @onHidden={{action @closeNewDatasourceModal}}
  @renderInPlace={{true}}
  class="new-datasource-modal"
   as |modal|>

   <modal.header>
     <h3 class="modal-title">
       <span id="ember409" class="glyphicon glyphicon-cloud-download"></span>
      New Datasource
    </h3>
  </modal.header>

  <modal.body>
  <div class="table labelled-inputs">

      <div class="input-label">Server Type</div>
       {{form/select-group
          selectedValue=this.typeSelected
          values=(to-array-promise-proxy this.typesForSelect)
          selectedGroupChanged=(action this.selectedTypeChanged) }}

      <div class="input-label">Host : Port</div>
      <input name="host" placeholder="e.g. http://localhost:5000"  autofocus="autofocus" autocomplete="url">

      <div class="input-label">User</div>
      <input name="user" placeholder="Email address" autocomplete="email">

      <div class="input-label">Password</div>
      <input name="password" type="password" autocomplete="current-password">

      {{#if this.typeIsGerminate}}
      <div class="input-label">Parent for genotype datasets</div>
       {{form/select-group
          selectedValue=this.datasetSelected
          values=(to-array-promise-proxy this.datasetsForSelect)
          selectedGroupChanged=(action this.selectedDatasetChanged) }}
      {{/if}}

  </div>

  {{#if this.errorText}}
    <div>
      <h4>Login Failed</h4>
      {{errorText}}
    </div>
  {{/if}}

  </modal.body>

  <modal.footer>
    <BsButton @onClick={{action modal.close}}>Cancel</BsButton>
    <BsButton @type="success" @onClick={{action modal.submit}}>Connect</BsButton>
  </modal.footer>


</BsModal>>

