{{#auth-form title="Reset Your Password" errorMessage=errorMessage}}
  {{#if isRegistered}}
    <div class="panel panel-success">
      <div class="panel-heading">Success</div>
      <div class="panel-body">
        A password reset request has been submitted. You will receive an email shortly if the email address exists.
      </div>
    </div>
  {{else}}
    <form {{action 'resetWithBasic' on='submit'}}>
      <div class="form-group">
        {{input
          type='text'
          value=identification
          placeholder='Email Address'
          class='form-control'}}
      </div>
      {{suggest-link
        suggest-text="Need an account?"
        link-name="signup"
        link-pretty="Sign Up"}}
      {{submit-button loading=isProcessing}}
    </form>
  {{/if}}
{{/auth-form}}