
<div class="clearfix"></div>
<div id="choose_path_colour_scale" class="clearfix control-panel bordered"  data-toggle="buttons-checkbox" >
  Colour according to input from colouredFeatures;
  (scaffoldName can be generalised as class name.)
  <table>
    <tr><th></th><th>#</th><th>each line of featureNames is</th><th>domain is</th></tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="3"></td>
      <td>3</td><td>featureName</td><td>featureName-s</td></tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="4"></td>
      <td>4</td><td>scaffoldName TAB featureName</td><td>scaffoldName-s</td></tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="5"></td>
      <td>5</td><td>chromosomeName location-start and -end</td><td>interval id : chrName_startLoc_endLoc</td>
    </tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="6"></td>
      <td></td><td>chromosomeName tick-location</td><td></td>
    </tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="7"></td>
      <td></td><td>syntenyBlock: chr1 chr2 g1 g2 g3 g4</td><td></td>
    </tr>
  </table>
</div>

<div class="clearfix" style="margin-bottom: 1em;" >
</div>

<div class="pull-left">
  <ul>
    {{#if showScaffoldFeatures}}
      {{#each scaffolds as |scaffold index|}}
	<li class="{{scaffold}}">
	  <div data-toggle="tooltip" title={{scaffold-features scaffolds index scaffoldFeatures}}>
	    {{scaffold}}
	  </div>
	</li>
      {{/each}}
    {{/if}}
  </ul>
</div>
<div id='scaffoldLegend' class="pull-left">
  <ul>
  </ul>
</div>

{{content-editable
  value=selection
  placeholder="Features to be coloured"
  escape-press="putContent"
  class="colouredFeatures"
  type="text"}}

<div class="ExportFlowData"></div>
<div id='grid'></div>

{{yield}}

