<div class="pull-left bordered control-panel" >
  <div class="btn-group space-between">
    <button {{action "clearScaffoldColours"}}>Clear Scaffold Colours</button>
    <button {{action "flipRegion"}}>Flip region</button>
    <button {{action "resetZooms"}}>Reset Zooms</button>
  </div>
  <div class="btn-group">
    <div>
      <input type="checkbox" 
	     id="checkbox-toggleModePublish" 
	     name="toggleCheckbox" 
      />
      <label>Publish Mode</label>
    </div>
    <div>
      <input type="checkbox" 
	     id="checkbox-toggleShowAll" 
	     name="toggleShowAll" 
	     checked="checked"
      />
      <label>Show All</label>
    </div>
    <div>
      <input type="checkbox" 
	     id="checkbox-toggleShowSelectedMarkers" 
	     name="toggleShowSelectedMarkers" 
	     checked="checked"
      />
      <label>List Selected Markers</label>
    </div>
  </div>

  <div class="input-range-group btn-group">
    <div>
      <label>Path Opacity</label>
      <input type="range" 
	     id="range-pathOpacity" 
	     name="pathOpacity" 
	     min="0" max="100"
	     value="12.5"
      />
    </div>

    <div>
      <label>Path Width</label>
      <input type="range" 
	     id="range-pathWidth" 
	     name="pathWidth" 
	     min="0" max="300"
	     value="75"
      />
    </div>
  </div>

</div>

<div class="clearfix"></div>
<div id="choose_path_colour_scale" class="clearfix bordered border-top-none"  data-toggle="buttons-checkbox" >
  Colour according to input from colouredMarkers;
  (scaffoldName can be generalised as class name.)
  <table>
    <tr><th></th><th>#</th><th>each line of markerNames is</th><th>domain is</th></tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="3"></td>
      <td>3</td><td>markerName</td><td>markerName-s</td></tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="4"></td>
      <td>4</td><td>scaffoldName TAB markerName</td><td>scaffoldName-s</td></tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="5"></td>
      <td>5</td><td>chromosomeName location-start and -end</td><td>interval id : chrName_startLoc_endLoc</td>
    </tr>
    <tr>
      <td><input type="radio" name="optradioPathColour" data-value="6"></td>
      <td></td><td>chromosomeName tick-location</td><td></td>
    </tr>
  </table>
</div>

<div class="clearfix" style="margin-bottom: 1em;" >
</div>

<div class="pull-left">
  <ul>
    {{#if showScaffoldMarkers}}
      {{#each scaffolds as |scaffold index|}}
	<li class="{{scaffold}}">
	  <div data-toggle="tooltip" title={{scaffold-markers scaffolds index scaffoldMarkers}}>
	    {{scaffold}}
	  </div>
	</li>
      {{/each}}
    {{/if}}
  </ul>
</div>
<div id='scaffoldLegend' class="pull-left">
  <ul>
  </ul>
</div>

{{content-editable
  value=selection
  placeholder="Markers to be coloured"
  escape-press="putContent"
  class="colouredMarkers"
  type="text"}}

<div class="ExportFlowData"></div>
<div id='grid'></div>

{{yield}}

