{{#auth-form title="Sign Up" errorMessage=errorMessage}}
  {{#if isRegistered}}
    <div class="panel panel-success">
      <div class="panel-heading">Success</div>
      <div class="panel-body">
        Thank you for registering. You should receive a confirmation email shortly.
      </div>
    </div>
  {{else}}
    <form {{action 'signupWithBasic' on='submit'}}>
      <div class="form-group">
        {{input
          type='text'
          value=identification
          placeholder='Email Address'
          class='form-control'}}
      </div>
      <div class="form-group">
        {{input
          type='password'
          value=password
          placeholder='Password'
          class='form-control'}}
      </div>
      {{suggest-link
        suggest-text="Already a member?"
        link-name="login"
        link-pretty="Log In"}}
      {{submit-button loading=isProcessing}}
    </form>
  {{/if}}
{{/auth-form}}
