<div class="pull-right">

  <button type="button" onclick={{action this.downloadCSVFile}}
    class="btn btn-info btn-xs"
    style="margin: 6px; padding: 1px 3px;" >
    Download CSV file
  </button>

  {{#if this.urlOptions.featuresPCA}}
  <button type="button" onclick={{action this.openSampleData}}
    class="btn btn-info btn-xs"
    style="margin: 6px; padding: 1px 3px;" >
    Open Sample Data
  </button>
  {{/if}}

  <input type="checkbox"
    checked={{this.stretchHorizontal}}
    oninput={{action this.stretchHorizontalChanged value="target.checked"}}  >
  <label>Column Stretch Horizontal</label>
  <input type="checkbox"
    style="margin-left: 3em;"
    checked={{this.autoColumnWidth}}
    oninput={{action this.autoColumnWidthChanged value="target.checked"}}  >
  <label>Auto Column Width</label>

  {{#if this.urlOptions.featuresEditable}}

  <input type="checkbox"
    style="margin-left: 3em;"
    checked={{this.editable}}
    oninput={{action (mut this.editable) value="target.checked"}}  >
  <label>Editable</label>

  <input type="checkbox"
    style="margin-left: 3em;"
    checked={{this.saveToDatabase}}
    oninput={{action (mut this.saveToDatabase) value="target.checked"}}  >
  <label>Save To Database</label>

  {{/if}}



</div>
<div style="clear:both"></div>


<!--
{{ember-table
  height=400
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=content
}}
-->
<div id="table-brushed"> </div>

{{this.saveFeatureMsg}}

{{#if this.formFeatureEditEnable}}
  {{#ember-modal-dialog modal-id="feature-edit-modal" title="Feature Edit" header-icon='edit'}}
      {{form/feature-edit cell=this.formFeatureEditEnable close=(action this.closeFeatureEdit) tableData=this.data}}
  {{/ember-modal-dialog}}
{{/if}}

{{#if this.urlOptions.featuresPCA}}
  {{#if this.showSampleData}}
    {{#if (not (is-empty this.sampleData))}}
      <button type="button" {{on "click" (action this.closeSampleData)}}>X</button>

      {{!-- alternative each-in : this.datasetsSamples as |datasetId sampleNames| 
       {{get this.sampleData datasetId}}
       @sampleNames={{sampleNames}}
       --}}
      {{#each-in this.sampleData as |datasetId data|}}
        <Form::SampleData @data={{data}}
          @samplesPassport={{this.samplesPassport}}
          @datasetId={{datasetId}} />
      {{/each-in}}
    {{/if}}
  {{/if}}
{{/if}}
