<div class="col-sm-12 actual-row">
  <h4>Upload Data</h4>
  {{#if errorMessage}}
    <br>
    <div class="panel panel-danger">
      <div class="panel-heading">Error</div>
      <div class="panel-body">
        {{errorMessage}}
      </div>
    </div>
  {{/if}}
  {{#if successMessage}}
    <br>
    <div class="panel panel-success">
      <div class="panel-heading">Success</div>
      <div class="panel-body">
        {{successMessage}}
      </div>
    </div>
  {{/if}}
  {{#if warningMessage}}
    <br>
    <div class="panel panel-warning">
      <div class="panel-heading">Warning</div>
      <div class="panel-body">
        {{warningMessage}}
      </div>
    </div>
  {{/if}}

  <div class="actual-row">
    <h5>Upload Chromosomes</h5>
    <label>Geneticmap: </label><select id="geneticmap"></select><input id="geneticmap_new" hidden />
    <br><label>Load from file: </label><input type="file" accept=".csv" id="tableFile" onchange={{action 'uploadToTable'}}>
    <div id="hotable" class="actual-row">
    </div>
    <input type="submit" class="btn btn-primary {{if isProcessing 'disabled'}}" onclick={{action 'uploadChromosomes'}}>
    <button class="btn" onclick={{action 'clearTable'}}>Clear</button>
  </div>

  <div class="actual-row">
    <h5>Upload Geneticmaps (JSON / gzip)</h5>
    <form {{action 'submitForm' on='submit'}}>
      <input type='file' accept=".json,.gz" onchange={{action 'upload'}}>
      <br>
      <input type="submit" class="btn btn-primary {{if isProcessing 'disabled'}}">
    </form>
  </div>

</div>

