<form {{action "save" on="submit"}} class="ui form">
  <div class="field">
    <label>
      Firstname
      {{input type="text" value=model.firstName}}
    </label>
  </div>
  <div class="field">
    <label>
      Lastname
      {{input type="text" value=model.lastName}}
    </label>
  </div>
  <div class="field">
    <label>
      Email
      {{input type="text" value=model.email}}
    </label>
  </div>
  <div class="field">
    <label>
      Apikey
      {{input type="text" value=model.apiKey}}
    </label>
  </div>
  <div class="field">
    <label>
      Age
      {{input type="text" value=model.age}}
    </label>
  </div>
  <div class="field">
    <label>
      Subscribed
      {{input type="text" value=model.subscribed}}
    </label>
  </div>
  <div class="field">
    <label>
      Verified
      {{input type="text" value=model.verified}}
    </label>
  </div>
  <div class="field">
    <input type="submit" value="Save" class="ui button primary">
  </div>
</form>
