{{!-- tagName is ''; nav.item now provides <li>  --}}
{{#let this.tabId as |tabId|}}


<@nav.item @active={{bs-eq @tab.activeId tabId }} >
  <a href={{concat "#" tabId}}
   role="tab"
   class="apiServer"
   style={{this.borderStyle}}
   onclick={{action (pipe
     (action @tab.select tabId)
     (action this.serverTabSelected this.apiServer.tabId this.apiServerName this.apiServer)
     ) }}
     >
    {{this.apiServer.tabText}}
  </a>

</@nav.item>


{{/let}}
