{{!-- tagName is ''; nav.item now provides <li>  --}}
{{#let this.tabId as |tabId|}}


<@nav.item @active={{bs-eq @tab.activeId tabId }} >
  <a href={{concat "#" tabId}}
   role="tab"
   class="apiServer"
   style={{borderStyle}}
   onclick={{action (pipe
     (action @tab.select tabId)
     (action serverTabSelected apiServer.tabId apiServerName apiServer)
     ) }}
     >
    {{apiServer.tabText}}
  </a>

</@nav.item>


{{/let}}
