<div style="display: flex;">
  <span>Selected Features</span>
  <span class="badge">{{selectedFeatures.length}}</span>

  <div style="margin-top: -9px;">
    {{!-- can use these in <a> instead of glyphicon-arrow-{left,right} (smaller)
        Leftwards Arrow	←	←	&#x2190;
        Rightwards Arrow	→	→	&#x2192;
    --}}
    {{!--       Can re-enable this later, not needed yet.  Also the arrows have been swapped, based on a suggestion that it would be clearer to users.
    <div class="from-input" style="position: absolute;"><a >{{elem/icon-base name="arrow-right" click=(action "toSelectedFeatures") }}</a></div>
    --}}
    <div style="padding-top: 13px;padding-left: 7px;"><a >{{elem/icon-base name="arrow-left"  click=(action "fromSelectedFeatures") }}</a></div>
  </div>

</div>


<div>
  <span>Features Input</span>
  {{#if activeInput}}
    <span class="badge">{{featureNameList.featureNameList.length}}</span>
  {{/if}}

  {{textarea
    class="form-control"
    maxLength=15
    input=(action 'inputIsActive')
    enter=(action 'featureNameListInput')
    insert-newline=(action 'featureNameListInput')
    escape-press=(action 'featureNameListInput')
    paste=(action 'paste')
    placeholder="Feature (Marker/Gene) Names
    (whitespace or comma separated)" }}
</div>


<hr >
