{{!-- --------------------------------------------------------------------- --}}

{{this.searchFeatureNamesEffect}}

{{!-- --------------------------------------------------------------------- --}}

<div style="display: flex;">
  <span>Selected Features</span>
  <span class="badge">{{this.selectedFeatures.length}}</span>

  <div style="margin-top: -9px;">
    {{!-- can use these in <a> instead of glyphicon-arrow-{left,right} (smaller)
        Leftwards Arrow	←	←	&#x2190;
        Rightwards Arrow	→	→	&#x2192;
    --}}
    {{!--       Can re-enable this later, not needed yet.  Also the arrows have been swapped, based on a suggestion that it would be clearer to users.
    <div class="from-input" style="position: absolute;"><a >{{elem/icon-base name="arrow-right" click=(action "toSelectedFeatures") }}</a></div>
    --}}
    <div style="padding-top: 13px;padding-left: 7px;">
      <a >{{elem/icon-base name="arrow-left"  click=(action "fromSelectedFeatures") }}</a>
      {{#ember-tooltip side="right" delay=500}}
        Copy Names from the Selected Features
      {{/ember-tooltip}}
    </div>
  </div>

</div>


<div>
  <span>Features Input</span>
  {{#if this.activeInput}}
    <span class="badge">{{this.featureNameList.featureNameList.length}}</span>
  {{/if}}

  <Textarea
    class="form-control"
    oninput={{action 'inputIsActive'}}
    @enter={{action 'featureNameListInput'}}
    @insert-newline={{action 'featureNameListInput'}}
    @escape-press={{action 'featureNameListInput'}}
    onpaste={{action 'paste'}}
    placeholder="Feature (Marker/Gene) Names
    (whitespace or comma separated)" >
  </Textarea>

</div>


<hr >
