<div>
  {{#elem/icon-toggle state=detailed iconTrue='chevron-up' iconFalse='chevron-down' }}
    {{#ember-tooltip side="right" delay=500}}
      Toggle the detailed display of the filter / grouping.
    {{/ember-tooltip}}
  {{/elem/icon-toggle}}

  {{#elem/button-base
     click=(action "filterByCurrentScopes")
     icon='import'
     classColour="info"
  }}
    <span>Copy current view
      {{#ember-tooltip side="bottom" delay=500}}
        Copy the scopes (chromosome names) of the currently displayed references and maps to the filter pattern, to filter the datasets displayed in the explorer.
      {{/ember-tooltip}}
    </span>
  {{/elem/button-base}}

  {{#elem/button-base
    click=(action "deleteFilterOrGroup")
    icon='remove'
    classColour="info"
    class='delete'
  }}
    {{#ember-tooltip side="left" delay=500}}
      Delete this filter / grouping;  all datasets will be displayed.
    {{/ember-tooltip}}
  {{/elem/button-base}}

</div>

{{input
  value=data.pattern
  class="form-control"
  enter=(action changed this)
  placeholder="string or regular expression" }}

{{#if detailed}}
  <div class="line-input-label">
    {{radio-button value='filter' groupValue=data.filterOrGroup
      changed=(action changed this preventDefault=false)
    }}
    <label>Filter</label>
    {{radio-button value='group' groupValue=data.filterOrGroup
      changed=(action changed this preventDefault=false)
    }}
    <label>Group</label>
  </div>

  {{!-- scope of search can be : .name .scope .meta --}}
  <div class="line-input-label">
    <label style="margin-right:1em">Fields :</label>
    {{input type="checkbox" name="fieldName" checked=data.fieldName
      click=(action changed this preventDefault=false)
    }}
    <span>name</span>
    {{input type="checkbox" name="fieldMeta" checked=data.fieldMeta
      click=(action changed this preventDefault=false)
    }}
    <span>meta</span>
    <br/>

    <div class="light-border">
      <ul class="nav nav-tabs li-active-extra vertical">
        <!-- To change the initial active tab, change .active class of both .active-detail and .tab-pane; change also .in class of the latter.
             also change send(applyTabActive ) in didInsertElement(), if applyTabActive is used.
           -->
        <li class="active-detail">
          <a data-toggle="tab" href="#tab-apply-dataset" onclick={{action "applyTabActive" "dataset"}}>Dataset</a>
          {{input type="checkbox" name="applyDataset" checked=data.applyDataset
            click=(action changed this preventDefault=false)
          }}
        </li>
        <li class="active-detail active">
          <a data-toggle="tab" href="#tab-apply-block" onclick={{action "applyTabActive" "block"}}>Block</a>
          {{input type="checkbox" name="applyBlock" checked=data.applyBlock
            click=(action changed this preventDefault=false)
          }}
        </li>

      </ul>

      <div class="tab-content">

        <div id="tab-apply-dataset" class="tab-pane fade">
        </div>

        <div id="tab-apply-block" class="tab-pane fade in active">
          {{input type="checkbox" name="fieldScope" checked=data.fieldScope
            click=(action changed this preventDefault=false)
            disabled=(not data.applyBlock)
          }}
          <span>scope</span>
          {{input type="checkbox" name="fieldNamespace" checked=data.fieldNamespace
            click=(action changed this preventDefault=false)
            disabled=(not data.applyBlock)
          }}
          <span>namespace</span>

        </div>

      </div>

    </div>

  </div>
  {{!-- match string / pattern again key and/or value --}}
  <div class="line-input-label clear-both">
    <label>Match against :</label>
    {{input type="checkbox" name="matchKey" checked=data.matchKey
      click=(action changed this preventDefault=false)
    }}
    <span>Key</span>
    {{input type="checkbox" name="matchValue" checked=data.matchValue
      click=(action changed this preventDefault=false)
    }}
    <span>Value</span>
  </div>

  <div style="display:flex">
    {{!-- caseSensitive string / pattern --}}
    <span>
      {{input type="checkbox" name="isCaseSensitive" checked=data.isCaseSensitive
        click=(action changed this preventDefault=false)
      }}
      <label>Case Sensitive</label>
    </span>

    {{!-- negate string / pattern --}}
    <span>
      {{input type="checkbox" name="isNegated" checked=data.isNegated
        click=(action changed this preventDefault=false)
      }}
      <label>Negate</label>
    </span>

    {{!-- pattern isRegExp --}}
    <span>
      {{input type="checkbox" name="isRegExp" checked=data.isRegExp
        click=(action changed this preventDefault=false)
      }}
    <label>RegExp</label>
  </span>
  </div>

{{/if}}

