<li>
  <div>
    <input type="radio" name="filterOrGroup" value="filter" {{action "changeFilterOrGroup" "filter" preventDefault=false}}><label>Filter</label>
    <input type="radio" name="filterOrGroup" value="group" {{action "changeFilterOrGroup" "group" preventDefault=false}}><label>Group</label>
  </div>

  {{input
    value=pattern
    class="form-control"
    enter=(action changed)
    placeholder="string or regular expression" }}

  {{!-- match string / pattern again key and/or value --}}
  <div>
    <label>Match against :</label>
    Key :
    {{input type="checkbox" name="matchKey" checked=matchKey}}
    Value :
    {{input type="checkbox" name="matchValue" checked=matchValue}}
  </div>


  {{!-- negate string / pattern --}}
  <span>
    {{input type="checkbox" name="isNegated" checked=isNegated}}
    <label>Negate</label>
  </span>

  {{!-- pattern isRegExp --}}
  <span  style="margin-left:3em">
    {{input type="checkbox" name="isRegExp" checked=isRegExp}}
    <label>RegExp</label>
  </span>


</li>
