<div>
  {{#elem/icon-toggle state=this.detailed iconTrue='collapse-down' iconFalse='expand' }}
    {{#ember-tooltip side="right" delay=500}}
      Toggle the detailed display of the filter / grouping.
    {{/ember-tooltip}}
  {{/elem/icon-toggle}}

  {{#elem/button-base
     click=(action "filterByCurrentScopes")
     icon='import'
     classColour="info"
  }}
    <span>Copy current view
      {{#ember-tooltip side="bottom" delay=500}}
        Copy the scopes (chromosome names) of the currently displayed references and maps to the filter pattern, to filter the datasets displayed in the explorer.
      {{/ember-tooltip}}
    </span>
  {{/elem/button-base}}

  {{#elem/button-base
    click=this.deleteFilterOrGroup
    icon='remove'
    classColour="info"
    class='delete'
  }}
    {{#ember-tooltip side="left" delay=500}}
      Delete this filter / grouping;  all datasets will be displayed.
    {{/ember-tooltip}}
  {{/elem/button-base}}
</div>

<div class="filter-group-row">
  <Input
    @value={{this.data.pattern}}
    class="form-control"
    enter=(action this.changed this)
    placeholder="string or regular expression" >
  </Input>  
  {{#elem/button-base
    click=(action this.changed this)
    icon='ok'
    classColour="info"
    class='submit'
  }}
    {{#ember-tooltip side="left" delay=500}}
      Apply filter/group
    {{/ember-tooltip}}
  {{/elem/button-base}}
</div>

{{#if this.detailed}}

  {{!-- Filter or Grouping --}}
  <div class="filter-group-row" style="margin-top:1em">
    <label class="filter-group-col">Apply...</label>
    <span class="filter-group-2cols">
      {{radio-button
        value='filter'
        groupValue=this.data.filterOrGroup
        changed=(action this.changed this preventDefault=false)
      }}
      Filter &nbsp;&nbsp;
      {{radio-button
        value='group'
        groupValue=this.data.filterOrGroup
        changed=(action this.changed this preventDefault=false)
      }}
      Grouping
    </span>
  </div>

  {{!-- scope of search can be : .name .scope ._meta --}}
  <div class="filter-group-row">
    <label class="filter-group-col">Search...</label>
    <span class="filter-group-col">
      {{input
        type="checkbox"
        name="fieldName"
        checked=this.data.fieldName
        click=(action this.changed this preventDefault=false)
      }}
      Names
    </span>
    <span class="filter-group-col">
      {{input
        type="checkbox"
        name="fieldMeta"
        checked=this.data.fieldMeta
        click=(action this.changed this preventDefault=false)
      }}
      Metadata
    </span>
  </div>

  {{!-- match string / pattern again key and/or value --}}
  <div class="filter-group-row">
    <label class="filter-group-col">Matching...</label>
    <span class="filter-group-col">
      {{input
        type="checkbox"
        name="matchKey"
        checked=this.data.matchKey
        click=(action this.changed this preventDefault=false)
      }}
      Keys
    </span>
    <span class="filter-group-col">
      {{input
        type="checkbox"
        name="matchValue"
        checked=this.data.matchValue
        click=(action this.changed this preventDefault=false)
      }}
      Values
    </span>
  </div>

  {{!-- Datasets --}}
  <div class="filter-group-row">
    <label class="filter-group-col">Include...</label>
    <span class="filter-group-2cols">
      {{input
        type="checkbox"
        name="applyDataset"
        checked=this.data.applyDataset
        click=(action this.changed this preventDefault=false)
      }}
      Datasets
    </span>
  </div>

  {{!-- Blocks --}}
  <div class="filter-group-row">
    <div class="filter-group-col" />
    <span class="filter-group-col">
      {{input
        type="checkbox"
        name="applyBlock"
        checked=this.data.applyBlock
        click=(action this.changed this preventDefault=false)
      }}
      Blocks
    </span>
    <span class="filter-group-col">
      {{#elem/icon-toggle
        state=this.blockssubs iconTrue='collapse-down' iconFalse='expand'
      }}
        {{#ember-tooltip side="bottom" delay=500}}
          Toggle Block sub-options
        {{/ember-tooltip}}
      {{/elem/icon-toggle}}
    </span>
  </div>
  {{#if this.blockssubs}}
    <div class="filter-group-row">
      <div class="filter-group-col" />
      <span class="filter-group-col">
        {{input
          type="checkbox"
          name="fieldScope"
          checked=this.data.fieldScope
          click=(action this.changed this preventDefault=false)
          disabled=(not this.data.applyBlock)
        }}
        Scope
      </span>
      <span class="filter-group-col">
        {{input
          type="checkbox"
          name="fieldNamespace"
          checked=this.data.fieldNamespace
          click=(action this.changed this preventDefault=false)
          disabled=(not this.data.applyBlock)
        }}
        Namespace
      </span>
    </div>
  {{/if}}

  {{!-- Regex negation and case sensitivity --}}
  <div class="filter-group-row">
    {{!-- pattern isRegExp --}}
    <span>
      {{input
        type="checkbox"
        name="isRegExp"
        checked=this.data.isRegExp
        click=(action this.changed this preventDefault=false)
      }}
      RegExp
    </span>
    {{!-- negate string / pattern --}}
    <span>
      {{input
        type="checkbox"
        name="isNegated"
        checked=this.data.isNegated
        click=(action this.changed this preventDefault=false)
      }}
      Negated
    </span>
    {{!-- caseSensitive string / pattern --}}
    <span>
      {{input
        type="checkbox"
        name="isCaseSensitive"
        checked=this.data.isCaseSensitive
        click=(action this.changed this preventDefault=false)
      }}
      Case Sensitive
    </span>
  </div>
{{/if}}

