<div id="left-panel" class="left-panel-shown" style="height:100%; width: 400px; border-right:1px solid #ddd; display: flex; flex-direction: column">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#left-panel-explorer">{{elem/icon-base name="folder-open"}} Explorer</a></li>
        <li><a data-toggle="tab" href="#left-panel-view">{{elem/icon-base name="picture"}} View</a></li>
        <li><a data-toggle="tab" href="#left-panel-feature-search">{{elem/icon-base name="search"}} Feature Search</a></li>
        <li><a data-toggle="tab" href="#left-panel-upload">{{elem/icon-base name="cloud-upload"}} Upload</a></li>
    </ul>
    
    <div class="tab-content" style="overflow: auto">
        <div id="left-panel-feature-search" class="tab-pane fade">
            {{panel/manage-search
                view=view
                loadBlock=(action loadBlock)
		selectedFeatures=selectedFeatures
		updateFeaturesInBlocks="updateFeaturesInBlocks"
            }}
	
        </div>
        <div id="left-panel-explorer" class="tab-pane fade in active">
            {{panel/manage-explorer
                view=view
                model=model
                loadBlock="loadBlock"
                selectBlock="selectBlock"
                selectedBlock=selectedBlock
                selectedDataset=selectedDataset
                selectDataset="selectDataset"
                changeTab="changeTab"
            }}
        </div>
        <div id="left-panel-view" class="tab-pane fade">
            {{panel/manage-view
                displayData=displayData
                selectedBlock=selectedBlock
                view=view
                changeTab="changeTab"
                loadBlock="loadBlock"
                removeBlock="removeBlock"
                selectBlock="selectBlock"

                model=model
                controls=controls
                isShowUnique=isShowUnique
                pathColourScale=pathColourScale
                scaffolds=scaffolds
                scaffoldMarkers=scaffoldMarkers
                showScaffoldMarkers=showScaffoldMarkers
                showAsymmetricAliases=showAsymmetricAliases
                selectedFeatures=selectedFeatures
                updateFeaturesInBlocks="updateFeaturesInBlocks"
            }}
        </div>
        <div id="left-panel-upload" class="tab-pane fade">
            {{panel/upload-data}}
        </div>
    </div>

    <button type="button" class="btn btn-default panel-collapse-button" {{action 'toggleLeftPanel'}} style="top:0; left:374px; position: absolute;">
      {{elem/icon-base name="chevron-left"}}
    </button>
</div>
<button type="button" class="left-panel-hidden btn btn-default panel-collapse-button" style="display:none" {{action 'toggleLeftPanel'}}>
    {{elem/icon-base name="chevron-right"}}
</button>
