<div id="left-panel" class="left-panel-shown" style="height:100%; border-right:1px solid #ddd; display: flex; flex-direction: column">

  <BsTab @customTabs={{true}} @fade={{false}} @activeId="left-panel-explorer" as |tab|>
    <BsNav @type="tabs" class="nav-pills" style="margin-left:10px" as |nav|>
      <nav.item active={{bs-eq tab.activeId "left-panel-explorer"}}><a href="#left-panel-explorer" role="tab" class="nav-link" onclick={{action tab.select "left-panel-explorer"}}>{{elem/icon-base name="folder-open"}} Explorer</a></nav.item>
      <nav.item @active={{bs-eq tab.activeId "left-panel-view"}}><a href="#left-panel-view" role="tab" class="nav-link" onclick={{action tab.select "left-panel-view"}}>{{elem/icon-base name="picture"}} View</a></nav.item>
      <nav.item @active={{bs-eq tab.activeId "left-panel-feature-search"}}><a href="#left-panel-feature-search" role="tab" class="nav-link" onclick={{action tab.select "left-panel-feature-search"}}>{{elem/icon-base name="search"}}Search</a></nav.item>
      <nav.item @active={{bs-eq tab.activeId "left-panel-upload"}}><a href="#left-panel-upload" role="tab" class="nav-link" onclick={{action tab.select "left-panel-upload"}}>{{elem/icon-base name="cloud-upload"}} Upload</a></nav.item>
    </BsNav>
    <div class="tab-content">
      <tab.pane @id="left-panel-feature-search" id="left-panel-feature-search" @title="Search">
            <Panel::GenotypeSearch @userSettings={{this.userSettings.genotype}} />

            {{panel/manage-search
                view=this.view
                queryParamsState=this.queryParamsState
                loadBlock=(action this.loadBlock)
                selectedBlock=this.selectedBlock
                selectedFeatures=this.selectedFeatures
                updateFeaturesInBlocks=this.updateFeaturesInBlocks
            }}

            {{!-- There is no need to display SelectedServer if the number of
                  api servers is 1, i.e. only connected to the primary pretzel server. --}}
            {{#if this.multipleServers}}
              <Panel::SelectedServer/>
            {{/if}}

            {{panel/sequence-search
                datasets=this.serverSelected_datasetsBlocks
                view=this.view
                selectedFeatures=this.selectedFeatures
                refreshDatasets=this.refreshDatasets
                viewDataset=this.viewDataset
            }}

            {{panel/search-lookup
                selectedFeatures=this.selectedFeatures
                selectedBlock=this.selectedBlock
            }}

      </tab.pane>


      <tab.pane @id="left-panel-explorer" id="left-panel-explorer" @title="Explorer">
            {{panel/manage-explorer
                view=this.view
                model=this.model
                primaryDatasets=@model.availableMapsTask._result
                mapviewDatasets=this.datasets
                refreshDatasets=this.refreshDatasets
                loadBlock=this.loadBlock
                onDelete=this.onDelete
                selectBlock=this.selectBlock
                selectedBlock=this.selectedBlock
                selectedDataset=this.selectedDataset
                selectDataset=this.selectDataset
                changeTab=(action 'changeTab' tab.select )
            }}
      </tab.pane>

      <tab.pane @id="left-panel-view" id="left-panel-view" @title="View">
            {{panel/manage-view
                displayData=this.displayData
                selectedBlock=this.selectedBlock
                view=this.view
                changeTab=(action 'changeTab' tab.select )
                loadBlock=this.loadBlock
                removeBlock=this.removeBlock
                selectBlock=this.selectBlock

                model=this.model
                controls=this.controls
                isShowUnique=this.isShowUnique
                pathColourScale=this.pathColourScale
                scaffolds=this.scaffolds
                scaffoldMarkers=this.scaffoldMarkers
                showScaffoldFeatures=this.showScaffoldFeatures
                showAsymmetricAliases=this.showAsymmetricAliases
                selectedFeatures=this.selectedFeatures
                updateFeaturesInBlocks=this.updateFeaturesInBlocks
            }}
      </tab.pane>

      <tab.pane @id="left-panel-upload" id="left-panel-upload" @title="Upload">
            {{panel/upload-data
                datasets=this.serverSelected_datasetsBlocks
                refreshDatasets=this.refreshDatasets
                viewDataset=this.viewDataset
                active=(bs-eq tab.activeId "left-panel-upload")
            }}
      </tab.pane>
    </div>
  </BsTab>

    <button type="button" class="btn btn-default panel-collapse-button" {{action 'toggleLeftPanel' false}} style="top:0; left:374px; position: absolute;">
      {{elem/icon-base name="chevron-left"}}
    </button>
</div>
<button type="button" class="left-panel-hidden btn btn-default panel-collapse-button" style="display:none" {{action 'toggleLeftPanel' true}}>
    {{elem/icon-base name="chevron-right"}}
</button>
