<div id="left-panel" class="left-panel-shown" style="height:100%; width: 400px; border-right:1px solid #ddd; display: flex; flex-direction: column">

  <BsTab @customTabs={{true}} @activeId="left-panel-explorer" as |tab|>
    <BsNav @type="tabs" as |nav|>
      <nav.item @active={{bs-eq tab.activeId "left-panel-explorer"}}><a href="#left-panel-explorer" role="tab" onclick={{action tab.select "left-panel-explorer"}}>{{elem/icon-base name="folder-open"}} Explorer</a></nav.item>
      <nav.item @active={{bs-eq tab.activeId "left-panel-view"}}><a href="#left-panel-view" role="tab" onclick={{action tab.select "left-panel-view"}}>{{elem/icon-base name="picture"}} View</a></nav.item>
      <nav.item @active={{bs-eq tab.activeId "left-panel-feature-search"}}><a href="#left-panel-feature-search" role="tab" onclick={{action tab.select "left-panel-feature-search"}}>{{elem/icon-base name="search"}}Search</a></nav.item>
      <nav.item @active={{bs-eq tab.activeId "left-panel-upload"}}><a href="#left-panel-upload" role="tab" onclick={{action tab.select "left-panel-upload"}}>{{elem/icon-base name="cloud-upload"}} Upload</a></nav.item>
    </BsNav>
    <div class="tab-content">
      <tab.pane @id="left-panel-feature-search" @title="Search">
            {{panel/manage-search
                view=view
                loadBlock=(action loadBlock)
                selectedBlock=selectedBlock
                selectedFeatures=selectedFeatures
                updateFeaturesInBlocks="updateFeaturesInBlocks"
            }}

            <Panel::SelectedServer/>

            {{panel/sequence-search
                datasets=serverSelected_datasetsBlocks
                view=view
                selectedFeatures=selectedFeatures
                refreshDatasets=refreshDatasets
                viewDataset=viewDataset
            }}

            {{panel/search-lookup
                selectedFeatures=selectedFeatures
                selectedBlock=selectedBlock
            }}

      </tab.pane>


      <tab.pane @id="left-panel-explorer" @title="Explorer">
            {{panel/manage-explorer
                view=view
                model=model
                primaryDatasets=@model.availableMapsTask._result
                mapviewDatasets=datasets
                refreshDatasets=refreshDatasets
                loadBlock="loadBlock"
                selectBlock="selectBlock"
                selectedBlock=selectedBlock
                selectedDataset=selectedDataset
                selectDataset="selectDataset"
                changeTab=(action 'changeTab' tab.select )
            }}
      </tab.pane>

      <tab.pane @id="left-panel-view" @title="View">
            {{panel/manage-view
                displayData=displayData
                selectedBlock=selectedBlock
                view=view
                changeTab=(action 'changeTab' tab.select )
                loadBlock="loadBlock"
                removeBlock="removeBlock"
                selectBlock="selectBlock"

                model=model
                controls=controls
                isShowUnique=isShowUnique
                pathColourScale=pathColourScale
                scaffolds=scaffolds
                scaffoldMarkers=scaffoldMarkers
                showScaffoldMarkers=showScaffoldMarkers
                showAsymmetricAliases=showAsymmetricAliases
                selectedFeatures=selectedFeatures
                updateFeaturesInBlocks="updateFeaturesInBlocks"
            }}
      </tab.pane>

      <tab.pane @id="left-panel-upload" @title="Upload">
            {{panel/upload-data
                datasets=datasets
                refreshDatasets=refreshDatasets
                viewDataset=viewDataset
                active=(bs-eq tab.activeId "left-panel-upload")
            }}
      </tab.pane>
    </div>
  </BsTab>

    <button type="button" class="btn btn-default panel-collapse-button" {{action 'toggleLeftPanel'}} style="top:0; left:374px; position: absolute;">
      {{elem/icon-base name="chevron-left"}}
    </button>
</div>
<button type="button" class="left-panel-hidden btn btn-default panel-collapse-button" style="display:none" {{action 'toggleLeftPanel'}}>
    {{elem/icon-base name="chevron-right"}}
</button>
