{{#elem/panel-container state="primary"}}
  {{#elem/panel-heading icon="filter"}}
    Filters
  {{/elem/panel-heading}}
  <div class="panel-body">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      {{#each-in filterOptions as |key value|}}
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn {{if (compare key '===' filter) 'btn-info' 'btn-default'}}"
            {{action "changeFilter" key preventDefault=false}}>
            {{elem/icon-base name=value.icon}} &nbsp;{{value.formal}}

          </button>
        </div>
      {{/each-in}}
    </div>
  </div>
{{/elem/panel-container}}
{{table-brushed data=data}}
