<li class="list-group-item list-group-item-info">
  {{#if layout.active}}
    {{elem-button
      classSize='xs'
      classColour='default'
      icon='minus'
      onClick=(action "switchGeneticmap" geneticmap)}}
  {{else}}
    {{elem-button
      classSize='xs'
      classColour='default'
      icon='plus'
      onClick=(action "switchGeneticmap" geneticmap)}}
  {{/if}}
  {{geneticmap.name}}
  <span class="badge">{{geneticmap.chromosomes.length}}</span>
</li>
{{#if layout.active}}
  {{#each geneticmap.chromosomes as |chr|}}
    <li 
      class="list-group-item {{if (compare chr.id '===' selectedChrom.id) 'list-group-item-warning'}}"
      {{action "selectChrom" chr on="click"}}>
      {{chr.name}}
      <span class="pull-right">
        {{!-- {{elem-button
          classSize='xs'
          classColour='info'
          icon='info-sign'
          onClick=(action "selectChrom" chr)}} --}}
        {{#if chr.isSelected}}
          {{!-- {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
            {{elem-button
              classSize='xs'
              classColour='danger'
              icon='minus'}}
          {{/link-to}} --}}
        {{else}}
          {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
            {{elem-button
              classSize='xs'
              classColour='success'
              icon='plus'}}
          {{/link-to}}
        {{/if}}
      </span>
      <p class="list-group-item-text">
        {{#each chr.tags as |tag|}}
          <span class="label label-default" style="display: inline-block">
            {{tag}}
          </span>
        {{/each}}
      </p>
    </li>
  {{/each}}
{{/if}}