{{#elem-panel}}
  <div class="panel panel-primary">
    <div class="panel-heading">Aligned Maps {{elem-icon name="globe"}}</div>
      {{#unless selectedMaps}}
        <div class="panel-body">
          <div class="well">
            Click and drag {{elem-icon name="resize-vertical"}} along a map {{elem-icon name="globe"}}, or select {{elem-icon name='info'}} a map from the view panel {{elem-icon name='eye'}}. 
          </div>
        </div>
      {{/unless}}
    <ul class="list-group">
      {{#each selectedMaps as |chr|}}
        <li 
          class="list-group-item {{if (compare chr.id '===' selectedChrom.id) 'list-group-item-warning'}}"
          data-chr-id={{chr.id}}
          {{action "selectChrom" chr on="click"}}>
          {{chr.map.name}} {{chr.name}}

          <span class="pull-right">
            {{!-- {{elem-button
              classSize='xs'
              classColour='danger'
              icon='minus'
              onClick=(action "deleteChrom" chr)}} --}}
          </span>

          <p class="list-group-item-text">
            {{#each chr.tags as |tag|}}
              <span class="label label-default" style="display: inline-block">
                {{tag}}
              </span>
            {{/each}}
          </p>
        </li>
      {{/each}}
    </ul>
  </div>
  {{!-- {{#if selectedMaps}} --}}
    <div class="bordered control-panel" style="display: inline-block;">
      <div class="pull-left vspace1">
        <div class="drawing-controls vspace1">
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Display Toggles
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="sub-menu">
                {{input type="checkbox" checked=isShowUnique class="toggle"}}
                <label {{action "toggleShowUnique" on="doubleClick"}}>Show Unique</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=pathColourScale class="toggle"}}
                <label {{action "togglePathColourScale" on="doubleClick"}}>Path Colour Scale</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=showScaffoldMarkers class="toggle"}}
                <label>Show Scaffold Markers</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=showAsymmetricAliases class="toggle"}}
                <label>Show Asymmetric Aliases</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
{{/elem-panel}}