{{#if this.dataset}}
  <div class="dataset-description">
  <h4 class="truncate" title={{this.dataset.name}}>{{this.dataset.name}}</h4>

  <table class="table table-striped dataset-table">
    <tbody>
      <tr><td>Namespace</td><td style="overflow-wrap : break-word; max-width : 20em;">{{this.dataset.namespace}}</td></tr>
      <tr><td>Parent</td><td>{{this.dataset.parentName}}</td></tr>
      <tr><td>Created</td><td>{{formatDate this.dataset.createdAt}}</td></tr>
      <tr><td>Last Updated</td><td>{{formatDate this.dataset.updatedAt}}</td></tr>
      <tr><td>Public</td><td>{{this.dataset.public}}</td></tr>
      <tr><td>Read Only</td><td>{{this.dataset.readOnly}}</td></tr>
      {{#if this.dataset.tags.length}}
        <tr><td>tags</td><td>
          {{#each this.dataset.tags as |tag index|}}
              {{#if index}}<nbsp/>{{/if}}
              {{tag}}
          {{/each}}
        </td></tr>
      {{/if}}

      {{#unless this.dataset.public}}
      <tr><td>Group</td>
        <td>
        {{#if this.datasetOwned}}
           {{form/select-group selectedValue=this.selectedValue
             values=(to-array-promise-proxy this.groupsPromise)
             selectedGroupChanged=(action this.datasetChangeGroup) }}
           {{this.datasetGroupErrMsg}}
         {{else}}
           {{this.dataset.groupId.name}}<!-- {{dataset.groupId.id}} -->
         {{/if}}
      </td></tr>
      {{#if this.dataset.groupId}}
        <tr><td>Group Owner</td><td>{{this.dataset.groupId.clientId.email}}
        </td></tr>
      {{/if}}
      {{/unless}}

    </tbody>
  </table>
  </div>


  <div class="metaeditor-panel">

    <div style="margin-top:0.8ex"><div class="col-md-5">apiHost</div><div class="col-md-6">{{this.apiHost}}</div></div>


    <div class="meta-row" style="z-index:10; padding-top: 4ex;">
      <div class="col-md-5">
        <label>Meta</label>
      </div>
      <div class="col-md-7" style="display: inline-block;">
        <span>View</span>
        {{x-toggle
        theme='light'
        value=this.toggleShowJsonViewer
        style="display: inline-block;"
        onToggle=(action (mut this.toggleShowJsonViewer)) }}

        {{#elem/button-base
          icon="pencil"
          classColour="info"
          onClick=(action "toggleEditor")
          disabled=(not this.ownedByMe)}}
          Edit
        {{/elem/button-base}}

      </div>
    </div>


    {{#unless this.editorVisible}}
      {{!-- see comment toggleShowJsonViewer() --}}
      {{#if this.toggleShowJsonViewer}}
        {{!-- earlier versions of json-editor supported a param disabled=true. This is now achieved via onEditable which returns false.
              mode='view' also works.   --}}
        {{json-editor json=this.datasetMeta name='Metadata' onEditable=(action this.onEditable) search=false}}
      {{/if}}
    {{/unless}}

  </div>
  <div>
    {{#if this.editorVisible}}
      {{#ember-modal-dialog
        onClose=(action "toggleEditor")
        targetAttachment="center"
        translucentOverlay=true
      }}
      {{!-- Glavin001/ember-jsoneditor does not use attrs.onChange --}}
        <div class="metaeditor-modal">{{json-editor json=this.currentMeta onChange=(action this.mutateJson)}}</div>
        <div>
          <button
            type="button"
            class="btn btn-info"
            {{action "saveJSONToDB" preventDefault=false}}>
            {{elem/icon-base name="floppy-disk"}} &nbsp;Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            {{action "toggleEditor" preventDefault=false}}>
            Cancel
          </button>
        </div>
      {{/ember-modal-dialog}}
    {{/if}}
  </div>

  {{panel/dataset-vcf-status dataset=this.dataset}}

  <div>{{this.datasetFeatureCount}}</div>

{{else}}
  <h4>No Dataset Selected</h4>

  <div class="well">
    Select a dataset from the {{elem/icon-base name='folder-open'}} &nbsp;Explorer panel.
  </div>
{{/if}}
