{{#if dataset}}
  <h4 class="truncate" style="max-width:300px" title={{dataset.name}}>{{dataset.name}}</h4>

  <table class="table table-striped">
    <tbody>
      <tr><td>Type</td><td>{{dataset.type}}</td></tr>
      <tr><td>Created</td><td>{{formatDate dataset.createdAt}}</td></tr>
      <tr><td>Last Updated</td><td>{{formatDate dataset.updatedAt}}</td></tr>
      <tr><td>Public</td><td>{{dataset.public}}</td></tr>
      <tr><td>Read Only</td><td>{{dataset.readOnly}}</td></tr>
      <tr><td>Parent</td><td>{{dataset.parent.id}}</td></tr>
      {{#each-in dataset.meta as |key value|}}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {{/each-in}}

    </tbody>
  </table>
  <div style="padding-bottom:10px">
    {{#elem/button-base
      icon="pencil"
      classColour="info"
      onClick=(action "toggleEditor")
      disabled=(not ownedByMe)}}
      Edit Metadata
    {{/elem/button-base}}
  </div>
  <div class="metaeditor-panel">
    {{json-editor json=datasetMeta name='Metadata' disabled=true search=false}}
  </div>
  <div>
    {{#if editorVisible}}
      {{#modal-dialog
        onClose=(action "toggleEditor")
        targetAttachment="center"
        translucentOverlay=true
      }}
        <div class="metaeditor-modal">{{json-editor json=datasetMeta onChange=(action "mutateJson")}}</div>
        <div>
          <button
            type="button"
            class="btn btn-info"
            {{action "saveJSONToDB" preventDefault=false}}>
            {{elem/icon-base name="floppy-disk"}} &nbsp;Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            {{action "toggleEditor" preventDefault=false}}>
            Cancel
          </button>
        </div>
      {{/modal-dialog}}
    {{/if}}
  </div>
{{else}}
  <h4>No Dataset Selected</h4>

  <div class="well">
    Select a dataset from the {{elem/icon-base name='folder-open'}} &nbsp;Explorer panel.
  </div>
{{/if}}
