{{panel/manage-block-meta
  entry=interval}}

<h5> {{elem/icon-base name="arrow-up"}}
  <span class="label label-info">
    {{elem/icon-base name="asterisk"}} {{interval.features.[0]}} {{interval.positions.[0]}}
  </span>
</h5>
<h5> {{elem/icon-base name="arrow-down"}}
  <span class="label label-info">
    {{elem/icon-base name="asterisk"}} {{interval.features.[1]}} {{interval.positions.[1]}}
  </span>
</h5>
