{{#if this.urlOptions.dataSources}}
  {{form/api-servers
    addNewDatasource=(action 'addNewDatasource')}}
{{/if}}

{{#elem/panel-container state="primary" as |panelContainer|}}
  {{#elem/panel-heading icon="folder-open" panelContainer=panelContainer}}
    Datasets
    {{elem/button-refresh
      onClick=(action 'refreshAvailable')}}
      <a class="panel-heading-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Explore-tab/"><i class="glyphicon glyphicon-question-sign"></i></a>
  {{/elem/panel-heading}}

  {{#if panelContainer.showComponent}}

    <li class="list-group-item">
      {{#if this.urlOptions.historyFilters}}

      <label style="display:inline"></label>
      {{#radio-button
        value='Normal'
        groupValue=this.controlOptions.historyView
        changed=(action this.historyViewChanged preventDefault=false)
      }}
      <span>All</span>
      {{/radio-button}}
       &nbsp;&nbsp;

      {{#radio-button
        value='Recent'
        groupValue=this.controlOptions.historyView
        changed=(action this.historyViewChanged preventDefault=false)
      }}
        <span>Recent</span>
      {{/radio-button}}
       &nbsp;&nbsp;

       {{#radio-button
         value='Favourites'
         groupValue=this.controlOptions.historyView
         changed=(action this.historyViewChanged preventDefault=false)
       }}
       <span>Favourites</span>
       {{/radio-button}}
       &nbsp;&nbsp;

       {{#radio-button
         value='Viewed'
         groupValue=this.controlOptions.historyView
         changed=(action this.historyViewChanged preventDefault=false)
       }}
       <span>Viewed</span>
       {{/radio-button}}

      <span style="display: inline-block;">
        <input
          type="checkbox"
          name="this.controlOptions.historyBlocks"
          checked={{this.controlOptions.historyBlocks}}
          oninput={{action this.historyBlocksChanged value='target.checked' preventDefault=false}}
          id="checkbox-historyBlocks"
        />
        <label for="checkbox-historyBlocks">Viewed Chromosomes</label>
      </span>

      {{/if}}

      <span style="margin-left : 10px; display: inline-block;">
        <label for="select-group-as-filter">Group</label>
        <span id="select-group-as-filter">
          {{form/select-group
            selectedValue=this.groupFilterSelected
            values=(to-array-promise-proxy this.groupsForFilter)
            selectedGroupChanged=(action this.selectedGroupChanged) }}
           </span>
      </span>

      <span style="margin-left : 10px; display: inline-block;">
        <label for="select-crop-as-filter">Crop</label>
        <span id="select-crop-as-filter">
          {{form/select-group
            selectedValue=this.cropFilterSelected
            values=(to-array-promise-proxy this.cropsForFilter)
            selectedGroupChanged=(action this.selectedCropChanged) }}
           </span>
      </span>

      <span style="margin-left : 10px; display: inline-block;">
        <label for="select-category-as-filter">Category</label>
        <span id="select-category-as-filter">
          {{form/select-group
            selectedValue=this.categoryFilterSelected
            values=this.categoriesForFilter
            selectedGroupChanged=(action this.selectedCategoryChanged) }}
           </span>
      </span>


    </li>

  {{#if this.urlOptions.naturalSearch}}
  <div class="textInput" style="margin-left : 1em" >
    <i class="glyphicon glyphicon-filter"></i>
    {{input
      id="naturalQuery"
      type="search"
      value=this.naturalQuery
      enter=(action this.naturalQueryChanged)
      placeholder="Natural language search"
    }}
    <BsButton @type="info" @onClick={{action (mut this.enableNaturalSearchDialog) true}}>Dialog</BsButton>
    <BsButton @type="info" @onClick={{action (mut this.enableDatasetGraphDialog) true}}>Graph</BsButton>
  </div>
  <div>
    {{#each this.naturalQueryResult as |datasetId|}}
      <div>{{datasetId}}</div>
    {{/each}}
  </div>
  {{/if}}

  <div class="textInput">
    <i class="glyphicon glyphicon-filter"></i>
    {{!-- there is no suitable autocomplete, so may change to  =off --}}
    <input
      id="nameFilter"
      type="search"
      value={{this.nameFilter}}
      oninput={{action this.nameFilterChanged value="target.value"}}
      placeholder="Search All Datasets"
      autocomplete="dataset-name"
      />
  </div>

  <a class="help-icon margin-left-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Search-and-filter-datasets/"><i class="glyphicon glyphicon-question-sign"></i></a>

  <div class="button-row">
    <label>Case</label>
    <span class="longer">
    <XToggle
      @onLabel='insensitve'
      @offLabel='sensitve'
      @theme='flip'
      @value={{this.caseInsensitive}}
      @onToggle={{fn (mut this.caseInsensitive)}}
    />
    </span>
    <label>Match</label>
    <XToggle
      @onLabel='all'
      @offLabel='any'
      @theme='flip'
      @value={{this.searchFilterAll}}
      @onToggle={{fn (mut this.searchFilterAll)}}
    />
  </div>

  {{#if this.urlOptions.filterGroups}}
    {{panel/filter-groups data=this.filterGroups changed=(action 'filterGroupsChanged') }}
  {{/if}}


  {{#if this.availableMapsTask.isRunning}}
    <div class="panel-body">
      <div class="well">
        Loading resources. 
      </div>
    </div>
  {{else if this.dataEmpty}}
    <div class="panel-body">
      <div class="well">
        No datasets found!
      </div>
    </div>
  {{/if}}

  <div> {{!-- start of tabs and tree  --}}

  {{#if this.apiServers.multipleServersCP}}
  <BsTab @customTabs={{true}} @fade={{false}} as |tab|>
    <BsNav class="api-server-tabs"  @type="tabs" as |nav|>
      {{#each-in this.servers as |apiServerName apiServer| }}
        {{panel/api-server-tab tab=tab nav=nav apiServerName=apiServerName apiServer=apiServer serverTabSelected=(action "serverTabSelected")}}
      {{/each-in}}
    </BsNav>
  </BsTab>
  {{/if}}


  <BsTab @customTabs={{true}} @fade={{false}} @onChange={{action this.onChangeTab}} @activeId={{this.activeId}} as |tab|>
    <BsNav @type="tabs"  class="li-active-extra counts" as |nav|>

      {{#if this.blockFeatureTraits.length}}
        {{#let 'Trait' as |tabTypeName|}}
          {{#let (compute (action "datasetTypeTabId" tabTypeName)) as |tabId|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
              <div>{{this.blockFeatureTraitsTreeKeyLength}}</div>
            </nav.item>
          {{/let}}
        {{/let}}
      {{/if}}
        
      {{#if this.blockFeatureOntologies.length}}
        {{#let 'Ontology' as |tabTypeName|}}
          {{#let (compute (action "datasetTypeTabId" tabTypeName)) as |tabId|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
              <div>{{this.ontologiesTreeKeyLength}}</div>
            </nav.item>
          {{/let}}
        {{/let}}
      {{/if}}
        

      {{#unless this.enable_parentBeforeFilter}}
        {{#each-in this.dataTypedTreeFG as |tabTypeName tabData|}}
          {{!-- log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) --}}
          {{#let (compute (action "datasetTypeTabId" tabTypeName)) as |tabId|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
              <div>{{compute (action 'keysLength' tabData)}}</div>
            </nav.item>
          {{/let}}
        {{/each-in}}
      {{else}}
        {{#each-in this.dataParentTypedFGTree as |tabTypeName tabData|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId (concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2')}}><a href={{concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2'}} role="tab" onclick={{action tab.select (concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2') }}>{{tabTypeName}}</a>
              <div>{{compute (action 'keysLength' tabData)}}</div>
            </nav.item>
        {{/each-in}}
      {{/unless}}


      {{#if this.enable_datatypeFromFamily}}

        <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-parent"}}><a href="#tab-explorer-parent" role="tab" onclick={{action tab.select "tab-explorer-parent"}}>Children</a>
        </nav.item>
        <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-byDataset"}}><a href="#tab-explorer-byDataset" role="tab" onclick={{action tab.select "tab-explorer-byDataset"}}>Unrelated</a>
          <div>{{this.dataWithoutParent.length}}</div>
        </nav.item>
        <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-references"}}><a href="#tab-explorer-references" role="tab" onclick={{action tab.select "tab-explorer-references"}}>Parents</a>
          <div>{{this.parents.length}}</div>
        </nav.item>

      {{/if}}
      <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-datasets"}}><a href="#tab-explorer-datasets" role="tab" onclick={{action tab.select "tab-explorer-datasets"}}>All Datasets</a>
        <div>{{this.data.length}}</div>
      </nav.item>

      <nav.item>
        <a class="help-icon" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Adding-and-removing-datasets-from-the-view/"><i class="glyphicon glyphicon-question-sign"></i></a>
      </nav.item>

    </BsNav>

    <div class="tab-content">

      {{#if this.blockFeatureTraits.length}}
          {{record/entry-tab 
            tab=tab
            name='Trait'
            values=this.blockFeatureTraitsTree.content
            levelMeta=this.levelMeta
            controlOptions=this.controlOptions
            loadBlock=this.loadBlock
            selectBlock=this.selectBlock
            selectedBlock=this.selectedBlock
            selectDataset=this.selectDataset}}
      {{/if}}

      <!-- {{ontologiesTree.content}} -->
      {{#if this.blockFeatureOntologies.length}}
        {{#if this.ontologiesTree.isFulfilled}}
          {{#record/entry-tab 
            tab=tab
            name='Ontology'
            values=this.ontologiesTree.content
            levelMeta=this.levelMeta
            controlOptions=this.controlOptions
            loadBlock=this.loadBlock
            selectBlock=this.selectBlock
            selectedBlock=this.selectedBlock
            selectDataset=this.selectDataset
            selectExpander=(action this.selectOntologyNode) }}

            <span style="display: inline-block; margin-left: 3em;">
              <input
                type="checkbox"
                name="this.controlOptions.showHierarchy"
                checked={{this.controlOptions.showHierarchy}}
                oninput={{action this.showHierarchyChanged value='target.checked' preventDefault=false}}
                id="checkbox-showHierarchy"
              />
              <label for="checkbox-showHierarchy"><i class="glyphicon glyphicon-tree-conifer"></i></label>
            </span>

          {{/record/entry-tab}}
        {{else}}
          <tab.pane @id='tab-explorer-Ontology' id='tab-explorer-Ontology' @title='Ontology'>
            <div>Requesting the Ontology Tree ...</div>
          </tab.pane>
        {{/if}}
      {{/if}}


      {{#unless this.enable_parentBeforeFilter}}
        {{!-- log 'dataTypedTreeFG' dataTypedTreeFG --}}
        {{#each-in this.dataTypedTreeFG as |tabTypeName tabData|}}
          {{!-- log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) --}}
          {{record/entry-tab 
            tab=tab
            name=tabTypeName
            values=tabData
            levelMeta=this.levelMeta
            controlOptions=this.controlOptions
            loadBlock=this.loadBlock
            selectBlock=this.selectBlock
            selectedBlock=this.selectedBlock
            selectDataset=this.selectDataset}}
        {{/each-in}}
      {{else}}
        {{!-- log 'dataParentTypedFGTree' dataParentTypedFGTree --}}
        {{#each-in this.dataParentTypedFGTree as |tabTypeName tabData|}}
          {{!-- log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) --}}
          {{record/entry-tab 
            tab=tab
            name=(concat tabTypeName '2')
            values=tabData
            levelMeta=this.levelMeta
            controlOptions=this.controlOptions
            loadBlock=this.loadBlock
            selectBlock=this.selectBlock
            selectedBlock=this.selectedBlock
            selectDataset=this.selectDataset}}
        {{/each-in}}
      {{/unless}}

      {{#if this.enable_datatypeFromFamily}}

        <tab.pane @id="tab-explorer-parent" id="tab-explorer-parent" @title="by Parent">
          <ul class="list-group borderless">
            {{record/entry-values
              values=this.dataTree
              levelMeta=this.levelMeta
              controlOptions=this.controlOptions
              loadBlock=this.loadBlock
              selectBlock=this.selectBlock
              selectedBlock=this.selectedBlock
              selectDataset=this.selectDataset
            }}
          </ul>
        </tab.pane>

        <tab.pane @id="tab-explorer-byDataset" id="tab-explorer-byDataset" @title="by Dataset">
          {{record/entry-datasets
            loadBlock=this.loadBlock
            selectBlock=this.selectBlock
            selectedBlock=this.selectedBlock
            selectDataset=this.selectDataset
            selectedDataset=this.selectedDataset
            data=this.dataWithoutParent}}
        </tab.pane>

        <tab.pane @id="tab-explorer-references" id="tab-explorer-references" @title="References">
          {{record/entry-datasets
            loadBlock=this.loadBlock
            selectBlock=this.selectBlock
            selectedBlock=this.selectedBlock
            selectDataset=this.selectDataset
            selectedDataset=this.selectedDataset
            data=this.parents}}
        </tab.pane>

      {{/if}}

      <tab.pane @id="tab-explorer-datasets" id="tab-explorer-datasets" @title="Datasets">

        <ul class="list-group borderless">

          {{!-- For server-specific content selected by the above tab : add a
             <div class="tab-content"> with each-in as above, and :
             <div id={{concat "tab-" apiServer.tabId}} role="tabpanel" class="tab-pane fade"> ... </div>
             (e.g. see commit d86e9d6).
             Instead of maintaining each server's content within a distinct tab-pane within
             tab-content,  the data content in the following is switched by the above tab.
             --}}

          <li 
              class="list-group-item list-group-item-info"
              style="margin-top: 4ex;" >
              {{!-- margin-top provides room for the pull-down of the last dataset above. --}}
            {{elem/icon-base name='cloud-upload'}} &nbsp;Upload new data
            <span class="pull-right">
              {{elem/button-base
                classSize='xs'
                classColour='success'
                icon='plus'
                onClick=(action "changeTab" "upload")}}
            </span>
          </li>
  
          {{#each this.dataPre as |dataset|}}
            {{record/entry-dataset
              filter=this.filter
              controlOptions=this.controlOptions
              entry=dataset
              selectedBlock=this.selectedBlock
              selectBlock=this.selectBlock
              onDelete=this.onDelete
              refreshDatasets=this.refreshDatasets
              loadBlock=this.loadBlock
              selectedDataset=this.selectedDataset
              selectDataset=this.selectDataset}}
          {{/each}}
        </ul>

      </tab.pane>

    </div>      {{!-- end of class="tab-content" --}}

    {{did-insert (action this.initialSelected) tab }}

  </BsTab>
  </div>         {{!-- end of tabs and tree  --}}

  {{/if}} {{!-- showComponent --}}

{{/elem/panel-container}}

{{panel/select-parent block=this.blockWithoutParentOnPrimary loadBlock=this.loadBlock}}

{{panel/synonomous-parents blocks=this.viewedSynonomousReferenceBlocks}}

{{#if this.enableShow}}
  {{new-datasource-modal closeNewDatasourceModal=(action 'closeNewDatasourceModal')}} 
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.enableNaturalSearchDialog}}
  <Form::NaturalSearch
    @loadBlock={{action this.actions.loadBlock}}
    @close={{action (mut this.enableNaturalSearchDialog) false}} />
{{/if}}

{{!-- --------------------------------------------------------------------- --}}

{{#if this.enableDatasetGraphDialog}}
  <Form::DatasetGraph
    @datasetEmbeddings={{this.datasetEmbeddings}}
    @close={{action (mut this.enableDatasetGraphDialog) false}} />
{{/if}}

{{!-- --------------------------------------------------------------------- --}}
