{{#elem/panel-container state="primary"}}
  {{#elem/panel-heading icon="filter"}}
    Filters
  {{/elem/panel-heading}}
  <div class="panel-body">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      {{#each-in filterOptions as |key value|}}
        <div class="btn-group" role="group">
          <button
              type="button"
              class="btn {{if (compare key '===' filter) 'btn-info' 'btn-default'}}"
              {{action "changeFilter" key preventDefault=false}}>
            {{elem/icon-base name=value.icon}} &nbsp;{{value.formal}}
          </button>
        </div>
      {{/each-in}}
    </div>
    {{panel/filter-groups data=filterGroups changed=(action 'filterGroupsChanged') }}
  </div>
{{/elem/panel-container}}

{{#elem/panel-container state="primary"}}
  {{#elem/panel-heading icon="folder-open"}}
    Datasets
    {{elem/button-refresh
      onClick=(action 'refreshAvailable')}}
  {{/elem/panel-heading}}
  {{#if model.availableMapsTask.isRunning}}
    <div class="panel-body">
      <div class="well">
        Loading resources. 
      </div>
    </div>
  {{else if dataEmpty}}
    <div class="panel-body">
      <div class="well">
        No datasets found!
      </div>
    </div>
  {{/if}}
  <div>
    <ul class="nav nav-tabs li-active-extra">
      {{#each-in dataTypedTreeFG as |tabTypeName tabData|}}
        {{log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) }}
        <li class="active-detail">
	  <a data-toggle="tab" href={{concat "#" (compute (action "datasetTypeTabId" tabTypeName))}}>{{tabTypeName}}</a>
	  <div>{{compute (action 'keysLength' tabData)}}</div>
        </li>
      {{/each-in}}
      {{#each-in dataParentTypedFGTree as |tabTypeName tabData|}}
        <li class="active-detail">
	  <a data-toggle="tab" href={{concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2'}}>{{tabTypeName}}</a>
	  <div>{{compute (action 'keysLength' tabData)}}</div>
        </li>
      {{/each-in}}


      {{#if enable_datatypeFromFamily}}

        <li class="active">
	  <a data-toggle="tab" href="#tab-explorer-parent">Children</a>
        </li>
        <li class="active-detail">
	  <a data-toggle="tab" href="#tab-explorer-byDataset">Unrelated</a>
	  <div>{{dataWithoutParent.length}}</div>
        </li>
        <li class="active-detail">
	  <a data-toggle="tab" href="#tab-explorer-references">Parents</a>
	  <div>{{parents.length}}</div>
        </li>

      {{/if}}

      <li class="active-detail active">
	<a data-toggle="tab" href="#tab-explorer-datasets">All Datasets</a>
	<div>{{data.length}}</div>
      </li>
    </ul>

    <div class="tab-content">

      {{log 'dataTypedTreeFG' dataTypedTreeFG}}
      {{#each-in dataTypedTreeFG as |tabTypeName tabData|}}
        {{log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) }}
        {{record/entry-tab 
          name=tabTypeName
          values=tabData
          levelMeta=levelMeta
          loadBlock="loadBlock"
          selectBlock="selectBlock"
          selectedBlock=selectedBlock
          selectDataset="selectDataset"}}
      {{/each-in}}
      {{log 'dataParentTypedFGTree' dataParentTypedFGTree}}
      {{#each-in dataParentTypedFGTree as |tabTypeName tabData|}}
        {{log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) }}
        {{record/entry-tab 
          name=(concat tabTypeName '2')
          values=tabData
          levelMeta=levelMeta
          loadBlock="loadBlock"
          selectBlock="selectBlock"
          selectedBlock=selectedBlock
          selectDataset="selectDataset"}}
      {{/each-in}}

      {{#if enable_datatypeFromFamily}}

        <div id="tab-explorer-parent" class="tab-pane fade in active">
	  <ul class="list-group borderless">
	    {{record/entry-values values=dataTree levelMeta=levelMeta
              loadBlock="loadBlock"
              selectBlock="selectBlock"
              selectedBlock=selectedBlock
              selectDataset="selectDataset"}}
          </ul>
        </div>

        <div id="tab-explorer-byDataset" class="tab-pane fade">
          {{record/entry-datasets
            loadBlock="loadBlock"
            selectBlock=(action 'selectBlock')
            selectedBlock=selectedBlock
            selectDataset=(action 'selectDataset')
            selectedDataset=selectedDataset
            data=dataWithoutParent}}
        </div>

        <div id="tab-explorer-references" class="tab-pane fade">
          {{record/entry-datasets
            loadBlock="loadBlock"
            selectBlock=(action 'selectBlock')
            selectedBlock=selectedBlock
            selectDataset=(action 'selectDataset')
            selectedDataset=selectedDataset
            data=parents}}
        </div>

      {{/if}}

      <div id="tab-explorer-datasets" class="tab-pane fade in active">

	<ul class="list-group borderless">
	  
	  {{#each dataPre as |dataset|}}
	    {{record/entry-dataset
              filter=filter
              entry=dataset
              selectedBlock=selectedBlock
              selectBlock="selectBlock"
              deleteBlock="deleteBlock"
              onDelete="onDelete"
              loadBlock="loadBlock"
              selectedDataset=selectedDataset
              selectDataset="selectDataset"}}
	  {{/each}}
	  <li 
	      class="list-group-item list-group-item-info">
	    {{elem/icon-base name='cloud-upload'}} &nbsp;Upload new data
	    <span class="pull-right">
              {{elem/button-base
		classSize='xs'
		classColour='success'
		icon='plus'
		onClick=(action "changeTab" "upload")}}
	    </span>
	  </li>
	</ul>

      </div>
    </div>

  </div>

{{/elem/panel-container}}
