{{#elem/panel-container state="primary"}}
    {{#elem/panel-heading icon="globe"}}
        Displayed Data
        {{#if hasDisplayData}}
        <span class="pull-right">
          {{elem/button-base
            classSize='xs'
            classColour='danger'
            icon='minus'
            onClick=(action 'removeDisplayData')}}
        </span>
        {{/if}}
    {{/elem/panel-heading}}
    <ul id="display-blocks" class="list-group">
        {{#each displayData as |block|}}
        <li 
            class="list-group-item {{if (compare block.id '===' selectedBlock.id) 'list-group-item-warning'}}"
            data-chr-id={{block.id}}
            {{action "selectBlock" block on="click"}}>
            <span title="{{block.datasetId.name}} {{block.name}}" class="truncate" style="max-width:260px">
              {{block.datasetId.name}} {{block.name}}
            </span>
            {{elem/icon-owner state=block.owner}} {{elem/icon-visible state=block.public}}

            <span class="pull-right">
            {{elem/button-base
                classSize='xs'
                classColour='danger'
                icon='minus'
                onClick=(action "removeBlock" block)}}
            </span>

            <p class="list-group-item-text">
            <span class="label label-info">
                {{elem/icon-base name="asterisk"}} &nbsp;{{block.features.length}}
            </span> &nbsp;
            <span class="label label-info">
                {{elem/icon-base name="tag"}} &nbsp;{{block.annotations.length}}
            </span> &nbsp;
            <span class="label label-info">
                {{elem/icon-base name="resize-vertical"}} &nbsp;{{block.intervals.length}}
            </span>
            </p>
        </li>
        {{/each}}
        <li 
        class="list-group-item list-group-item-info">
        Add data from the {{elem/icon-base name='folder-open'}} &nbsp;Explorer tab
        <span class="pull-right">
            {{elem/button-base
            classSize='xs'
            classColour='success'
            icon='plus'
            onClick=(action "changeTab" "explorer")}}
        </span>
        </li>
    </ul>
{{/elem/panel-container}}


{{#if isMapview}}
{{#elem/panel-container state="primary"}}
  {{#elem/panel-heading icon="wrench"}}
    Chart Options
  {{/elem/panel-heading}}
  <ul class="list-group chart-options">
    <li class="list-group-item">
      {{input type="checkbox" checked=isShowUnique class="toggle"}}
      <label {{action "toggleShowUnique" on="click"}}>Show Unique</label>
    </li>
    <li class="list-group-item">
      {{input type="checkbox" checked=pathColourScale class="toggle"}}
      <label {{action "togglePathColourScale" on="click"}}>Path Colour Scale</label>
    </li>
    <li class="list-group-item">
      {{input type="checkbox" checked=showScaffoldMarkers class="toggle"}}
      <label>Show Scaffold Features</label>
    </li>
    <li class="list-group-item">
      {{input type="checkbox" checked=showAsymmetricAliases class="toggle"}}
      <label>Show Asymmetric Aliases</label>
    </li>
  </ul>

  <div class="panel-body">
    <div class="drawing-controls flowButtons vspace1">
      {{draw/flow-controls viewOptions=(hash isShowUnique pathColourScale showScaffoldMarkers showAsymmetricAliases) modelParamOptions=model.params.options }}
    </div>
  </div>
{{/elem/panel-container}}

{{panel/view-controls controls=controls drawActions=this}}

{{/if}}
