{{#elem-panel}}
  <div class="panel panel-primary">
    <div class="panel-heading">Filters {{elem-icon name="filter"}}</div>
      <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          {{#each-in filterOptions as |key value|}}
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn {{if (compare key '===' filter) 'btn-info' 'btn-default'}}"
                {{action "changeFilter" key preventDefault=false}}>
                {{value.formal}}
                {{elem-icon name=value.icon}}
              </button>
            </div>
          {{/each-in}}
        </div>
      </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Available Maps {{elem-icon name="globe"}} 
      <span class="pull-right">
        {{elem-button
          classSize='xs'
          classColour='default'
          icon='refresh'
          onClick=(action 'refreshAvailable')}}
      </span>  
    </div>
      {{#if model.mapsDerived.isPending}}
        <div class="panel-body">
          <div class="well">
            Loading map {{elem-icon name="globe"}} resources. 
          </div>
        </div>
      {{else if dataEmpty}}
        <div class="panel-body">
          <div class="well">
            No datasets found!
          </div>
        </div>
      {{/if}}
    <ul class="list-group">
      {{#each data as |geneticmap|}}
        {{panel/manage-explorer-geneticmap
          filter=filter
          geneticmap=geneticmap
          selectedChrom=selectedChrom
          selectChrom="selectChrom"
          deleteChrom="deleteChrom"}}
      {{/each}}
    </ul>
  </div>
{{/elem-panel}}