{{form/api-servers
  addNewDatasource=(action 'addNewDatasource')}}

{{#elem/panel-container state="primary" as |panelContainer|}}
  {{#elem/panel-heading icon="folder-open" panelContainer=panelContainer}}
    Datasets
    {{elem/button-refresh
      onClick=(action 'refreshAvailable')}}
  {{/elem/panel-heading}}

  {{#if panelContainer.showComponent}}

    <li class="list-group-item">
      <label style="display:inline"></label>
      {{#radio-button value='Normal' groupValue=this.controlOptions.historyView
        changed=(action historyViewChanged preventDefault=false) }}
      <span>All</span>
      {{/radio-button}}
       &nbsp;&nbsp;

      {{#radio-button value='Recent' groupValue=this.controlOptions.historyView
        changed=(action historyViewChanged preventDefault=false) }}
      <span>Recent</span>
      {{/radio-button}}
       &nbsp;&nbsp;

      {{#radio-button value='Favourites' groupValue=this.controlOptions.historyView
        changed=(action historyViewChanged preventDefault=false) }}
      <span>Favourites</span>
      {{/radio-button}}
       &nbsp;&nbsp;

      {{#radio-button value='Viewed' groupValue=this.controlOptions.historyView
        changed=(action historyViewChanged preventDefault=false) }}
      <span>Viewed</span>
      {{/radio-button}}

      <span style="display: inline-block;">
        {{input type="checkbox" name="this.controlOptions.historyBlocks" checked=this.controlOptions.historyBlocks
          input=(action historyBlocksChanged preventDefault=false)
          id="checkbox-historyBlocks" }}
        <label for="checkbox-historyBlocks">Viewed Chromosomes</label>
      </span>

    </li>


  <div class="textInput">
    <i class="glyphicon glyphicon-filter"></i>
    {{!-- there is no suitable autocomplete, so may change to  =off --}}
    {{input id="nameFilter" type="search" value=nameFilter placeholder="Search All Datasets" autocomplete="dataset-name" }}
  </div>
  <div class="button-row">
    <label>Case</label>
    <span class="longer">
    <XToggle
      @onLabel='insensitve'
      @offLabel='sensitve'
      @theme='flip'
      @value={{this.caseInsensitive}}
      @onToggle={{fn (mut this.caseInsensitive)}}
    />
    </span>
    <label>Match</label>
    <XToggle
      @onLabel='all'
      @offLabel='any'
      @theme='flip'
      @value={{this.searchFilterAll}}
      @onToggle={{fn (mut this.searchFilterAll)}}
    />
  </div>

  {{#if urlOptions.filterGroups}}
    {{panel/filter-groups data=filterGroups changed=(action 'filterGroupsChanged') }}
  {{/if}}


  {{#if availableMapsTask.isRunning}}
    <div class="panel-body">
      <div class="well">
        Loading resources. 
      </div>
    </div>
  {{else if dataEmpty}}
    <div class="panel-body">
      <div class="well">
        No datasets found!
      </div>
    </div>
  {{/if}}

  <div> {{!-- start of tabs and tree  --}}

  <BsTab @customTabs={{true}} as |tab|>
    <BsNav class="api-server-tabs"  @type="tabs" as |nav|>
      {{#each-in servers as |apiServerName apiServer| }}
        {{panel/api-server-tab tab=tab nav=nav apiServerName=apiServerName apiServer=apiServer serverTabSelected=(action "serverTabSelected")}}
      {{/each-in}}
    </BsNav>
  </BsTab>


  <BsTab @customTabs={{true}} @onChange={{action this.onChangeTab}} @activeId={{this.activeId}} as |tab|>
    <BsNav @type="tabs"  class="li-active-extra counts" as |nav|>

      {{#if blockFeatureTraits.length}}
        {{#let 'Trait' as |tabTypeName|}}
          {{#let (compute (action "datasetTypeTabId" tabTypeName)) as |tabId|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
              <div>{{blockFeatureTraitsTreeKeyLength}}</div>
            </nav.item>
          {{/let}}
        {{/let}}
      {{/if}}
        
      {{#if blockFeatureOntologies.length}}
        {{#let 'Ontology' as |tabTypeName|}}
          {{#let (compute (action "datasetTypeTabId" tabTypeName)) as |tabId|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
              <div>{{ontologiesTreeKeyLength}}</div>
            </nav.item>
          {{/let}}
        {{/let}}
      {{/if}}
        

      {{#unless enable_parentBeforeFilter}}
        {{#each-in dataTypedTreeFG as |tabTypeName tabData|}}
          {{!-- log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) --}}
          {{#let (compute (action "datasetTypeTabId" tabTypeName)) as |tabId|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId tabId}}><a href={{concat "#" tabId}} role="tab" onclick={{action tab.select tabId}}>{{tabTypeName}}</a>
              <div>{{compute (action 'keysLength' tabData)}}</div>
            </nav.item>
          {{/let}}
        {{/each-in}}
      {{else}}
        {{#each-in dataParentTypedFGTree as |tabTypeName tabData|}}
            <nav.item class="active-detail" @active={{bs-eq tab.activeId (concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2')}}><a href={{concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2'}} role="tab" onclick={{action tab.select (concat "#" (compute (action "datasetTypeTabId" tabTypeName)) '2') }}>{{tabTypeName}}</a>
              <div>{{compute (action 'keysLength' tabData)}}</div>
            </nav.item>
        {{/each-in}}
      {{/unless}}


      {{#if enable_datatypeFromFamily}}

        <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-parent"}}><a href="#tab-explorer-parent" role="tab" onclick={{action tab.select "tab-explorer-parent"}}>Children</a>
        </nav.item>
        <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-byDataset"}}><a href="#tab-explorer-byDataset" role="tab" onclick={{action tab.select "tab-explorer-byDataset"}}>Unrelated</a>
          <div>{{dataWithoutParent.length}}</div>
        </nav.item>
        <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-references"}}><a href="#tab-explorer-references" role="tab" onclick={{action tab.select "tab-explorer-references"}}>Parents</a>
          <div>{{parents.length}}</div>
        </nav.item>

      {{/if}}
      <nav.item class="active-detail" @active={{bs-eq tab.activeId "tab-explorer-datasets"}}><a href="#tab-explorer-datasets" role="tab" onclick={{action tab.select "tab-explorer-datasets"}}>All Datasets</a>
        <div>{{data.length}}</div>
      </nav.item>

    </BsNav>

    <div class="tab-content">

      {{#if blockFeatureTraits.length}}
          {{record/entry-tab 
            tab=tab
            name='Trait'
            values=blockFeatureTraitsTree.content
            levelMeta=levelMeta
            controlOptions=controlOptions
            loadBlock="loadBlock"
            selectBlock="selectBlock"
            selectedBlock=selectedBlock
            selectDataset="selectDataset"}}
      {{/if}}

      <!-- {{ontologiesTree.content}} -->
      {{#if blockFeatureOntologies.length}}
        {{#if ontologiesTree.isFulfilled}}
          {{#record/entry-tab 
            tab=tab
            name='Ontology'
            values=ontologiesTree.content
            levelMeta=levelMeta
            controlOptions=controlOptions
            loadBlock="loadBlock"
            selectBlock="selectBlock"
            selectedBlock=selectedBlock
            selectDataset="selectDataset"
            selectExpander=(action this.selectOntologyNode) }}

            <span style="display: inline-block; margin-left: 3em;">
              {{input type="checkbox" name="this.controlOptions.showHierarchy" checked=this.controlOptions.showHierarchy
                input=(action showHierarchyChanged preventDefault=false)
                id="checkbox-showHierarchy" }}
              <label for="checkbox-showHierarchy"><i class="glyphicon glyphicon-tree-conifer"></i></label>
            </span>

          {{/record/entry-tab}}
        {{else}}
          {{#tab.pane id='tab-explorer-Ontology' title='Ontology'}}
            <div>Requesting the Ontology Tree ...</div>
          {{/tab.pane}}
        {{/if}}
      {{/if}}


      {{#unless enable_parentBeforeFilter}}
        {{!-- log 'dataTypedTreeFG' dataTypedTreeFG --}}
        {{#each-in dataTypedTreeFG as |tabTypeName tabData|}}
          {{!-- log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) --}}
          {{record/entry-tab 
            tab=tab
            name=tabTypeName
            values=tabData
            levelMeta=levelMeta
            controlOptions=controlOptions
            loadBlock="loadBlock"
            selectBlock="selectBlock"
            selectedBlock=selectedBlock
            selectDataset="selectDataset"}}
        {{/each-in}}
      {{else}}
        {{!-- log 'dataParentTypedFGTree' dataParentTypedFGTree --}}
        {{#each-in dataParentTypedFGTree as |tabTypeName tabData|}}
          {{!-- log 'tabTypeName' tabTypeName 'tabData' tabData (compute (action 'keysLength' tabData)) --}}
          {{record/entry-tab 
            tab=tab
            name=(concat tabTypeName '2')
            values=tabData
            levelMeta=levelMeta
            controlOptions=controlOptions
            loadBlock="loadBlock"
            selectBlock="selectBlock"
            selectedBlock=selectedBlock
            selectDataset="selectDataset"}}
        {{/each-in}}
      {{/unless}}

      {{#if enable_datatypeFromFamily}}

        <tab.pane @id="tab-explorer-parent" @title="by Parent">
          <ul class="list-group borderless">
            {{record/entry-values values=dataTree levelMeta=levelMeta
              controlOptions=controlOptions
              loadBlock="loadBlock"
              selectBlock="selectBlock"
              selectedBlock=selectedBlock
              selectDataset="selectDataset"}}
          </ul>
        </tab.pane>

        <tab.pane @id="tab-explorer-byDataset" @title="by Dataset">
          {{record/entry-datasets
            loadBlock="loadBlock"
            selectBlock=(action 'selectBlock')
            selectedBlock=selectedBlock
            selectDataset=(action 'selectDataset')
            selectedDataset=selectedDataset
            data=dataWithoutParent}}
        </tab.pane>

        <tab.pane @id="tab-explorer-references" @title="References">
          {{record/entry-datasets
            loadBlock="loadBlock"
            selectBlock=(action 'selectBlock')
            selectedBlock=selectedBlock
            selectDataset=(action 'selectDataset')
            selectedDataset=selectedDataset
            data=parents}}
        </tab.pane>

      {{/if}}

      <tab.pane @id="tab-explorer-datasets" @title="Datasets">

        <ul class="list-group borderless">

          {{!-- For server-specific content selected by the above tab : add a
             <div class="tab-content"> with each-in as above, and :
             <div id={{concat "tab-" apiServer.tabId}} role="tabpanel" class="tab-pane fade"> ... </div>
             (e.g. see commit d86e9d6).
             Instead of maintaining each server's content within a distinct tab-pane within
             tab-content,  the data content in the following is switched by the above tab.
             --}}

          <li 
              class="list-group-item list-group-item-info"
              style="margin-top: 4ex;" >
              {{!-- margin-top provides room for the pull-down of the last dataset above. --}}
            {{elem/icon-base name='cloud-upload'}} &nbsp;Upload new data
            <span class="pull-right">
              {{elem/button-base
                classSize='xs'
                classColour='success'
                icon='plus'
                onClick=(action "changeTab" "upload")}}
            </span>
          </li>
  
          {{#each dataPre as |dataset|}}
            {{record/entry-dataset
              filter=filter
              controlOptions=controlOptions
              entry=dataset
              selectedBlock=selectedBlock
              selectBlock="selectBlock"
              deleteBlock="deleteBlock"
              onDelete="onDelete"
              loadBlock="loadBlock"
              selectedDataset=selectedDataset
              selectDataset="selectDataset"}}
          {{/each}}
        </ul>

      </tab.pane>

    </div>      {{!-- end of class="tab-content" --}}

  </BsTab>
  </div>         {{!-- end of tabs and tree  --}}

  {{/if}} {{!-- showComponent --}}

{{/elem/panel-container}}

{{panel/select-parent block=blockWithoutParentOnPrimary loadBlock="loadBlock"}}

{{panel/synonomous-parents blocks=viewedSynonomousReferenceBlocks}}

{{#if enableShow}}
  {{new-datasource-modal closeNewDatasourceModal=(action 'closeNewDatasourceModal')}} 
{{/if}}
