<li class="list-group-item list-group-item-info">
  {{#if layout.active}}
    {{elem-button
      classSize='xs'
      classColour='default'
      icon='minus'
      onClick=(action "switchDataset" dataset)}}
  {{else}}
    {{elem-button
      classSize='xs'
      classColour='default'
      icon='plus'
      onClick=(action "switchDataset" dataset)}}
  {{/if}}
  {{dataset.name}}
  {{elem-icon-owner state=dataset.owner}}
  {{elem-icon-visible state=dataset.public}}
  <span class="badge">{{data.length}}</span>
</li>
{{#if layout.active}}
  {{#each data as |block|}}
    <li 
      class="list-group-item {{if (compare block.id '===' selectedBlock.id) 'list-group-item-warning'}}"
      {{action "selectBlock" block on="click"}}>
      {{block.name}}
      {{!-- {{elem-icon-owner state=block.owner}} --}}
      {{!-- {{elem-icon-visible state=block.public}} --}}
      <span class="pull-right">
        {{!-- {{elem-button
          classSize='xs'
          classColour='info'
          icon='info-sign'
          onClick=(action "selectBlock" block)}} --}}
        {{#if block.isSelected}}
          {{!-- {{#link-to "mapview" (query-params mapsToView=block.blockLink)}}
            {{elem-button
              classSize='xs'
              classColour='danger'
              icon='minus'}}
          {{/link-to}} --}}
        {{else}}
          {{#link-to "mapview" (query-params mapsToView=block.blockLink)}}
            {{elem-button
              classSize='xs'
              classColour='success'
              icon='plus'}}
          {{/link-to}}
        {{/if}}
      </span>
      <p class="list-group-item-text">
        {{#each block.tags as |tag|}}
          <span
            class="label label-default"
            style="display: inline-block">
            {{tag}}
          </span>
        {{/each}}
      </p>
    </li>
  {{/each}}
{{/if}}