<div class="col-sm-12">
  <h4>View</h4>

  {{#if model.mapsDerived.isPending}}
      Loading available maps ...
    {{else}}
    <p class="devel_trace" style="display:none;">
    content: {{model.mapsDerived.availableMaps}}
    </p>
    <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Add map
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      {{#each model.mapsDerived.availableMaps as |mymap|}}
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#">{{mymap.name}}</a>
          <ul class="dropdown-menu">
          {{#each mymap.chromosomes as |chr|}}
            {{#if chr.isSelected}}
              <li class="disabled">
                {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
                  {{chr.name}}
                {{/link-to}}
              </li>
            {{else}}
            <li class="enabled">
              {{#link-to "mapview" (query-params mapsToView=chr.chrLink)}}
                {{chr.name}}
              {{/link-to}}
            </li>
            {{/if}}
          {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{!-- {{#if selectedMaps}} --}}
    <div class="bordered control-panel" style="display: inline-block;">

      <div class="pull-left maps-aligned">
        Maps aligned :
        <ul id="maps_aligned">
          {{#each selectedMaps as |chr|}}
            <li data-chr-id={{chr.id}} {{action "selectChrom" chr on="click"}}>{{chr.map.name}} {{chr.name}}</li>
          {{/each}}
        </ul>
      </div>

      <div class="pull-left vspace1">
        <div class="drawing-controls vspace1">
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Display Toggles
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="sub-menu">
                {{input type="checkbox" checked=isShowUnique class="toggle"}}
                <label {{action "toggleShowUnique" on="doubleClick"}}>toggleShowUnique</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=pathColourScale class="toggle"}}
                <label {{action "togglePathColourScale" on="doubleClick"}}>togglePathColourScale</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=showScaffoldMarkers class="toggle"}}
                <label>toggleShowScaffoldMarkers</label>
              </li>
              <li class="sub-menu">
                {{input type="checkbox" checked=showAsymmetricAliases class="toggle"}}
                <label>toggleShowAsymmetricAliases</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

  </div>

  {{!-- {{else}}
    <div class="well">
      Select maps {{elem-icon name="globe"}} to populate the chart.
    </div>
  {{/if}} --}}
</div>