{{#if chr}}
<div class="col-sm-12">
  <h3>{{chr.map.name}} {{chr.name}}</h3>
  {{!-- <label>id</label><p>{{chr.id}}</p> --}}
  <p><span class="label label-default">ID: {{chr.id}}</span></p>
  <div class="row">
    <div class="col-sm-6">
      <label>Created</label><p>{{chr.createdAt}}</p>
    </div>
    <div class="col-sm-6">
      <label>Updated</label><p>{{chr.updatedAt}}</p>
    </div>
  </div>
  
  <label>Markers</label><p>{{chr.markers.length}}</p>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Tags
      {{elem-icon name='tags'}}
      <span class="pull-right">
        <span class="badge">{{chr.tags.length}}</span>
      </span>
    </div>
    {{#if chr.tags}}
      <ul class="list-group">
        {{!-- existing tags --}}
        {{#each chr.tags as |tag index|}}
          <li href="#" class="list-group-item">
            {{tag}}
            <span class="pull-right">
              <span
                class="btn btn-xs btn-danger"
                {{action 'removeTag' index}}>
                  {{elem-icon name="minus"}}
              </span>
            </span>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="panel-body">
        <div class="well">
          Add a tag {{elem-icon name='tag'}} to give context to your map {{elem-icon name='globe'}}. 
        </div>
      </div>
    {{/if}}
  </div>

  <div class="list-group">
    {{!-- new tag --}}
    <a href="#" class="list-group-item">
      <div class="input-group">
        {{input
          action="addTag"
          type="text"
          value=newTag
          class="form-control"
          placeholder="New tag..."}}
        <span class="input-group-btn">
          <button
            class="btn btn-success"
            type="button"
            disabled={{duplicateTag}}
            {{action "addTag"}}>
            {{elem-icon name="plus"}}
          </button>
        </span>
      </div>
    </a>
  </div>
</div>
{{else}}
<div class="col-sm-12">
    <h3>No Map Selected</h3>

    <div class="well">
      Click and drag {{elem-icon name="resize-vertical"}} along a map {{elem-icon name="globe"}}, or select {{elem-icon name='info-sign'}} a map from the view panel {{elem-icon name='eye-open'}}.
    </div>

</div>
{{/if}}
