{{#if chr}}
<div class="col-sm-12">
  <h4>
    {{chr.map.name}}
    {{#if geneticmap.owner}}
      {{!-- {{#if geneticmap.public}}
          {{#elem-button
            classSize='sm'
            classColour='primary'
            icon='eye-close'
            onClick=(action 'flipPublic' geneticmap)}} Make Private {{/elem-button}}
      {{else}}
        <span class="label label-default">{{elem-icon name='tags'}}</span>
        {{#elem-button
          classSize='sm'
          classColour='primary'
          icon='eye-open'
          onClick=(action 'flipPublic' geneticmap)}} Make Public {{/elem-button}}
      {{/if}} --}}
      {{#if geneticmap.public}}
      {{else}}
        {{elem-icon name='lock'}}
      {{/if}}
      <div class="btn-group btn-group-sm pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{elem-icon name='option-horizontal'}}
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          {{#if geneticmap.public}}
            <li><a href="#" {{action 'flipPublic' geneticmap}}>Make Private</a></li>
          {{else}}
            <li><a href="#" {{action 'flipPublic' geneticmap}}>Make Public</a></li>
          {{/if}}
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

    {{/if}}
  </h4>

  <h4>
    {{chr.name}}
    {{#if chr.owner}}
      {{#if chr.public}}
      {{else}}
        {{elem-icon name='lock'}}
      {{/if}}
      <div class="btn-group btn-group-sm pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{elem-icon name='option-horizontal'}}
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          {{#if chr.public}}
            <li><a href="#" {{action 'flipPublic' chr}}>Make Private</a></li>
          {{else}}
            <li><a href="#" {{action 'flipPublic' chr}}>Make Public</a></li>
          {{/if}}
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    {{/if}}
  </h4>
  {{!-- <p><span class="label label-default">ID: {{chr.id}}</span></p> --}}
  {{!-- {{geneticmap}}
  {{geneticmap.name}} --}}

  <label>Features</label><p>{{chr.markers.length}}</p>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Tags
      {{elem-icon name='tags'}}
      <span class="pull-right">
        <span class="badge">{{chr.tags.length}}</span>
      </span>
    </div>

      <ul class="list-group">
        {{!-- existing tags --}}
        {{#if chr.tags}}
          {{#each chr.tags as |tag index|}}
            <li href="#" class="list-group-item">
              {{tag}}
              <span class="pull-right">
                <span
                  class="btn btn-xs btn-danger"
                  {{action 'removeTag' index}}>
                    {{elem-icon name="minus"}}
                </span>
              </span>
            </li>
          {{/each}}
        {{else}}
          <li class="list-group-item list-group-item-default">
            <div class="well well-sm">
              Add a tag {{elem-icon name='tag'}} to give context to your map {{elem-icon name='globe'}}. 
            </div>
          </li>
        {{/if}}
        <li href="#" class="list-group-item">
          <div class="input-group">
            {{input
              enter="addTag"
              type="text"
              value=newTag
              class="form-control"
              placeholder="New tag..."}}
            <span class="input-group-btn">
              <button
                class="btn btn-success"
                type="button"
                disabled={{disableCreateTag}}
                {{action "addTag"}}>
                {{elem-icon name="plus"}}
              </button>
            </span>
          </div>
        </li>
      </ul>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Intervals
      {{elem-icon name='resize-vertical'}}
      <span class="pull-right">
        <span class="badge">{{chr.intervals.length}}</span>
      </span>
    </div>

      <ul class="list-group">
        {{#if chr.intervals}}
          {{#each chr.intervals as |interval index|}}
            {{panel/manage-map-interval
              interval=interval
              selectChrom="selectChrom"
              deleteChrom="deleteChrom"}}
          {{/each}}
        {{else}}
          <li class="list-group-item list-group-item-default">
            <div class="well well-sm">
              Add an interval {{elem-icon name='resize-vertical'}} to give context to your map {{elem-icon name='globe'}}. 
            </div>
          </li>
        {{/if}}
        {{#if intervalSelected}}
          <li href="#" class="list-group-item">
            <div class="input-group">
              {{input
                action="addTag"
                type="text"
                value=newInterval
                class="form-control"
                placeholder="New interval name..."}}
              <span class="input-group-btn">
                <button
                  class="btn btn-success"
                  type="button"
                  disabled={{disableCreateInterval}}
                  {{action "addTag"}}>
                  {{elem-icon name="plus"}}
                </button>
              </span>
            </div>
            <h5> {{elem-icon name="arrow-up"}}
              <span class="label label-info">
                {{elem-icon name="asterisk"}} {{intervalSelected.start.Marker}}
              </span>
            </h5>
            <h5> {{elem-icon name="arrow-down"}}
              <span class="label label-info">
                {{elem-icon name="asterisk"}} {{intervalSelected.end.Marker}}
              </span>
            </h5>
          </li>
        {{else}}
          <li class="list-group-item list-group-item-default">
            <div class="well well-sm">
              Click and drag up a map {{elem-icon name='globe'}} to select an interval {{elem-icon name='resize-vertical'}}. 
            </div>
          </li>
        {{/if}}
      </ul>
  </div>
</div>
{{else}}
<div class="col-sm-12">
    <h3>No Map Selected</h3>

    <div class="well">
      Click and drag {{elem-icon name="resize-vertical"}} along a map {{elem-icon name="globe"}}, or select {{elem-icon name='info-sign'}} a map from the view panel {{elem-icon name='eye-open'}}.
    </div>

</div>
{{/if}}
