{{#if this.visible}}

{{#elem/panel-container state="primary" as |panelContainer|}}
  {{#elem/panel-heading icon="filter" panelContainer=panelContainer}}
    Actions
  {{/elem/panel-heading}}
  {{#if panelContainer.showComponent}}

  <div class="panel-body">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">

      {{!-- based on elem/button-submit.hbs, could be factored --}}
      <div class="">
        <button type="submit" {{action "requestAllPaths"}} class="btn btn-info {{if this.loading 'disabled'}}">Get all brushed paths</button>
        <button class="btn btn-info">{{#component "ember-csv@file-anchor" data=this.csvExportData}} CSV Download{{/component}} </button>
        <br>
        <br>
      </div>

    </div>
  </div>

  {{/if}} {{!-- showComponent --}}
{{/elem/panel-container}}

<div class="optionControls">
  <div>Selected block : {{this.selectedBlock.datasetNameAndScope}}</div>

  <div>{{input type="checkbox" name="blockColumn" checked=this.blockColumn }} Show block columns</div>
  <div>{{input type="checkbox" name="showInterval" checked=this.showInterval }} Show Interval</div>
  {{#if this.devControls}}
    <div>{{input type="checkbox" name="showDomains" checked=this.showDomains }} Show Brushed Regions</div>
    <div>{{input type="checkbox" name="showCounts" checked=this.showCounts }} Show Counts</div>
    <div>{{input type="checkbox" name="onlyBrushedAxes" checked=this.onlyBrushedAxes }} Filter out unbrushed paths</div>
  {{/if}}
</div>

{{#if this.useHandsOnTable}}
  <div id="paths-table-ho"  ></div>

{{else}}

  {{#data-filterer data=this.tableData as |df|}}
    {{#data-sorter data=df.data as |ds|}}
      {{#data-table data=ds.data
         classNames=this.tableClassNames as |t|}}
        {{#if this.blockColumn}}
          {{t.filterableColumn propertyName='block0'  name='Block'        sortinformationupdated=(action ds.onsortfieldupdated) filterinformationupdated=(action df.onfilterfieldupdated) }}
        {{/if}}
        {{t.sortableColumn propertyName='feature0'  name='From Feature' sortinformationupdated=(action ds.onsortfieldupdated)}}
        {{t.sortableColumn propertyName='position0' name='Position'     sortinformationupdated=(action ds.onsortfieldupdated) class="numeric" }}
        {{#if this.showInterval}}
          {{t.sortableColumn propertyName='positionEnd0' name='Position End'     sortinformationupdated=(action ds.onsortfieldupdated) class="numeric" }}
        {{/if}}
        {{#if this.blockColumn}}
          {{t.filterableColumn propertyName='block1'  name='Block'        sortinformationupdated=(action ds.onsortfieldupdated) filterinformationupdated=(action df.onfilterfieldupdated) }}
        {{/if}}
        {{t.sortableColumn propertyName='feature1'  name='To Feature'   sortinformationupdated=(action ds.onsortfieldupdated)}}
        {{t.sortableColumn propertyName='position1' name='Position'     sortinformationupdated=(action ds.onsortfieldupdated) class="numeric" }}
        {{#if this.showInterval}}
          {{t.sortableColumn propertyName='positionEnd1' name='Position End'     sortinformationupdated=(action ds.onsortfieldupdated) class="numeric" }}
        {{/if}}
      {{/data-table}}
    {{/data-sorter}}
  {{/data-filterer}}
{{/if}}

{{/if}} {{!-- visible --}}
