{{#if block}}
  {{#ember-modal-dialog modal-id="select-parent-modal" title="Select Parent" header-icon='plane'}}

    <p>Before loading this block :
    {{!-- block.id --}} {{block.datasetId.id}}:{{block.name}} ({{block.store.name}})
    </p>
    {{log block}}
    <p>you need to load a reference with name '{{block.datasetId.parentName}}', containing a block with scope '{{block.scope}}'</p>

    <div>
      {{#if referenceBlocks.length}}
        <p>e.g. one of these :
          potential parent references :</p>
        <ul>
          {{#each referenceBlocks as |parentBlock|}}
            <li>
              {{!-- entry (parentBlock) is passed to loadBlock by entry-block-add-button : loadBlock(). --}}
              {{record/entry-block-add-button
                loadBlock=(action loadBlock)
                entry=parentBlock }}
              <span title='{{parentBlock.name}}' >{{parentBlock.name}}</span>
              {{!-- parentBlock.id --}} {{!-- parentBlock.scope --}} {{parentBlock.datasetId.id}} ({{parentBlock.store.name}})</li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if referenceBlocksCopies.length}}
        <p>Local copies of parent references : </p>
        <ul>
          {{#each referenceBlocksCopies as |parentBlock|}}
            <li>{{!-- parentBlock.id --}} {{parentBlock.name}} {{!-- parentBlock.scope --}} {{parentBlock.datasetId.id}} {{parentBlock._meta._origin.host}}</li>
          {{/each}}
        </ul>
      {{/if}}

    </div>

    <div>
      <button
          type="button"
          class="btn btn-danger"
          {{action "clearBlock" preventDefault=false}}>
        Close
      </button>
    </div>

  {{/ember-modal-dialog}}
{{/if}}
