
{{#elem/panel-container state="primary" as |panelContainer|}}
  {{!--  https://fontawesome.com/icons/dna   Unicode  f471  <i class="fas fa-dna"></i> --}}
  {{#elem/panel-heading icon="search" panelContainer=panelContainer}}
    DNA Sequence Blast Search
    <a class="margin-left-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Search-tab/#dna-sequence-blast-search"><i class="glyphicon glyphicon-question-sign"></i></a>
  {{/elem/panel-heading}}

  {{#if panelContainer.showComponent}}

  <div>
    <BsTab @customTabs={{true}} @fade={{false}} @activeId="sequence-search-input" as |tab|>

      <BsNav @type="tabs" as |nav|>
        <nav.item @active={{bs-eq tab.activeId "sequence-search-input"}}><a href="#sequence-search-input" role="tab" onclick={{action tab.select "sequence-search-input"}}>{{elem/icon-base name="edit"}} Sequence Input</a></nav.item>

        {{#each this.searches as |search|}}
        <nav.item @active={{bs-eq tab.activeId search.tabId}}><a href={{search.tabHref}} role="tab" onclick={{action tab.select search.tabId}}>
          <button onclick={{action this.closeResultTab search.tabId}} style="float: right; position: relative; top: -12px; right: -14px; margin-left: -8px;" class="close" type="button">x</button>
          {{elem/icon-base name="arrow-right"}} Blast Output ({{search.timeId}})
          </a></nav.item>
        {{/each}}

      </BsNav>

      <div class="tab-content">

        <tab.pane @id="sequence-search-input" @title="Input : DNA Sequence">


          <div style="margin-left: 0.5em;" class="margin-1em">
              <label>Reference to search : </label>
              <a class="margin-left-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Search-tab/#blast-search-inputs"><i class="glyphicon glyphicon-question-sign"></i></a>
              <select 
                id="parent" 
                onchange={{action (mut this.selectedParent) value="target.value"}} 
                disabled={{this.isProcessing}}
                style="width: 100%"
              >
                <option value='' selected>None</option>
                {{#each this.datasetsToSearch key="name" as |ds|}}
                  <option value={{ds.id}}>{{ds.displayName}}</option>
                {{/each}}
              </select>
          </div>


          <div style="float: right; margin-right: 1em;">
            <a>{{elem/icon-base name="arrow-left"  click=(action this.fromSelectedFeatures) }}</a>
            {{#ember-tooltip side="left" delay=500}}
              Copy Name and Sequence from the first Selected Feature
            {{/ember-tooltip}}
          </div>

          <div style="margin: 0.5em;">DNA Sequence Input :
            <a target="_blank" href="https://en.wikipedia.org/wiki/FASTA_format">FASTA</a>
          </div>

          <Textarea
            class="form-control"
            rows=16
            maxLength={{this.searchStringMaxLength}}
            @value={{this.text}}
            placeholder="e.g. >BobWhite_c10015_641
AGCTGGGTGTCGTTGATCTTCAGGTCCTTCTGGATGTACAGCGACGCTCC" >
          </Textarea>

          <div style="margin: 1em; overflow-y: auto;" class="div-float-button">
            {{#if this.searching}}
              Searching ...
            {{/if}}

            {{#elem/button-base
               click=(action "search")
               classNames=this.refreshClassNames
               disabled=this.searchButtonDisabled
               icon='refresh'
               classColour="primary"
            }}
              <span>&nbsp; Search</span>
            {{/elem/button-base}}

            {{#elem/button-base
               click=(action "clear")
               classNames=this.refreshClassNames
               icon='erase'
               classColour="primary"
            }}
              <span>Clear</span>
            {{/elem/button-base}}

          </div>

          {{elem/panel-message
            successMessage=this.successMessage
            warningMessage=this.warningMessage
            errorMessage=this.errorMessage}}

          {{#if this.nameWarning}}
          {{elem/panel-message
            warningMessage=this.nameWarning}}
          {{/if}}

          <hr>
          <ul class="config-list">

            <li class="list-group-item">
              <label>Optional Inputs</label>
              <a class="margin-left-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Search-tab/#optional-inputs"><i class="glyphicon glyphicon-question-sign"></i></a>
            </li>

            <li class="list-group-item">
              <div>
                <label style="float:right">Table Result Limit</label>
                <span class="sub-label"> Rows : <span>{{ this.resultRows }}</span></span>
              </div>
              <div>
                <input type="range" 
                 id="range-resultRows" 
                 name="resultRows" 
                 min="0" max="2000"
                 value={{this.resultRows}} 
                 oninput={{action (mut this.resultRows) value="target.value"}}
                />
              </div>
            </li>

            {{!-- --------------------------------------------------------- --}}

            <li class="list-group-item">
              <div>
                <label style="float:right">Length of Hit</label>
                <span class="sub-label"><span>{{ this.minLengthOfHit }}</span></span>
              </div>
              <div>
                <input type="range" 
                 min="0" max="{{this.searchStringMaxLength}}"
                 value={{this.minLengthOfHit}}
                 oninput={{action (mut this.minLengthOfHit) value="target.value"}}
                />
              </div>
            </li>

            <li class="list-group-item">
              <div>
                <label style="float:right">% Identity</label>
                <span class="sub-label"><span>{{ this.minPercentIdentity }}</span></span>
              </div>
              <div>
                <input type="range" 
                 min="0" max="100"
                 value={{this.minPercentIdentity}}
                 oninput={{action (mut this.minPercentIdentity) value="target.value"}}
                />
              </div>
            </li>

            <li class="list-group-item">
              <div>
                <label style="float:right">% Coverage</label>
                <span class="sub-label"><span>{{ this.minPercentCoverage }}</span></span>
              </div>
              <div>
                <input type="range" 
                 min="0" max="100"
                 value={{this.minPercentCoverage}}
                 oninput={{action (mut this.minPercentCoverage) value="target.value"}}
                />
              </div>
            </li>

            {{!-- --------------------------------------------------------- --}}


            {{#if this.urlOptions.searchAddDataset}}
            <li class="list-group-item">
              {{input type="checkbox" name="addDataset" checked=this.addDataset }}
              <label>Add as Dataset</label>

              {{!-- copied from data-csv.hbs --}}
              {{#if this.addDataset}}
                <span class="filter-group-col">
                  {{input type="checkbox" name="replaceDataset" checked=this.replaceDataset }}
                  <label>Replace Dataset</label>
                </span>

                <span class="filter-group-col">
                  {{input type="checkbox" name="viewDatasetFlag" checked=this.viewDatasetFlag }}
                  <label>View</label>
                </span>

                <div id="new_dataset_options">
                <Input 
                  @type="text" 
                  @value={{this.newDatasetName }}
                  class="form-control" 
                  placeholder="New dataset name..." 
                  disabled=this.isProcessing
                >
                </Input>  
                </div>

              {{/if}}
            </li>
            {{/if}} {{!-- urlOptions.searchAddDataset --}}


          </ul>



        </tab.pane>

        {{#each this.searches as |search|}}
        <tab.pane @id={{search.tabId}} @title="Output : Blast Matches" style="overflow: auto;">

          {{panel/upload/blast-results search=search
              datasets=this.datasets
              refreshDatasets=this.refreshDatasets
              viewDataset=this.viewDataset
              active=(bs-eq tab.activeId search.tabId ) }}

        </tab.pane>
        {{/each}}

      </div>
    </BsTab>

    {{#if this.isProcessing}}
      {{#elem/panel-form
        name="info"
        heading="Processing..." }}
          {{this.progressMsg}}
      {{/elem/panel-form}}
    {{/if}}

  </div>


  {{/if}} {{!-- showComponent --}}
{{/elem/panel-container}}



