
    <ul id="display-traits" class="list-group">
        {{#if this.displayData.length}}
        {{!-- use min-height because currently only elements are <li> are float. --}}
        <li class="list-group-item" style="min-height: 55px;" >
          <span class="pull-right" >
            {{input
              type="checkbox"
              name="viewAllFlag"
              checked=this.viewAllFlag
              class="toggle-checkbox"
              input=(action this.viewAll value='target.checked')
            }}
          </span>
          <label class="pull-right" style="margin: 0.7em;">Show / Hide QTLs of all Traits</label>
        </li>
        {{/if}}

        {{#each this.displayData as |trait|}}
        <li 
            class="list-group-item {{if (compare trait.id '===' this.selectedTrait.id) 'list-group-item-warning'}}"
            data-trait-id={{trait.id}}
            {{!-- action "selectTrait" trait on="click" --}}>
            <span style={{safe-style background-color=trait.colour}} class="traitColourBlock"></span>
            <span title="{{trait.name}}" class="truncate" style="max-width:260px">
              {{trait.datasetId.name}} {{trait.name}}
            </span>

            <span class="pull-right">
              {{input type="checkbox" name="viewTraitFlag" checked=trait.visible class="toggle-checkbox" }}
            </span>

            <p class="list-group-item-text">
            {{!-- data-trait-id is not used yet; it contains the unmodified trait.name, so it can be used to lookup trait information --}}
            <button type="button" class="btn btn-info label label-info" data-trait-id={{concat 'tqt_' trait.name}} id={{concat 'tqt_' (without-punctuation trait.name)}} {{on 'click' (action this.traitQtlsClick trait) }} >
                {{elem/icon-base name="asterisk"}} &nbsp;{{trait.features.length}}
            </button> &nbsp;
            </p>

        </li>
        {{/each}}
    </ul>


    {{#if this.showModal}}
      {{#if this.traitQtlsTargetId}}
        {{#if this.traitSelected}}
          {{#ember-modal-dialog title="QTLs of trait"
            clickOutsideToClose=true
            onClose=(action this.closeTraitQtlsDialog)
            tetherTarget=this.traitQtlsTargetId 
            targetAttachment='bottom right'
            attachment='top left'
             }}
            <ul class='feature-found'>
              {{#each this.traitSelected.features as |feature|}}
              <li>
                {{feature.name}}
              </li>
              {{/each}}
            </ul>
            <button type="button" {{on 'click' (action this.closeTraitQtlsDialog) }} style="margin-top: 1ex;">Close</button>
          {{/ember-modal-dialog}}
          <!-- Placeholder -->{{!-- to prevent exception when the above element is removed :
          Uncaught TypeError: current is null
              clear runtime.js:131
              reset runtime.js:1256
          ...
              closeTraitQtlsDialog trait-qtl.js:61
          --}}
        {{/if}}
      {{/if}}
    {{/if}}

