{{#elem/panel-container state="primary" as |panelContainer|}}
    {{#elem/panel-heading icon="globe" panelContainer=panelContainer}}
        Traits : QTLs
        {{#if displayData.length}}
        <span class="pull-right">
          {{input type="checkbox" name="viewAllFlag" checked=viewAllFlag }}
        </span>
        {{/if}}
    {{/elem/panel-heading}}
    {{#if panelContainer.showComponent}}

    <ul id="display-traits" class="list-group">
        {{#each displayData as |trait|}}
        <li 
            class="list-group-item {{if (compare trait.id '===' selectedTrait.id) 'list-group-item-warning'}}"
            data-trait-id={{trait.id}}
            {{!-- action "selectTrait" trait on="click" --}}>
            <span title="{{trait.name}}" class="truncate" style="max-width:260px">
              {{trait.datasetId.name}} {{trait.name}}
            </span>

            <span class="pull-right">
              {{input type="checkbox" name="viewTraitFlag" checked=viewTraitFlag }}
            </span>

            <p class="list-group-item-text">
            <span class="label label-info">
                {{elem/icon-base name="asterisk"}} &nbsp;{{trait.features.length}}
            </span> &nbsp;
            </p>
        </li>
        {{/each}}
    </ul>

  {{/if}} {{!-- showComponent --}}
{{/elem/panel-container}}

