{{#elem/panel-container state="primary" class="no-side-border" as |panelContainer|}}
  {{#elem/panel-heading icon="edit" panelContainer=panelContainer}}
    Data Specification
    <a class="panel-heading-help" target="_blank" href="https://docs.plantinformatics.io/Basic-Functions/Upload-tab/"><i class="glyphicon glyphicon-question-sign"></i></a>

  {{/elem/panel-heading}}
  {{#if panelContainer.showComponent}}

  <div class="panel-body">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      {{#each-in this.filterOptions as |key value|}}
        <div class="btn-group" role="group">
          <button
              type="button"
              class="btn {{if (compare key '===' this.filter) 'btn-info' 'btn-default'}}"
              {{action "changeFilter" key preventDefault=false}}>
            {{elem/icon-base name=value.icon}} &nbsp;{{value.formal}}

          </button>
        </div>
      {{/each-in}}
    </div>
  </div>


{{#if this.serverTabSelected }}
  <div>Destination Server: {{ this.serverTabSelected }} </div>
{{/if}}
{{#if this.errorMessage}}
  <br>
  {{#elem/panel-form
    name="danger"
    heading="Error"}}
    {{this.errorMessage}}
  {{/elem/panel-form}}
{{/if}}
{{#if this.successMessage}}
  <br>
  {{#elem/panel-form
    name="success"
    heading="Success"}}
    {{this.successMessage}}
  {{/elem/panel-form}}
{{/if}}
{{#if this.warningMessage}}
  <br>
  {{#elem/panel-form
    name="warning"
    heading="Warning"}}
    {{this.warningMessage}}
  {{/elem/panel-form}}
{{/if}}

{{#if (compare this.filter '===' 'fileDrop')}}
  {{panel/upload/file-drop-zone
    refreshDatasets=this.refreshDatasets
    }}
{{else if (compare this.filter '===' 'cell')}}
  {{panel/upload/data-csv
    datasets=this.datasets
    refreshDatasets=this.refreshDatasets
    viewDataset=this.viewDataset
    active=this.active
  }}
{{else if (compare this.filter '===' 'json')}}
  {{panel/upload/data-json
    refreshDatasets=this.refreshDatasets
  }} 
{{/if}}

  {{/if}} {{!-- showComponent --}}
{{/elem/panel-container}}
