{{#elem/panel-container state="primary"}}
  {{#elem/panel-heading icon="edit"}}
    Data Specification
  {{/elem/panel-heading}}
  <div class="panel-body">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      {{#each-in filterOptions as |key value|}}
        <div class="btn-group" role="group">
          <button
              type="button"
              class="btn {{if (compare key '===' filter) 'btn-info' 'btn-default'}}"
              {{action "changeFilter" key preventDefault=false}}>
            {{elem/icon-base name=value.icon}} &nbsp;{{value.formal}}

          </button>
        </div>
      {{/each-in}}
    </div>
  </div>
{{/elem/panel-container}}

{{#if serverTabSelected }}
  <div>Destination Server: {{ serverTabSelected }} </div>
{{/if}}
{{#if errorMessage}}
  <br>
  {{#elem/panel-form
    name="danger"
    heading="Error"}}
    {{errorMessage}}
  {{/elem/panel-form}}
{{/if}}
{{#if successMessage}}
  <br>
  {{#elem/panel-form
    name="success"
    heading="Success"}}
    {{successMessage}}
  {{/elem/panel-form}}
{{/if}}
{{#if warningMessage}}
  <br>
  {{#elem/panel-form
    name="warning"
    heading="Warning"}}
    {{warningMessage}}
  {{/elem/panel-form}}
{{/if}}

{{#if (compare filter '===' 'cell')}}
  {{panel/upload/data-csv
    datasets=datasets
    refreshDatasets=refreshDatasets
    active=active
  }}
{{else if (compare filter '===' 'json')}}
  {{panel/upload/data-json
    refreshDatasets=refreshDatasets
  }} 
{{/if}}
