{{#elem/panel-container state="primary"}}
  {{#elem/panel-heading icon="option-vertical"}}
    Selected Axis Options
  {{/elem/panel-heading}}
  <ul class="list-group">
    <li class="list-group-item">
      <div class="btn-group btn-group-sm btn-group-justified">
        <div class="btn-group ff-alpha">
          {{#elem/button-base
             icon="adjust"
             classColour="primary"
             click=(action "clearScaffoldColours")}}
            Clear Scaffold Colours
          {{/elem/button-base}}
        </div>
        <div class="btn-group">
          {{#elem/button-base
             icon="random"
             classColour="primary"
             click=(action "flipRegion")}}
            Flip Region
          {{/elem/button-base}}
        </div>
        <div class="btn-group">
          {{#elem/button-base
             icon="resize-full"
             classColour="primary"
             click=(action "resetZooms")}}
            Reset Zooms
          {{/elem/button-base}}
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div>
        <ul class="nav nav-tabs li-active-extra">
          <!-- To change the initial active tab, change .active class of both .active-detail and .tab-pane; change also .in class of the latter.
               also change send(pathTabActive ) in didInsertElement()
             -->
          <li class="active-detail">
	    <a data-toggle="tab" href="#tab-paths-density" onclick={{action "pathTabActive" "density"}}>Paths - Density</a>
            <div>{{ pathControlActiveDensity }}</div>
          </li>
          <li class="active-detail active">
	    <a data-toggle="tab" href="#tab-paths-sample" onclick={{action "pathTabActive" "sample"}}>- Sample</a>
            <div>{{ pathControlActiveSample }}</div>
          </li>

        </ul>

        <div class="tab-content">

          <div id="tab-paths-density" class="tab-pane fade">
            <input type="range" 
	           id="range-pathDensity" 
	           value={{pathDensity}}
                   oninput={{action (mut pathDensity) value="target.value"}}
	           min="-50" max="50"
            >
          </div>

          <div id="tab-paths-sample" class="tab-pane fade in active">
            <input type="range" 
	           id="range-pathSample" 
	           value={{pathSample}}
                   oninput={{action (mut pathSample) value="target.value"}}
	           min="0" max="100"
            >
          </div>

        </div>

      </div>

    </li>
    <li class="list-group-item">
      <div>
        {{input type="checkbox" checked=pathsViaStream class="toggle"}}
        <label>Path Stream</label>
        <span style="margin-left:2em; vertical-align: bottom;">Limit : {{ pathControlNFeatures }}</span>
      </div>
      <div>
        <input type="range" 
	       id="range-pathNFeatures" 
	       value={{pathNFeatures}} 
               oninput={{action (mut pathNFeatures) value="target.value"}}
	       min="0" max="100"
        />
      </div>

    </li>



    <li class="list-group-item">
      <input type="checkbox" 
             id="checkbox-toggleModePathHover" 
             name="toggleCheckbox" 
      />
      <label>Path Hover info</label>
    </li>
    <li class="list-group-item">
      <input type="checkbox" 
             id="checkbox-togglePathUpdate"
             name="toggleCheckbox" 
	     checked="checked"
      />
      <label>Path update during drag</label>
    </li>
    <li class="list-group-item">
      <input type="checkbox" 
             id="checkbox-toggleModePublish" 
             name="toggleCheckbox" 
      />
      <label>Publish Mode</label>
    </li>
    <li class="list-group-item">
      <input type="checkbox" 
	     id="checkbox-toggleShowAll" 
	     name="toggleShowAll" 
	     checked="checked"
      />
      <label>Show All</label>
    </li>
    <li class="list-group-item">
      <input type="checkbox" 
	     id="checkbox-toggleShowSelectedMarkers" 
	     name="toggleShowSelectedMarkers" 
	     checked="checked"
      />
      <label>List Selected Features</label>
    </li>

    <li class="list-group-item">
      <label>Path Opacity</label>
      <input type="range" 
	     id="range-pathOpacity" 
	     name="pathOpacity" 
	     min="0" max="100"
	     value="12.5"
      />
    </li>
    <li class="list-group-item">
      <label>Path Width</label>
      <input type="range" 
	     id="range-pathWidth" 
	     name="pathWidth" 
	     min="0" max="300"
	     value="75"
      />
    </li>
    <li class="list-group-item ff-alpha">
      <label>Synteny Block Size Threshold</label>
      <input type="range" 
	     id="range-sbSizeThreshold" 
	     name="sbSizeThreshold" 
	     min="0" max="50"
	     value="22"
      />
    </li>
  </ul>
{{/elem/panel-container}}
