<div style="display:flex">

  <span style="margin:1em; width: 20%;">
    {{#elem/icon-toggle state=detailed iconTrue='collapse-down' iconFalse='expand' }}
    {{#ember-tooltip side="right" delay=500}}
    Toggle display of QTL colour and filtering controls.
    {{/ember-tooltip}}
    {{/elem/icon-toggle}}
  </span>

  <span style="flex : 1; margin-top:1em">
    <input type="checkbox"
    checked={{this.tabSticky}}
    oninput={{action (action (mut this.tabSticky) value="target.checked") }}  >
    <label>Make this tab sticky</label>
  </span>
</div>


{{#if detailed}}

  <ul class="list-group view-controls">

    <li class="list-group-item">
      <label style="display:inline">QTL colour by :</label>
      {{radio-button value='Ontology' groupValue=qtlColourBy
        changed=(action qtlColourByChanged preventDefault=false)
      }}
      Ontology &nbsp;&nbsp;
      {{radio-button value='Trait' groupValue=qtlColourBy
        changed=(action qtlColourByChanged preventDefault=false)
      }}
      Trait &nbsp;&nbsp;
      {{radio-button value='Block' groupValue=qtlColourBy
        changed=(action qtlColourByChanged preventDefault=false)
      }}
      Block

    </li>

    <li class="list-group-item horiz-2">
      <label>Filter by : </label>
      <div style="width:30%">
        <input type="checkbox"
          checked={{this.visibleByOntology}}
          oninput={{action (pipe
            (action (mut this.visibleByOntology) value="target.checked")
            (action @changed this 'visibleByOntology') ) }}  >
        <label>Ontology</label>
      </div>
      <div style="width:30%">
        <input type="checkbox"
          checked={{this.visibleByTrait}}
          oninput={{action (pipe
            (action (mut this.visibleByTrait) value="target.checked")
            (action @changed this 'visibleByTrait') ) }}  >
        <label>Trait</label>
      </div>
    </li>


  </ul>

{{/if}}
